@import "src/assets/css/vars_mixins/vars_mixins";
.basket {
	border-top: 1px solid #6a6a6a;
	border-bottom: 1px solid #6a6a6a;
}
.basket-empty {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 60px;
	margin-bottom: 100px;

	&__title {
		font-style: normal;
		font-weight: 600;
		@include lineheight(36, 46);
		color: #131313;
		margin-bottom: 12px;
	}
	&__descr {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		@include lineheight(18, 23);
		margin-bottom: 86px;
		@media (max-width: $sm - 1) {
			font-size: 14px;
			margin-bottom: 40px;
		}
	}
	&__logo {
		display: flex;
		width: 110px;
		height: 110px;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: #6a6a6a;
		margin-bottom: 25px;
		@media (max-width: $sm - 1) {
			width: 70px;
			height: 70px;
			img {
				max-width: 40%;
			}
		}
	}
	&__devices {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: 1024px) {
			&:hover {
				.basket-empty__link {
					color: $c-primary;
				}
			}
		}
	}
	&__link {
		font-weight: 800;
		line-height: 30px;
		color: #131313;
	}
}
