@import 'src/assets/css/vars_mixins/vars_mixins';

.slider-first-screen {
  overflow: hidden;
  width: 100%;
  @media (min-width: 1440px) {
    max-width: 1100px;
  }
  @media (min-width: 1200px) {
    max-width: 870px;
  }
  @media (max-width: 1199px) {
    max-width: 994px;
  }
  @media (min-width: 1024px) {
    &:hover {
      .fs-slider .swiper-pagination, .fs-slider .custom-swiper-btn {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
      }
      .fs-slider .custom-swiper-btn__prev {
        left: 3%;
        transition: left .3s;
      }
      .fs-slider .custom-swiper-btn__next {
        right: 3%;
        transition: right .3s;
      }
    }
  }
}
.fs-slider {
  &__slide {
    width: 100%;
    max-width: 100%;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    overflow: hidden;
    width: 100%;
    max-height: 100%;
    margin: auto;
    border-radius: 12px;
  }
  .swiper-container {
    overflow: hidden;
    max-width: 100%;
  }
  .custom-swiper-btn {
    top: calc(50% - 32px);
    width: 64px;
    height: 64px;
    .icon {
      width: 26px !important;
      fill: #fff !important;
    }
    &:hover {
      .icon {
        width: 26px !important;
        fill: #ff7f24 !important;
      }
    }
  }
  .custom-swiper-btn__prev {
    left: -10%;
  }
  .custom-swiper-btn__next {
    right: -10%;
  }
  .swiper-pagination {
    z-index: 1;
    top: unset;
    bottom: 7%;
  }
  .swiper-pagination-bullet {
    border: 2px solid #fff;
    background: rgba(242, 242, 242, .5);
    &:hover {
      border: 2px solid #ff7f24;
    }
    &.swiper-pagination-bullet-active {
      border: 2px solid #fff;
      background: #fff;
      &:hover {
        border: 2px solid #ff7f24;
        background: #ff7f24;
      }
    }
  }
  @media (min-width: 1024px) {
    .swiper-pagination, .custom-swiper-btn {
      visibility: hidden;
      opacity: 0;
      transition: left 0.3s, right 0.3s, visibility 0.3s, opacity 0.3s;
      pointer-events: none;
    }
  }
  @media (max-width: 416px) {
    &__slide {
      position: relative;
      max-height: 500px;
    }
  }
}
