extends ../../layout/layout

block vars
	- var pageTitle = 'Корзина'
	- var pageBodyClass = ''
	- var dir = './'


block premain

	include ../../components/shops/shops

block main
	.no-critical.no-critical--preloader


block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
