//- mixin datapicker(args)
//- 	+include-script('datepicker')
//- 	-
//- 		args.mod = 'form-control--datepicker js-form-control--datepicker'
//- 	+input(args)&attributes(attributes)
//- 		+icon('i-calendar')(style='width: 24px; height: 24px;')
