mixin products-slider_collections()
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--wait', name: 'Ожидается через 20 дней'},
			imgs_list: [
				{img: 'images/product6.jpg'},
				{img: 'images/product7.jpg'},
				{img: 'images/product8.jpg'},
				{img: 'images/product9.jpg'},
				{img: 'images/product10.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product6_1.jpg,' +
						'images/product7_1.jpg,' +
						'images/product8_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product8_1.jpg,' +
						'images/product9_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product6_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Коллекция Мебель руководителя  Омега 324-М Коллекция Мебель руководителя  Омега 324-М Коллекция Мебель руководителя  Омега 324-М',
			price_old: '200 000 р.',
			price_sale: '-25%',
			price: '200 000',
			in_cart: '1',
			collection: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--yellow', name: 'Новинка',},
				{class: '', name: 'Новость',},
				{class: 'pbadge--yellow', name: 'Акция',},
			],
			status: {class: '', name: 'В наличии'},
			imgs_list: [
				{img: 'images/product10.jpg'},
				{img: 'images/product6.jpg'},
				{img: 'images/product7.jpg'},
				{img: 'images/product8.jpg'},
				{img: 'images/product9.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product6_1.jpg,' +
						'images/product7_1.jpg,' +
						'images/product8_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product8_1.jpg,' +
						'images/product9_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product6_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Коллекция Мебель руководителя  Омега 324-М',
			price_old: '200 000 р.',
			price_sale: '-25%',
			price: '200 000',
			in_cart: '1',
			collection: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--out', name: 'Снят с производства'},
			imgs_list: [
				{img: 'images/product9.jpg'},
				{img: 'images/product10.jpg'},
				{img: 'images/product6.jpg'},
				{img: 'images/product7.jpg'},
				{img: 'images/product8.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product6_1.jpg,' +
						'images/product7_1.jpg,' +
						'images/product8_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product8_1.jpg,' +
						'images/product9_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product6_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Коллекция Мебель руководителя  Омега 324-М',
			price_old: '200 000 р.',
			price_sale: '-25%',
			price: '200 000',
			in_cart: '1',
			collection: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--order', name: 'Под заказ'},
			imgs_list: [
				{img: 'images/product8.jpg'},
				{img: 'images/product9.jpg'},
				{img: 'images/product10.jpg'},
				{img: 'images/product6.jpg'},
				{img: 'images/product7.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product6_1.jpg,' +
						'images/product7_1.jpg,' +
						'images/product8_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product8_1.jpg,' +
						'images/product9_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product6_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Коллекция Мебель руководителя  Омега 324-М',
			price_old: '',
			price_sale: '',
			price: '200 000',
			in_cart: '',
			collection: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--order', name: 'Под заказ'},
			imgs_list: [
				{img: 'images/product7.jpg'},
				{img: 'images/product8.jpg'},
				{img: 'images/product9.jpg'},
				{img: 'images/product10.jpg'},
				{img: 'images/product6.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product6_1.jpg,' +
						'images/product7_1.jpg,' +
						'images/product8_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product8_1.jpg,' +
						'images/product9_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product6_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Коллекция Мебель руководителя  Омега 324-М',
			price_old: '',
			price_sale: '',
			price: '200 000',
			in_cart: '',
			collection: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--wait', name: 'Ожидается через 20 дней'},
			imgs_list: [
				{img: 'images/product6.jpg'},
				{img: 'images/product7.jpg'},
				{img: 'images/product8.jpg'},
				{img: 'images/product9.jpg'},
				{img: 'images/product10.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product6_1.jpg,' +
						'images/product7_1.jpg,' +
						'images/product8_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product8_1.jpg,' +
						'images/product9_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product6_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Коллекция Мебель руководителя  Омега 324-М',
			price_old: '200 000 р.',
			price_sale: '-25%',
			price: '200 000',
			in_cart: '1',
			collection: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--yellow', name: 'Новинка',},
				{class: '', name: 'Новость',},
				{class: 'pbadge--yellow', name: 'Акция',},
			],
			status: {class: '', name: 'В наличии'},
			imgs_list: [
				{img: 'images/product10.jpg'},
				{img: 'images/product6.jpg'},
				{img: 'images/product7.jpg'},
				{img: 'images/product8.jpg'},
				{img: 'images/product9.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product6_1.jpg,' +
						'images/product7_1.jpg,' +
						'images/product8_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product8_1.jpg,' +
						'images/product9_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product6_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Коллекция Мебель руководителя  Омега 324-М',
			price_old: '200 000 р.',
			price_sale: '-25%',
			price: '200 000',
			in_cart: '1',
			collection: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--out', name: 'Снят с производства'},
			imgs_list: [
				{img: 'images/product9.jpg'},
				{img: 'images/product10.jpg'},
				{img: 'images/product6.jpg'},
				{img: 'images/product7.jpg'},
				{img: 'images/product8.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product6_1.jpg,' +
						'images/product7_1.jpg,' +
						'images/product8_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product8_1.jpg,' +
						'images/product9_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product6_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Коллекция Мебель руководителя  Омега 324-М',
			price_old: '200 000 р.',
			price_sale: '-25%',
			price: '200 000',
			in_cart: '1',
			collection: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--order', name: 'Под заказ'},
			imgs_list: [
				{img: 'images/product8.jpg'},
				{img: 'images/product9.jpg'},
				{img: 'images/product10.jpg'},
				{img: 'images/product6.jpg'},
				{img: 'images/product7.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product6_1.jpg,' +
						'images/product7_1.jpg,' +
						'images/product8_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product8_1.jpg,' +
						'images/product9_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product6_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Коллекция Мебель руководителя  Омега 324-М',
			price_old: '',
			price_sale: '',
			price: '200 000',
			in_cart: '',
			collection: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--order', name: 'Под заказ'},
			imgs_list: [
				{img: 'images/product7.jpg'},
				{img: 'images/product8.jpg'},
				{img: 'images/product9.jpg'},
				{img: 'images/product10.jpg'},
				{img: 'images/product6.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product6_1.jpg,' +
						'images/product7_1.jpg,' +
						'images/product8_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product8_1.jpg,' +
						'images/product9_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product6_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Коллекция Мебель руководителя  Омега 324-М',
			price_old: '',
			price_sale: '',
			price: '200 000',
			in_cart: '',
			collection: true,
		})
	.slide-false
		.link-arrow
			a.link-arrow__link(href="/catalog/kulinarnaya-produktsiya-isg359/goryachie-blyuda-isg37/" aria-label="Еще больше")
				span Смотреть больше
mixin products-slider_products()
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--wait', name: 'Ожидается через 20 дней'},
			imgs_list: [
				{img: 'images/product1.jpg'},
				{img: 'images/product2.jpg'},
				{img: 'images/product3.jpg'},
				{img: 'images/product4.jpg'},
				{img: 'images/product5.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product1_1.jpg,' +
						'images/product2_1.jpg,' +
						'images/product3_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product4_1.jpg,' +
						'images/product5_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product3_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Офисное кресло Chairman CH-250 White кресло Chairman CH-250 White кресло Chairman CH-250 White',
			price_old: '200 000 р.',
			price_sale: '-25%',
			price: '200 000',
			in_cart: '1',
			collection: false,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--yellow', name: 'Новинка',},
				{class: '', name: 'Новость',},
				{class: 'pbadge--yellow', name: 'Акция',},
			],
			status: {class: '', name: 'В наличии'},
			imgs_list: [
				{img: 'images/product5.jpg'},
				{img: 'images/product1.jpg'},
				{img: 'images/product2.jpg'},
				{img: 'images/product3.jpg'},
				{img: 'images/product4.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product1_1.jpg,' +
						'images/product2_1.jpg,' +
						'images/product3_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product4_1.jpg,' +
						'images/product5_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product3_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Офисное кресло Chairman CH-250 White',
			price_old: '200 000 р.',
			price_sale: '-25%',
			price: '200 000',
			in_cart: '1',
			collection: false,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--out', name: 'Снят с производства'},
			imgs_list: [
				{img: 'images/product4.jpg'},
				{img: 'images/product5.jpg'},
				{img: 'images/product1.jpg'},
				{img: 'images/product2.jpg'},
				{img: 'images/product3.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product1_1.jpg,' +
						'images/product2_1.jpg,' +
						'images/product3_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product4_1.jpg,' +
						'images/product5_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product3_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Офисное кресло Chairman CH-250 White',
			price_old: '200 000 р.',
			price_sale: '-25%',
			price: '200 000',
			in_cart: '1',
			collection: false,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--order', name: 'Под заказ'},
			imgs_list: [
				{img: 'images/product3.jpg'},
				{img: 'images/product4.jpg'},
				{img: 'images/product5.jpg'},
				{img: 'images/product1.jpg'},
				{img: 'images/product2.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product1_1.jpg,' +
						'images/product2_1.jpg,' +
						'images/product3_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product4_1.jpg,' +
						'images/product5_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product3_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Офисное кресло Chairman CH-250 White',
			price_old: '',
			price_sale: '',
			price: '200 000',
			in_cart: '',
			collection: false,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--order', name: 'Под заказ'},
			imgs_list: [
				{img: 'images/product2.jpg'},
				{img: 'images/product3.jpg'},
				{img: 'images/product4.jpg'},
				{img: 'images/product5.jpg'},
				{img: 'images/product1.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product1_1.jpg,' +
						'images/product2_1.jpg,' +
						'images/product3_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product4_1.jpg,' +
						'images/product5_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product3_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Офисное кресло Chairman CH-250 White',
			price_old: '',
			price_sale: '',
			price: '200 000',
			in_cart: '',
			collection: false,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--order', name: 'Под заказ'},
			imgs_list: [
				{img: 'images/product1.jpg'},
				{img: 'images/product2.jpg'},
				{img: 'images/product3.jpg'},
				{img: 'images/product4.jpg'},
				{img: 'images/product5.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product1_1.jpg,' +
						'images/product2_1.jpg,' +
						'images/product3_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product4_1.jpg,' +
						'images/product5_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product3_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Офисное кресло Chairman CH-250 White',
			price_old: '',
			price_sale: '',
			price: '200 000',
			in_cart: '',
			collection: false,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--order', name: 'Под заказ'},
			imgs_list: [
				{img: 'images/product2.jpg'},
				{img: 'images/product3.jpg'},
				{img: 'images/product4.jpg'},
				{img: 'images/product5.jpg'},
				{img: 'images/product1.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product1_1.jpg,' +
						'images/product2_1.jpg,' +
						'images/product3_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product4_1.jpg,' +
						'images/product5_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product3_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Офисное кресло Chairman CH-250 White',
			price_old: '',
			price_sale: '',
			price: '200 000',
			in_cart: '',
			collection: false,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--order', name: 'Под заказ'},
			imgs_list: [
				{img: 'images/product1.jpg'},
				{img: 'images/product2.jpg'},
				{img: 'images/product3.jpg'},
				{img: 'images/product4.jpg'},
				{img: 'images/product5.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product1_1.jpg,' +
						'images/product2_1.jpg,' +
						'images/product3_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product4_1.jpg,' +
						'images/product5_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product3_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Офисное кресло Chairman CH-250 White',
			price_old: '',
			price_sale: '',
			price: '200 000',
			in_cart: '',
			collection: false,
		})
mixin products-slider_products_more()
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--wait', name: 'Ожидается через 20 дней'},
			imgs_list: [
				{img: 'images/product1.jpg'},
				{img: 'images/product2.jpg'},
				{img: 'images/product3.jpg'},
				{img: 'images/product4.jpg'},
				{img: 'images/product5.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product1_1.jpg,' +
						'images/product2_1.jpg,' +
						'images/product3_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product4_1.jpg,' +
						'images/product5_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product3_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Офисное кресло Chairman CH-250 White кресло Chairman CH-250 White кресло Chairman CH-250 White',
			price_old: '200 000 р.',
			price_sale: '-25%',
			price: '200 000',
			in_cart: '1',
			collection: false,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--yellow', name: 'Новинка',},
				{class: '', name: 'Новость',},
				{class: 'pbadge--yellow', name: 'Акция',},
			],
			status: {class: '', name: 'В наличии'},
			imgs_list: [
				{img: 'images/product5.jpg'},
				{img: 'images/product1.jpg'},
				{img: 'images/product2.jpg'},
				{img: 'images/product3.jpg'},
				{img: 'images/product4.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product1_1.jpg,' +
						'images/product2_1.jpg,' +
						'images/product3_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product4_1.jpg,' +
						'images/product5_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product3_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Офисное кресло Chairman CH-250 White',
			price_old: '200 000 р.',
			price_sale: '-25%',
			price: '200 000',
			in_cart: '1',
			collection: false,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--out', name: 'Снят с производства'},
			imgs_list: [
				{img: 'images/product4.jpg'},
				{img: 'images/product5.jpg'},
				{img: 'images/product1.jpg'},
				{img: 'images/product2.jpg'},
				{img: 'images/product3.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product1_1.jpg,' +
						'images/product2_1.jpg,' +
						'images/product3_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product4_1.jpg,' +
						'images/product5_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product3_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Офисное кресло Chairman CH-250 White',
			price_old: '200 000 р.',
			price_sale: '-25%',
			price: '200 000',
			in_cart: '1',
			collection: false,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--order', name: 'Под заказ'},
			imgs_list: [
				{img: 'images/product3.jpg'},
				{img: 'images/product4.jpg'},
				{img: 'images/product5.jpg'},
				{img: 'images/product1.jpg'},
				{img: 'images/product2.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product1_1.jpg,' +
						'images/product2_1.jpg,' +
						'images/product3_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product4_1.jpg,' +
						'images/product5_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product3_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Офисное кресло Chairman CH-250 White',
			price_old: '',
			price_sale: '',
			price: '200 000',
			in_cart: '',
			collection: false,
		})
	.swiper-slide
		+product-item({
			ajax_plug: false,
			mod_class: 'product-item--slider',
			badges_list: [
				{class: 'pbadge--primary', name: 'Распродажа',},
				{class: '', name: 'Рандомный',},
				{class: 'pbadge--primary', name: 'Хит',},
			],
			status: {class: 'pstatus--order', name: 'Под заказ'},
			imgs_list: [
				{img: 'images/product2.jpg'},
				{img: 'images/product3.jpg'},
				{img: 'images/product4.jpg'},
				{img: 'images/product5.jpg'},
				{img: 'images/product1.jpg'},
			],
			colors_list: [
				{color: '#DEBC72'},
				{
					color: '#E4411D',
					imgs_list: 'images/product1_1.jpg,' +
						'images/product2_1.jpg,' +
						'images/product3_1.jpg'
				},
				{
					color: '#56CCF2',
					imgs_list: 'images/product4_1.jpg,' +
						'images/product5_1.jpg'
				},
				{
					color: '#9A683A',
					imgs_list: 'images/product3_1.jpg'
				},
			],
			size: 'Д/Ш/В: 1200х1000х720',
			title: 'Офисное кресло Chairman CH-250 White',
			price_old: '',
			price_sale: '',
			price: '200 000',
			in_cart: '',
			collection: false,
		})
	.slide-false
		.link-arrow
			a.link-arrow__link(href="/catalog/kulinarnaya-produktsiya-isg359/goryachie-blyuda-isg37/" aria-label="Еще больше")
				span Смотреть больше


//для тестов на скорость загрузки
mixin products-slider_gps()
	.swiper-slide
		+product-item({
			ajax_plug: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: true,
		})
	.swiper-slide
		+product-item({
			ajax_plug: true,
		})
mixin products-slider(args={})
	+include-style('products-slider')
	+include-script('products-slider')

	if(args.four_items_slider)
		+swiper({
			navigation: true,
			pagination: false,
			container_mod: '',
			wrapper_mod: '',
			arrow_prev_mod: '',
			arrow_next_mod: '',
			pagination_mod: '',
		}).products-slider.js-products-slider-four
			if(args.gps)
				+products-slider_gps()
			else
				if(args.collections)
					+products-slider_collections()
				else
					+products-slider_products()
	else
		+swiper({
			navigation: true,
			pagination: false,
			container_mod: '',
			wrapper_mod: '',
			arrow_prev_mod: '',
			arrow_next_mod: '',
			pagination_mod: '',
		}).products-slider.js-products-slider
			if(args.gps)
				+products-slider_gps()
			else
				if(args.collections)
					+products-slider_collections()
				else
					+products-slider_products()
mixin products-slider-more(args={})
	+include-style('products-slider')
	+include-script('products-slider')

	if(args.four_items_slider)
		+swiper({
			navigation: true,
			pagination: false,
			container_mod: '',
			wrapper_mod: '',
			arrow_prev_mod: '',
			arrow_next_mod: '',
			pagination_mod: '',
		}).products-slider.js-products-slider-four
			if(args.gps)
				+products-slider_gps()
			else
				if(args.collections)
					+products-slider_collections()
				else
					+products-slider_products_more()
	else
		+swiper({
			navigation: true,
			pagination: false,
			container_mod: '',
			wrapper_mod: '',
			arrow_prev_mod: '',
			arrow_next_mod: '',
			pagination_mod: '',
		}).products-slider.js-products-slider
			if(args.gps)
				+products-slider_gps()
			else
				if(args.collections)
					+products-slider_collections()
				else
					+products-slider_products_more()