+include-style('for-section')

+b('section').for-section
    .container
        +e.__header.section-header
            +e('h2').__title.section-header__title.h1 Мебель для персонала
            +e.__link.section-header__link
                a(href="#").link Показать все <sup>16</sup>
            +e.__btn.section-header__btn
                a(href="#").btn.btn--primary
                    span Помогите мне выбрать
        +e.__body
            +products-slider({
                collections: true,
            })