@import "src/assets/css/vars_mixins/vars_mixins";
.pagination-loader {
	width: 100%;
	margin-top: 20px;
}


.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 30px;
	text-align: center;
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		padding: 0;
		list-style: none;
	}
	&__item {
		display: flex;
		margin: 0 6px;
		transition: background 0.3s, color 0.2s, border 0.3s;
		border: 1px solid transparent;
		color: $c-link;
		&--first {
			transform: rotate(180deg);
		}
		&:hover {
			border: 1px solid $c-bg-3;
			background: $c-bg-3;
			.pagination__link {
				color: $c-link;
			}
			.icon {
				fill: $white;
			}
		}
		&.active {
			cursor: default;
			border: 1px solid transparent;
			background: $c-link;
			position: relative;
			box-sizing: border-box;
			&:after {
				left: 0px;
				top: 1px;
				position: absolute;
				content: "";
				width: 100%;
				height: calc(100% - 2px);
				background-color: transparent;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
			}
			.pagination__link {
				color: $white;
			}
			.icon {
				stroke: $c-link;
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 44px;
		height: 44px;
		transition: background 0.3s, color 0.2s, border 0.3s;
		color: $c-link;
		font-size: 20px;
		line-height: 1;
		.icon {
			stroke: $c-link;
		}
	}

	@media (max-width: 575px) {
		&__total {
			display: none;
		}
		&__item {
			margin: 0 2px;
		}
		&__link {
			width: 27px;
			height: 27px;
			font-size: 14px;
		}
		&__item--first {
			margin: 0;
		}
		&__item--last {
			margin: 0;
		}
	}
}
.pagination-to-end, .pagination-to-start{
	@media (max-width: $md - 1){
		display: none;
	}
}