extends ../../layout/layout

block vars
	- var pageTitle = 'Обивки'
	- var pageBodyClass = ''
	- var dir = './'


block premain
	+page-header-section({
		title: 'Обивки',
		colClasses: 'col-12',
	})
		+breadcrumb({
			content1: 'Обивки',
			href_content1: '',
			content2: '',
			href_content2: '',
			content3: '',
		})
	include ../../components/casing-section/casing-section


block main
	.no-critical.no-critical--preloader
		//- include ../../components/collections/collections
		//- include ../../components/about-section/about-section
		//- include ../../components/news-section/news-section
		//- include ../../components/achievments/achievments





block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
