+include-style('sertificates')
+fancy-box()
.sertificates-wrap
	.container
		.sertificates-list
			a(href="/local/templates/html/images/sertificate-1.jpg" data-fancybox="gallery").sertificate
				span.sertificate__img
					img(src="/local/templates/html/images/sertificate-1.jpg")
				span.sertificate__title Аттестат Аккредитации
					+icon('i-link')(style="width:15px; height: 15px")
			a(href="/local/templates/html/images/sertificate-2.jpg" data-fancybox="gallery").sertificate
				span.sertificate__img
					img(src="/local/templates/html/images/sertificate-2.jpg")
				span.sertificate__title Официальный партнер компании EGGER
					+icon('i-link')(style="width:15px; height: 15px")
			a(href="/local/templates/html/images/sertificate-3.jpg" data-fancybox="gallery").sertificate
				span.sertificate__img
					img(src="/local/templates/html/images/sertificate-3.jpg")
				span.sertificate__title Сертификат соответствия ГОСТ
					+icon('i-link')(style="width:15px; height: 15px")
			a(href="/local/templates/html/images/sertificate-4.jpg" data-fancybox="gallery").sertificate
				span.sertificate__img
					img(src="/local/templates/html/images/sertificate-4.jpg")
				span.sertificate__title Официальный партнер компании EGGER
					+icon('i-link')(style="width:15px; height: 15px")
			a(href="/local/templates/html/images/sertificate-5.jpg" data-fancybox="gallery").sertificate
				span.sertificate__img
					img(src="/local/templates/html/images/sertificate-5.jpg")
				span.sertificate__title Диплом за участие в мебельном салоне
					+icon('i-link')(style="width:15px; height: 15px")
			a(href="/local/templates/html/images/sertificate-6.jpg" data-fancybox="gallery").sertificate
				span.sertificate__img
					img(src="/local/templates/html/images/sertificate-6.jpg")
				span.sertificate__title Официальный партнер компании UMIDS
					+icon('i-link')(style="width:15px; height: 15px")