+modal({
	id: 'modal-feedback',
	mod: 'modal-feedback',
	title: 'Обратная связь',
	header: true
})
	form#formContacts.bv-form(enctype='multipart/form-data', method='POST', action='#', autocomplete='on', novalidate='novalidate')
		.feedback-form
			.alert.alert-success.hidden(role='alert')
				| Ваше сообщение отправлено. Мы свяжемся с вами в течение 2х часов
			.alert.alert-danger.hidden(role='alert')
				| Произошла ошибка. Сообщение не отправлено.
			+input({
					label: 'Ваше имя',
					type: 'text',
					name: false,
					small: true,
					placeholder: 'ФИО',
					fg_mod: 'form-group--light',
					mod: 'form-control--light',
					required: true,
					pattern: false,
					validation: {
						message: 'Обязательное поле',
						regexp: 'Неверный формат',
						emailaddress: ' ',
						identical: false
					}
			})
			+input({
					label: 'Ваш Email',
					type: 'email',
					name: false,
					small: true,
					placeholder: 'example@example.com',
					fg_mod: 'form-group--light',
					mod: 'form-control--light',
					required: true,
					pattern: true,
					validation: {
						message: 'Обязательное поле',
						regexp: 'Неверный формат',
						emailaddress: '',
						identical: false
					}
				})
			+input({
				label: 'Контактный телефон',
				type: 'tel',
				name: false,
				small: true,
				placeholder: '+ 7 (XXX) XXX-XX-XX',
				fg_mod: 'form-group--light',
				mod: 'form-control--light',
				required: true,
				pattern: 'phone',
				validation: {
					message: 'Обязательное поле',
					regexp: 'Неверный формат',
					emailaddress: '',
					identical: false
				}
			})
			+textarea({
				label: 'Сообщение (600/600)',
				type: 'text',
				fg_mod: 'form-group--light',
				mod: 'form-control--light',
				name: false,
				small: false,
				rows: 5
			})
			.form-btn
				button.btn.btn--primary(type='submit', data-default='Отправить') Отправить



