+include-style('contacts-page')
.content.container
    .row
        .col-lg-10.offset-lg-1
            h1.h1.page-title Контакты
            +tabs({
                titles_list: ['Офис', 'Склад'],
            })
                .tabs__block.contacts-tab.active
                    .row
                        .col-md-3
                            .contacts-tab__item.anim-map
                                +icon("i-map")
                                a(href="https://yandex.by/maps/-/CCUaRVTJKD" target="_blank") Москва, Каширское ш., 3 корп. 2 стр.2 Бизнес Центр Сириус Парк, 4 этаж.
                        .col-md-3
                            .contacts-tab__item
                                +icon("i-time")
                                span.text Будние дни с 9.00 до 18.00
                                    br
                                    | Сб и Вс — выходной
                        .col-md-3
                            .contacts-tab__item
                                a.contacts-tab__link.anim-ding(href="tel:+74996488477")
                                    +icon("i-tel")
                                    span.text.text--tel +7(499) 648-84-77
                        .col-md-3
                            .contacts-tab__item.contacts-tab__item--primary
                                a.contacts-tab__link.anim-mail(href="mailto:info@mavikom.ru")
                                    +icon("anim-i-mail-top").anim-mail-top
                                    +icon("anim-i-mail-bottom")
                                    span.text info@mavikom.ru
                            .contacts-tab__item.contacts-tab__item--primary
                                a.contacts-tab__link.anim-download(href="mailto:info@mavikom.ru")
                                    +icon("anim-i-download-arr").anim-download-arr
                                    +icon("anim-i-download")
                                    span.text Скачать реквизиты
                .tabs__block.contacts-tab
                    p контент второй вкладки
            +tabs({
                titles_list: ['На машине', 'Общественным транспортом'],
            }).tabs--contacts
                .tabs__block.contacts-tab.contacts-tab--no-bg.active
                    .row
                        .col-md-6
                            .contacts-tab__item.anim-map
                                +icon("i-map")
                                span.text <a href="https://yandex.by/maps/-/CCUaRVTJKD" target="_blank">БЦ Сириус Парк. Заезд с 3-го Нагатинского проезда.</a> Далее по территории до корпуса 2. Парковка на территории Бизнес центра для клиентов бесплатна.
                            .contacts-tab__item
                                +icon("i-info")
                                span.text Заранее необходимо сообщить марку и номер машины
                .tabs__block.contacts-tab.contacts-tab--no-bg
                    p контент второй вкладки
            #map.map
                img(src="images/map-plug.jpg").map__plug
            include ../../components/contact-form/contact-form
