+include-style('projects')
.projects-wrap
	.container
		.projects
			+news-card({
				img: 'images/project-1.jpg',
				mod: 'news-card--product-page',
				title: 'Современная перевозочная компания Современная перевозочная компания Современная перевозочная компания Современная перевозочная компания',
				descr: 'Удобство и стиль – главные критерии подбора мебели в компании «СПК».'
			})
			+news-card({
				img: 'images/project-2.jpg',
				mod: 'news-card--product-page',
				title: 'Современная перевозочная компания',
				descr: 'Удобство и стиль – главные критерии подбора мебели в компании «СПК».'
			})
			+news-card({
				img: 'images/project-3.jpg',
				mod: 'news-card--product-page',
				title: 'Современная перевозочная компания',
				descr: 'Удобство и стиль – главные критерии подбора мебели в компании «СПК».'
			})
			+news-card({
				img: 'images/project-4.jpg',
				mod: 'news-card--product-page',
				title: 'Современная перевозочная компания',
				descr: 'Удобство и стиль – главные критерии подбора мебели в компании «СПК».'
			})
		include ../pagination/pagination