+include-style('casing-section')
+include-script('casing-section')
+fancy-box()
.casing-wrap
	.container
		.casing
			.casing__item.js-casing-item
				.casing__title.js-casing-title Ценовая группа 1 — Искусственная кожа
					+icon('i-link')(style="width: 24px; height: 24px;")
				.casing__content-wrap
					.casing__content
						.casing-collection
							.casing-collection__title Attika
							.casing-collection__download
								a(href="#").casing-collection__download-item Скачать коллекцию
									+icon('i-download-2')(style="width: 14px; height: 14px")
								a(href="#").casing-collection__download-item Скачать текстуру
									+icon('i-download-2')(style="width: 14px; height: 14px")
						.casing-tabs.js-casing-tabs
							.casing-tabs__item.active Цвета
							.casing-tabs__item Характеристики
						.casing-colors.js-casing-tab
							+color({
								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
						.casing-info.js-casing-tab
							.casing-info__item
								.casing-info__prop Состав
								.casing-info__val 60% Полиэстер / Хлопок 40%
							.casing-info__item
								.casing-info__prop Покрытие
								.casing-info__val 100% ПУ
							.casing-info__item
								.casing-info__prop Толщина
								.casing-info__val 1 мм
							.casing-info__item
								.casing-info__prop Стойкость на истирание согласно стандарту ISO 12947-2
								.casing-info__val 35000 оборотов
				.casing__content-wrap
					.casing__content
						.casing-collection
							.casing-collection__title Attika
							.casing-collection__download
								a(href="#").casing-collection__download-item Скачать коллекцию
									+icon('i-download-2')(style="width: 14px; height: 14px")
								a(href="#").casing-collection__download-item Скачать текстуру
									+icon('i-download-2')(style="width: 14px; height: 14px")
						.casing-tabs.js-casing-tabs
							.casing-tabs__item.active Цвета
							.casing-tabs__item Характеристики
						.casing-colors.js-casing-tab
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
						.casing-info.js-casing-tab
							.casing-info__item
								.casing-info__prop Состав
								.casing-info__val 60% Полиэстер / Хлопок 40%
							.casing-info__item
								.casing-info__prop Покрытие
								.casing-info__val 100% ПУ
							.casing-info__item
								.casing-info__prop Толщина
								.casing-info__val 1 мм
							.casing-info__item
								.casing-info__prop Стойкость на истирание согласно стандарту ISO 12947-2
								.casing-info__val 35000 оборотов
			.casing__item.js-casing-item
				.casing__title.js-casing-title Ценовая группа 2 — Искусственная замша
					+icon('i-link')(style="width: 24px; height: 24px;")
				.casing__content-wrap
					.casing__content
						.casing-collection
							.casing-collection__title Attika
							.casing-collection__download
								a(href="#").casing-collection__download-item Скачать коллекцию
									+icon('i-download-2')(style="width: 14px; height: 14px")
								a(href="#").casing-collection__download-item Скачать текстуру
									+icon('i-download-2')(style="width: 14px; height: 14px")
						.casing-tabs.js-casing-tabs
							.casing-tabs__item.active Цвета
							.casing-tabs__item Характеристики
						.casing-colors.js-casing-tab
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
						.casing-info.js-casing-tab
							.casing-info__item
								.casing-info__prop Состав
								.casing-info__val 60% Полиэстер / Хлопок 40%
							.casing-info__item
								.casing-info__prop Покрытие
								.casing-info__val 100% ПУ
							.casing-info__item
								.casing-info__prop Толщина
								.casing-info__val 1 мм
							.casing-info__item
								.casing-info__prop Стойкость на истирание согласно стандарту ISO 12947-2
								.casing-info__val 35000 оборотов
				.casing__content-wrap
					.casing__content
						.casing-collection
							.casing-collection__title Attika
							.casing-collection__download
								a(href="#").casing-collection__download-item Скачать коллекцию
									+icon('i-download-2')(style="width: 14px; height: 14px")
								a(href="#").casing-collection__download-item Скачать текстуру
									+icon('i-download-2')(style="width: 14px; height: 14px")
						.casing-tabs.js-casing-tabs
							.casing-tabs__item.active Цвета
							.casing-tabs__item Характеристики
						.casing-colors.js-casing-tab
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
						.casing-info.js-casing-tab
							.casing-info__item
								.casing-info__prop Состав
								.casing-info__val 60% Полиэстер / Хлопок 40%
							.casing-info__item
								.casing-info__prop Покрытие
								.casing-info__val 100% ПУ
							.casing-info__item
								.casing-info__prop Толщина
								.casing-info__val 1 мм
							.casing-info__item
								.casing-info__prop Стойкость на истирание согласно стандарту ISO 12947-2
								.casing-info__val 35000 оборотов
			.casing__item.js-casing-item
				.casing__title.js-casing-title Ценовая группа 3 — Ткани
					+icon('i-link')(style="width: 24px; height: 24px;")
				.casing__content-wrap
					.casing__content
						.casing-collection
							.casing-collection__title Attika
							.casing-collection__download
								a(href="#").casing-collection__download-item Скачать коллекцию
									+icon('i-download-2')(style="width: 14px; height: 14px")
								a(href="#").casing-collection__download-item Скачать текстуру
									+icon('i-download-2')(style="width: 14px; height: 14px")
						.casing-tabs.js-casing-tabs
							.casing-tabs__item.active Цвета
							.casing-tabs__item Характеристики
						.casing-colors.js-casing-tab
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
						.casing-info.js-casing-tab
							.casing-info__item
								.casing-info__prop Состав
								.casing-info__val 60% Полиэстер / Хлопок 40%
							.casing-info__item
								.casing-info__prop Покрытие
								.casing-info__val 100% ПУ
							.casing-info__item
								.casing-info__prop Толщина
								.casing-info__val 1 мм
							.casing-info__item
								.casing-info__prop Стойкость на истирание согласно стандарту ISO 12947-2
								.casing-info__val 35000 оборотов
				.casing__content-wrap
					.casing__content
						.casing-collection
							.casing-collection__title Attika
							.casing-collection__download
								a(href="#").casing-collection__download-item Скачать коллекцию
									+icon('i-download-2')(style="width: 14px; height: 14px")
								a(href="#").casing-collection__download-item Скачать текстуру
									+icon('i-download-2')(style="width: 14px; height: 14px")
						.casing-tabs.js-casing-tabs
							.casing-tabs__item.active Цвета
							.casing-tabs__item Характеристики
						.casing-colors.js-casing-tab
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
						.casing-info.js-casing-tab
							.casing-info__item
								.casing-info__prop Состав
								.casing-info__val 60% Полиэстер / Хлопок 40%
							.casing-info__item
								.casing-info__prop Покрытие
								.casing-info__val 100% ПУ
							.casing-info__item
								.casing-info__prop Толщина
								.casing-info__val 1 мм
							.casing-info__item
								.casing-info__prop Стойкость на истирание согласно стандарту ISO 12947-2
								.casing-info__val 35000 оборотов
			.casing__item.js-casing-item
				.casing__title.js-casing-title Ценовая группа 4 — Натуральная кожа
					+icon('i-link')(style="width: 24px; height: 24px;")
				.casing__content-wrap
					.casing__content
						.casing-collection
							.casing-collection__title Attika
							.casing-collection__download
								a(href="#").casing-collection__download-item Скачать коллекцию
									+icon('i-download-2')(style="width: 14px; height: 14px")
								a(href="#").casing-collection__download-item Скачать текстуру
									+icon('i-download-2')(style="width: 14px; height: 14px")
						.casing-tabs.js-casing-tabs
							.casing-tabs__item.active Цвета
							.casing-tabs__item Характеристики
						.casing-colors.js-casing-tab
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
						.casing-info.js-casing-tab
							.casing-info__item
								.casing-info__prop Состав
								.casing-info__val 60% Полиэстер / Хлопок 40%
							.casing-info__item
								.casing-info__prop Покрытие
								.casing-info__val 100% ПУ
							.casing-info__item
								.casing-info__prop Толщина
								.casing-info__val 1 мм
							.casing-info__item
								.casing-info__prop Стойкость на истирание согласно стандарту ISO 12947-2
								.casing-info__val 35000 оборотов
				.casing__content-wrap
					.casing__content
						.casing-collection
							.casing-collection__title Attika
							.casing-collection__download
								a(href="#").casing-collection__download-item Скачать коллекцию
									+icon('i-download-2')(style="width: 14px; height: 14px")
								a(href="#").casing-collection__download-item Скачать текстуру
									+icon('i-download-2')(style="width: 14px; height: 14px")
						.casing-tabs.js-casing-tabs
							.casing-tabs__item.active Цвета
							.casing-tabs__item Характеристики
						.casing-colors.js-casing-tab
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Синий',
								code: 'Oregon 01',
								img: 'images/color-picker-1.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
							+color({
																								fancy: true,
								mod: 'casing-color--casing-page',
								title: 'Красный',
								code: 'Oregon 04',
								img: 'images/color-picker-2.jpg'
							})
						.casing-info.js-casing-tab
							.casing-info__item
								.casing-info__prop Состав
								.casing-info__val 60% Полиэстер / Хлопок 40%
							.casing-info__item
								.casing-info__prop Покрытие
								.casing-info__val 100% ПУ
							.casing-info__item
								.casing-info__prop Толщина
								.casing-info__val 1 мм
							.casing-info__item
								.casing-info__prop Стойкость на истирание согласно стандарту ISO 12947-2
								.casing-info__val 35000 оборотов