@import "src/assets/css/vars_mixins/vars_mixins";

.form-group {
	position          : relative;
	width             : 100%;
	//   margin-bottom: 30px;
	font-family       : $f-main;

	&.has-error {
		.form-control {
			border: 1px solid red;

			&:focus {
				border: 1px solid red;
			}
		}

		.help-block {
			position : absolute;
			top      : 100%;
			left     : 0;
			color    : $c-error;
			font-size: 12px;
		}
	}

	.checkbox label a {
		margin         : 0 5px;
		text-decoration: underline;
		color          : $c-text;

		&:hover {
			text-decoration: none;
		}
	}

	.checkbox label:before {
		// top: 0;
	}
}

.form-group-inline {
	display    : flex;
	align-items: center;
	flex-wrap  : wrap;

	.form-group {
		width: auto;

		&:not(:last-child) {
			margin-right: 40px;
		}
	}
}

.form-control {
	box-sizing        : border-box;
	width             : 100%;
	padding           : 16px 17px;
	//   transition: box-shadow .3s, border .3s;
	color             : #fff;
	border            : 1px solid #f7f7f7;
	//   border-radius: 8px;
	outline           : none;
	background        : transparent;
	font-size         : 16px;

	@media (max-width: $sm - 1) {
		padding  : 12px 15px;
		font-size: 12px;
	}

	@media (max-width: $xs - 1) {
		padding: 7px 15px;
	}

	&:focus {
		border: 1px solid #e0e0e0;
	}

	&::placeholder {
		color      : #757575;
		font-size  : 16px;
		font-weight: 400;

		@media (max-width: $sm - 1) {
			font-size: 11px;
		}
	}
}

.form-control--textarea {
	font-family     : $f-main;
	font-size       : 15px;
	color           : #000;
	background-color: #F6F6F6;
}

.form-control-label {
	display    : block;
	margin     : 0 0 3px;
	user-select: none;
	color      : #696969;
	font-weight: 700;
	font-size  : 18px;
	color      : #000;

	@media (max-width: $sm - 1) {
		font-size: 14px;
	}
}

.form-control--margin {
		margin-bottom: 27px;

		@media (max-width: $sm - 1) {
			margin-bottom: 17px;
		}

}

@media (min-width: $lg) {
	.form-group {
		&:hover {
			.form-control {
				&:not(:focus) {
					border: 1px solid #e0e0e0;
				}
			}
		}
	}

	.form-group.has-error {
		&:hover {
			.form-control {
				&:not(:focus) {
					border: 1px solid red;
				}
			}
		}
	}
}

@media (max-width: 574px) {
	.form-control-label {
		margin: 0;
	}

	.form-control {
		padding: 7px 15px;

		&::placeholder,
		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder,
		&:-moz-placeholder {
			color      : red;
			font-size  : 13px;
			font-weight: 300;

			@media (max-width: $sm - 1) {
				font-size: 10px;
			}
		}
	}
}

.checkbox {
	position   : relative;
	display    : flex;
	align-items: center;

	&__descr {
		font-size  : 13px;
		color      : #757575;
		margin-left: 10px;

		a {
			color: $c-primary;
		}

		white-space: nowrap;

		@media (max-width: $sm - 1) {
			white-space: inherit;
		}

		@media (max-width: $xs - 1) {
			font-size  : 10px;
			margin-left: 10px;
		}
	}
	&__descr--mw{
		max-width: 550px;
		white-space: normal;
	}

	input {
		position  : absolute;
		top       : 0;
		left      : 0;
		visibility: hidden;
		opacity   : 0;
		width     : 2px;
		height    : 2px;
	}

	label {
		display   : block;
		padding   : 0 0 0 32px;
		cursor    : pointer;
		transition: color 0.3s;
		color     : #696969;
		font-size : $f-size;
		height    : 32px;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}

		@media (max-width: $xs - 1) {
			height : 20px;
			padding: 0 0 0 20px;
		}
	}

	label:before {
		position           : absolute;
		left               : 0;
		display            : block;
		box-sizing         : border-box;
		width              : 30px;
		height             : 30px;
		content            : "";
		user-select        : none;
		transition         : box-shadow 0.2s, border 0.2s;
		border             : 1px solid #e0e0e0;
		border-radius      : 6px;
		background-color   : #fbfbfb;
		background-repeat  : no-repeat;
		background-position: 50% 100%;
		background-size    : contain;
		border-radius      : 0px;
		background-color   : transparent;

		@media (max-width: $xs - 1) {
			height: 20px;
			width : 20px;
		}
	}

	input:disabled~label {
		cursor: no-drop;
	}

	input:checked~label {
		color: #000;
	}

	input:checked~label:before {
		background-image   : url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6.55556L6.38462 11L15 1' stroke='%23E35205' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		background-size    : auto;
		background-position: center;
	}

	input:disabled~label:before {
		background-color: rgba(224, 224, 224, 0.5);
	}

	input:checked:disabled~label:before {
		background-color   : rgba(224, 224, 224, 0.5);
		background-image   : url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6.55556L6.38462 11L15 1' stroke='%23E35205' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		background-size    : auto;
		background-position: center;
	}

	@media (min-width: 1024px) {
		input:not(:disabled)~label:hover:before {
			border: 1px solid $c-primary;
		}
	}
}

.checkbox.center {
	label {
		position: relative;
	}
}

.find-shop--checkbox {
	height          : auto;
	border          : 1px solid #d8d8d8;
	background-color: #fff;
	height: 58px;

	label {
		// padding: 20px 0px 20px 28px;
		display: flex;
		align-items: center;
		padding-left: 27px;
		@media (max-width: $sm - 1){
			font-size: 11px;
			padding-left: 21px;
		}
	}

	label:before {
		right    : 20px;
		left     : auto;
		top      : 50%;
		transform: translateY(-50%);
		@media (max-width: $sm - 1){
			right: 16px;
		}
	}
}

.radio {
	position: relative;

	input {
		position  : absolute;
		top       : 0;
		left      : 0;
		visibility: hidden;
		opacity   : 0;
		width     : 1px;
		height    : 1px;
	}

	label {
		display    : block;
		// padding: 0 0 0 32px;
		cursor     : pointer;
		transition : color 0.3s;
		color      : #000;
		position   : relative;
		display    : inline-block;
		font-size  : 26px;
		font-weight: 700;
		white-space: nowrap;

		@media (max-width: $sm - 1) {
			font-size: 18px;
		}

		@media (max-width: $xs - 1) {
			font-size: 14px;
		}

		&:after {
			transition      : all .3s ease;
			position        : absolute;
			content         : '';
			width           : 0%;
			bottom          : -19px;
			height          : 5px;
			border-radius   : 2.5px;
			background-color: $c-primary;
			left            : 0;

			@media (max-width: $sm - 1) {
				bottom: -5px;
			}
		}
	}

	// label:before {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	display: block;
	// 	width: 20px;
	// 	height: 20px;
	// 	content: "";
	// 	user-select: none;
	// 	transition: color 0.3s, border 0.3s;
	// 	border: 1px solid #e0e0e0;
	// 	border-radius: 100%;
	// }
	// label:after {
	// 	position: absolute;
	// 	top: 2px;
	// 	left: 2px;
	// 	display: block;
	// 	width: 16px;
	// 	height: 16px;
	// 	content: "";
	// 	user-select: none;
	// 	border-radius: 100%;
	// }
	input:disabled~label {
		cursor: no-drop;
	}

	input:checked~label {
		&:after {
			width: 100%;
		}
	}

	input:checked~label:before {
		border: 1px solid #b5bd00;
	}

	input:checked~label:after {
		background: $c-primary;
	}

	input:disabled~label:before {
		border: 1px solid #bdbdbd;
	}

	input:checked:disabled~label:before {
		border: 1px solid #bdbdbd;
	}

	input:checked:disabled~label:after {
		background: #bdbdbd;
	}

	@media (min-width: 1024px) {
		input:not(:disabled)~label:hover {
			color: #000;

			&:before {
				border: 1px solid #b5bd00;
			}
		}
	}
}

.registration--checkbox {
	.checkbox {
		height: 100%;
	}

	.checkbox__descr {
		white-space: inherit;
		max-width  : 462px;
	}
}

select.custom-select {
	padding     : 5px 10px;
	border-top  : none;
	border-right: none;
	border-left : none;
	font-family : $f-main;
	background  : #f6f6f6;
}

.custom-select {
	background: #f6f6f6;
}

.form-group-select {
	// z-index: 5 !important;
	position    : static;
	// max-width: 150px;
}

.form-group--240 {
	max-width: 240px;
}

.jq-checkbox,
.jq-radio {
	position           : relative;
	display            : inline-block;
	overflow           : hidden;
	-webkit-user-select: none;
	-moz-user-select   : none;
	-ms-user-select    : none;
	user-select        : none;
}

.jq-checkbox input,
.jq-radio input {
	position: absolute;
	z-index : -1;
	margin  : 0;
	padding : 0;
	opacity : 0;
}

.jq-file {
	position: relative;
	display : inline-block;
	overflow: hidden;
}

.jq-file input {
	position: absolute;
	top     : 0;
	right   : 0;
	height  : auto;
	margin  : 0;
	padding : 0;
	opacity : 0;
}

.jq-file__name {
	overflow     : hidden;
	white-space  : nowrap;
	text-overflow: ellipsis;
}

.jq-selectbox,
.jq-select-multiple {
	position: relative;
	display : inline-block;
}

.jq-selectbox select,
.jq-select-multiple select {
	position  : absolute;
	top       : 0;
	left      : 0;
	width     : 100%;
	height    : 100%;
	margin    : 0;
	padding   : 0;
	opacity   : 0;
}

.jq-selectbox li,
.jq-select-multiple li {
	-webkit-user-select: none;
	-moz-user-select   : none;
	-ms-user-select    : none;
	user-select        : none;
	white-space        : nowrap;
}

.jq-selectbox {
	&:not(.opened) {
		z-index: 0;
	}
}

.jq-selectbox__select {
	position: relative;
	height  : 100%;
	cursor  : pointer;
}

.jq-selectbox__select-text {
	display            : block;
	overflow           : hidden;
	-webkit-user-select: none;
	-moz-user-select   : none;
	-ms-user-select    : none;
	user-select        : none;
	white-space        : nowrap;
	letter-spacing     : unset !important;
	text-overflow      : ellipsis;
	color              : #6a6a6a;
	font-weight        : normal;
	font-size          : 16px;
	line-height        : 17px;

	@media (max-width: $sm - 1) {
		font-size: 12px;
	}
}

.jq-selectbox__trigger {
	position           : absolute;
	top                : calc(50% - 5px);
	right              : 25px;
	width              : 10px;
	height             : 10px;
	transform          : rotate(0deg);
	background-image   : url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 1' stroke='%23E35205' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-repeat  : no-repeat;
	background-position: center;
	background-size    : contain;
}

.custom-select.opened .jq-selectbox__trigger {
	transform: rotate(180deg);
}

.jq-selectbox__dropdown {
	position  : absolute;
	z-index   : 1;
	top       : calc(100% + 10px) !important;
	bottom    : auto !important;
	left      : 0 !important;
	overflow  : hidden;
	width     : 100% !important;
	transition: all 0.3s;
	background: #fff;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
}

.jq-selectbox__search input {
	-webkit-appearance: textfield;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.jq-selectbox__dropdown ul {
	position                  : relative;
	overflow                  : auto;
	overflow-x                : hidden;
	-webkit-overflow-scrolling: touch;
	list-style                : none;
	background                : #fff;
}

.jq-select-multiple ul {
	position                  : relative;
	overflow-x                : hidden;
	-webkit-overflow-scrolling: touch;
}

.jq-selectbox__dropdown li {
	overflow     : hidden;
	box-sizing   : border-box;
	margin       : 0;
	padding      : 8px 20px;
	cursor       : pointer;
	user-select  : none;
	white-space  : nowrap;
	text-overflow: ellipsis;
	color        : $c-text;
	border-radius: 0;
	background   : #fff;
	box-shadow   : none;
	font-size    : 15px;

	&:hover {
		background-color: #fbfbfb;
	}

	&:before {
		content: unset;
	}

	&.sel {
		color: $c-primary;
	}
}

.jq-number {
	display: inline-block;
}

.jq-number__field input {
	text-align: left;
	/* для Opera Presto */

	-moz-appearance: textfield;
}

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
	margin: 0;
	/* в каких-то браузерах присутствует отступ */

	-webkit-appearance: none;
}

.form-group--common {
	&.has-error {
		.form-control {
			border: 1px solid red;

			&:focus {
				border: 1px solid red;
			}
		}

		.help-block {
			position : absolute;
			top      : 4px;
			right    : 0;
			left     : auto;
			color    : $c-error;
			font-size: 11px;
			@media (max-width: $xs - 1){
				font-size: 10px;
			}
		}
	}

	.form-control--common {
		background-color: #f6f6f6;
		padding         : 16px 17px;
		padding-left: 27px;
		border          : 1px solid transparent;
		color           : #000;

		@media (max-width: $sm - 1) {
			padding-left: 20px;
			padding-top   : 12px;
			padding-bottom: 12px;
		}

		&:hover {
			border: 1px solid transparent;
		}
	}
}

.form-group.has-error {
	.checkbox label:before {
		border-color: red;
	}
}

.form-group--help-bottom {
	&.has-error {
		.help-block {
			top   : auto;
			bottom: -20px;
			left  : 0;
		}
	}
}

.form-group--label-light {
	.form-control-label {
		margin-bottom: 9px;
		font-style   : normal;
		font-weight  : 500;
		font-size    : 16px;
	}
}

.form-group--delivery-form {
	width: auto;
}

.form-control--pickup {
	background-color: #fff;
	color           : #000;
	padding-left    : 46px;
	padding-right   : 56px;
}

.form-group--pickup {
	position: relative;

	&:after {
		position           : absolute;
		content            : '';
		background-image   : url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.00005 10.7778C3.00005 15.0733 6.48228 18.5556 10.7778 18.5556C12.754 18.5556 14.558 17.8186 15.9301 16.6044C15.9758 16.4497 16.0597 16.3039 16.1818 16.1818C16.3039 16.0597 16.4498 15.9758 16.6045 15.93C17.8186 14.558 18.5556 12.7539 18.5556 10.7778C18.5556 6.48223 15.0734 3 10.7778 3C6.48228 3 3.00005 6.48223 3.00005 10.7778ZM18.3628 16.9486C19.7337 15.2656 20.5556 13.1177 20.5556 10.7778C20.5556 5.37766 16.1779 1 10.7778 1C5.37771 1 1.00005 5.37766 1.00005 10.7778C1.00005 16.1779 5.37771 20.5556 10.7778 20.5556C13.1177 20.5556 15.2656 19.7336 16.9486 18.3628L21.0707 22.4849C21.4612 22.8754 22.0944 22.8754 22.4849 22.4849C22.8755 22.0944 22.8755 21.4612 22.4849 21.0707L18.3628 16.9486Z' fill='%23E35205'/%3E%3Cpath d='M15.9301 16.6044L16.4095 16.7462L16.3689 16.8838L16.2614 16.9789L15.9301 16.6044ZM16.6045 15.93L16.9789 16.2614L16.8838 16.3688L16.7463 16.4095L16.6045 15.93ZM18.3628 16.9486L18.0093 17.3021L17.69 16.9829L17.9752 16.6328L18.3628 16.9486ZM16.9486 18.3628L16.6329 17.9751L16.9829 17.69L17.3022 18.0092L16.9486 18.3628ZM21.0707 22.4849L20.7172 22.8384L21.0707 22.4849ZM22.4849 22.4849L22.1314 22.1313L22.4849 22.4849ZM22.4849 21.0707L22.1314 21.4242H22.1314L22.4849 21.0707ZM10.7778 19.0556C6.20614 19.0556 2.50005 15.3495 2.50005 10.7778H3.50005C3.50005 14.7972 6.75843 18.0556 10.7778 18.0556V19.0556ZM16.2614 16.9789C14.8015 18.2708 12.8807 19.0556 10.7778 19.0556V18.0556C12.6273 18.0556 14.3146 17.3663 15.5987 16.23L16.2614 16.9789ZM16.5354 16.5353C16.4737 16.597 16.4322 16.6695 16.4095 16.7462L15.4506 16.4626C15.5194 16.2299 15.6457 16.0108 15.8283 15.8282L16.5354 16.5353ZM16.7463 16.4095C16.6695 16.4322 16.5971 16.4737 16.5354 16.5353L15.8283 15.8282C16.0108 15.6457 16.23 15.5193 16.4627 15.4505L16.7463 16.4095ZM19.0556 10.7778C19.0556 12.8806 18.2708 14.8014 16.9789 16.2614L16.23 15.5987C17.3664 14.3145 18.0556 12.6272 18.0556 10.7778H19.0556ZM10.7778 2.5C15.3495 2.5 19.0556 6.20609 19.0556 10.7778H18.0556C18.0556 6.75837 14.7972 3.5 10.7778 3.5V2.5ZM2.50005 10.7778C2.50005 6.20609 6.20614 2.5 10.7778 2.5V3.5C6.75843 3.5 3.50005 6.75837 3.50005 10.7778H2.50005ZM21.0556 10.7778C21.0556 13.2368 20.1914 15.4954 18.7505 17.2643L17.9752 16.6328C19.276 15.0357 20.0556 12.9985 20.0556 10.7778H21.0556ZM10.7778 0.5C16.4541 0.5 21.0556 5.10152 21.0556 10.7778H20.0556C20.0556 5.6538 15.9018 1.5 10.7778 1.5V0.5ZM0.500053 10.7778C0.500053 5.10152 5.10157 0.5 10.7778 0.5V1.5C5.65386 1.5 1.50005 5.6538 1.50005 10.7778H0.500053ZM10.7778 21.0556C5.10157 21.0556 0.500053 16.454 0.500053 10.7778H1.50005C1.50005 15.9018 5.65386 20.0556 10.7778 20.0556V21.0556ZM17.2644 18.7505C15.4955 20.1913 13.2369 21.0556 10.7778 21.0556V20.0556C12.9985 20.0556 15.0358 19.276 16.6329 17.9751L17.2644 18.7505ZM17.3022 18.0092L21.4243 22.1313L20.7172 22.8384L16.5951 18.7163L17.3022 18.0092ZM21.4243 22.1313C21.6195 22.3266 21.9361 22.3266 22.1314 22.1313L22.8385 22.8384C22.2527 23.4242 21.303 23.4242 20.7172 22.8384L21.4243 22.1313ZM22.1314 22.1313C22.3266 21.9361 22.3266 21.6195 22.1314 21.4242L22.8385 20.7171C23.4243 21.3029 23.4243 22.2527 22.8385 22.8384L22.1314 22.1313ZM22.1314 21.4242L18.0093 17.3021L18.7164 16.595L22.8385 20.7171L22.1314 21.4242Z' fill='%23E35205'/%3E%3C/svg%3E%0A");
		width              : 22px;
		height             : 22px;
		right              : 35px;
		top                : 50%;
		background-size    : contain;
		background-position: center;
	}
}

.form-group--promo {
	.form-control {
		padding-right: 82px;
	}
}

.form-control-label {
	white-space: nowrap;
}

.jq-selectbox.form-control.form-control--common {
	padding: 0px;
}

.jq-selectbox__select {
	padding: 16px 17px;
	@media (max-width: $sm - 1) {
		padding: 12px 17px;
	}
}

.datepicker-input-wrap{
	&:hover{
		@media (min-width: 1024px){
			cursor: pointer;
		}
	}
}

.color-picker {
	display: flex;
	align-items: center;
	justify-content: center;
	label {
		width           : 35px;
		height          : 35px;
		border-radius   : 50%;
		position        : relative;
		@media (max-width: $sm - 1){
			width: 25px;
			height: 25px;
		}
		border:  1px solid #000;
		&:after {
			display: none;
		}
	}

	input:checked ~ label{
		border:  1px solid $c-primary;
	}
}

.color-1 {
	label {
		background-color: #f6f7fb;
	}
}

.color-2 {
	label {
		background-color: #d0cece;
	}
}

.datepicker{
	z-index: 1500;
}

.form-control--password{
	margin-bottom: 0px;
	@media (max-width: $sm - 1){
		margin-bottom: 12px;
		.help-block[data-bv-validator="callback"]{
			position: static;
		}
	}
}

.form-control--identical{
	@media (max-width: $sm - 1){
		margin-bottom: 30px;
	}
}