@import 'src/assets/css/vars_mixins/vars_mixins';
.favourite {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  opacity: 0;
  cursor: pointer;
  span {
    display: none;
  }
  .icon {
    cursor: pointer;
    transition: fill .3s, stroke .3s;
    fill: #fff;
    stroke: #8dc63f;
  }
  &:hover {
    .icon {
      fill: $c-primary-hover;
    }
  }
  &.active {
    opacity: 1;
    .icon {
      fill: $c-primary-hover;
    }
    &:hover {
      fill: #4f681e;
      .icon {
        fill: #4f681e;
        stroke: #4f681e;
      }
    }
  }
  @media (max-width: 1023px) {
    opacity: 1;
    pointer-events: all;
  }
}