+include-style('product-connected-sliders')
+include-script('product-connected-sliders')
+fancy-box()

+b.product-connected-sliders
	+e.__actions
		a(href="#").favourite
			+icon('i-like')
	+swiper-with-nav({
		main: {
			wrapper_mod: '',
			container_mod: '',
			pagination_mod: '',
			arrow_prev_mod: '',
			arrow_next_mod: '',
			pagination: false,
			navigation: true,
		},
		nav: {
			wrapper_mod: '',
			container_mod: '',
			pagination_mod: '',
			arrow_prev_mod: '',
			arrow_next_mod: '',
			pagination: false,
			navigation: true,
			centeredSlides: true,
			spaceBetween: 5,
			list: [
				{
					img: 'images/pp-img1-sm-v2.jpg',
					img_placeholder: 'pp-img1-sm.jpg',
				},{
					img: 'images/pp-img2-sm-v2.jpg',
					img_placeholder: pixel,
				},{
					img: 'images/pp-img3-sm-v2.jpg',
					img_placeholder: pixel,
				},{
					img: 'images/pp-img4-sm-v2.jpg',
					img_placeholder: pixel,
				},{
					img: 'images/pp-img5-sm-v2.jpg',
					img_placeholder: pixel,
				}, {
					img: 'images/pp-img1-sm-v2.jpg',
					img_placeholder: 'pp-img1-sm.jpg',
				}, {
					img: 'images/pp-img2-sm-v2.jpg',
					img_placeholder: pixel,
				}, {
					img: 'images/pp-img3-sm-v2.jpg',
					img_placeholder: pixel,
				}, {
					img: 'images/pp-img4-sm-v2.jpg',
					img_placeholder: pixel,
				}, {
					img: 'images/pp-img5-sm-v2.jpg',
					img_placeholder: pixel,
				},
			],
			img_mod: 'swiper-thumbnail-img',
			wrap_mod: 'swiper-thumbnail'
		},
	}).js-product-connected-sliders
		//- Слайды главного слайда
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-v2.jpg',
				placeholder: 'images/pp-img1-v2.jpg',
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-v2.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-v2.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-v2.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-v2.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-v2.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-v2.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-v2.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-v2.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-v2.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-v2.jpg',
				placeholder: 'pp-img1.jpg',
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-v2.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-v2.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-v2.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-v2.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-v2.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-v2.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-v2.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-v2.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-v2.jpg')

