+include-style('product-connected-sliders')
+include-script('product-connected-sliders')
+fancy-box()

+b.product-connected-sliders.product-connected-sliders--horiz
	+e.__order
		a(href="#").btn.btn--primary
			span Заказать дизайн-проект
	+swiper-with-nav({
		main: {
			wrapper_mod: '',
			container_mod: '',
			pagination_mod: '',
			arrow_prev_mod: '',
			arrow_next_mod: '',
			pagination: false,
			navigation: true,
		},
		nav: {
			wrapper_mod: '',
			container_mod: '',
			pagination_mod: '',
			arrow_prev_mod: '',
			arrow_next_mod: '',
			pagination: false,
			navigation: true,
			centeredSlides: true,
			spaceBetween: 5,
			list: [
				{
					img: 'images/pp-img1-sm-coll.jpg',
					img_placeholder: 'pp-img1-sm-coll.jpg',
				},{
					img: 'images/pp-img2-sm-coll.jpg',
					img_placeholder: pixel,
				},{
					img: 'images/pp-img3-sm-coll.jpg',
					img_placeholder: pixel,
				},{
					img: 'images/pp-img4-sm-coll.jpg',
					img_placeholder: pixel,
				},{
					img: 'images/pp-img5-sm-coll.jpg',
					img_placeholder: pixel,
				}, {
					img: 'images/pp-img1-sm-coll.jpg',
					img_placeholder: 'pp-img1-sm-coll.jpg',
				}, {
					img: 'images/pp-img2-sm-coll.jpg',
					img_placeholder: pixel,
				}, {
					img: 'images/pp-img3-sm-coll.jpg',
					img_placeholder: pixel,
				}, {
					img: 'images/pp-img4-sm-coll.jpg',
					img_placeholder: pixel,
				}, {
					img: 'images/pp-img5-sm-coll.jpg',
					img_placeholder: pixel,
				},
			],
			img_mod: 'swiper-thumbnail-img',
			wrap_mod: 'swiper-thumbnail'
		},
	}).js-product-connected-sliders--horiz
		//- Слайды главного слайда
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll.jpg',
				placeholder: 'pp-img1-coll.jpg',
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll.jpg',
				placeholder: 'pp-img1-coll.jpg',
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll.jpg')

