@import 'src/assets/css/vars_mixins/vars_mixins';

.product-connected-sliders {
  background: #fff;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
  &__actions {
    position: absolute;
    top: 15px;
    right: 18px;
    z-index: 2;
  }
  &__actions .favourite {
    display: block;
    &:hover .icon {
      fill: $c-primary;
    }
  }
  &__actions .favourite .icon {
    width: 20px;
    height: 18px;
    fill: $c-dark;
    transition: fill ease 0.4s;
  }
  &__order {
    position: absolute;
    bottom: 104px;
    right: 0;
    z-index: 2;
  }
}

.swiper-with-nav {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.swiper-main {
  max-width: 84%;
  flex: 1 0 84%;
  padding: 44px 30px 44px 5px;
  .swiper-slide {
    position: relative;
  }
  .swiper-container {
    overflow: hidden;
  }
  .swiper-button-next {
    right: 15px;
  }
  .swiper-button-prev {
    left: 15px;
  }
  &__img-wrap {
    text-align: center;
    padding-bottom: 57%;
  }
  &__img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.swiper-nav {
  max-width: 16%;
  flex: 1 0 16%;
  padding: 44px 0;
  height: 530px;
  position: relative;
  .swiper-container {
    overflow: hidden;
    height: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {}
  .swiper-button-next {
    bottom: 0;
    top: auto;
    left: calc(50% - 20px);
    transform: rotate(90deg);
  }
  .swiper-button-prev {
    top: 0;
    left: calc(50% - 20px);
    transform: rotate(90deg);
  }
  .lazy-img-wrap {
    cursor: pointer;
    text-align: center;
  }
  .swiper-thumbnail {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83px;
    max-height: 83px;
    max-width: 140px;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    &.swiper-slide-thumb-active {
      border-color: $c-add;
    }
  }
  .swiper-thumbnail-img {
    max-width: 100%;
  }
}

.product-connected-sliders.product-connected-sliders--horiz {
  display: block;
  background: rgba(0,0,0,0.0);
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  .swiper-main {
    max-width: 100%;
    padding: 0;
    &__img-wrap {
      padding-bottom: 59%;
    }
    .swiper-button-next {
      right: -15px;
    }
    .swiper-button-prev {
      left: -15px;
    }
  }
  .swiper-nav {
    height: auto;
    max-width: 100%;
    padding: 20px 0 0;
    .swiper-container {
      height: auto;
      width: 100%;
    }
    .swiper-thumbnail {
      max-width: 144px;
    }
    .swiper-button-next {
      bottom: auto;
      top: calc(50% - 10px);
      left: auto;
      right: -10px;
      transform: rotate(0deg);
    }
    .swiper-button-prev {
      top: calc(50% - 10px);
      left: -10px;
      transform: rotate(0deg);
    }
  }


}

.tooltip-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.tl-item {
  position: absolute;
  .num {
    cursor: pointer;
    height: 18px;
    min-width: 18px;
    width: 18px;
    border-radius: 50%;
    background: $c-add;
    color: #fff;
    font-size: 13px;
    text-align: center;
  }
  .num:hover + .tl-item__body {
    opacity: 1;
    visibility: visible;
  }
  &__body {
    z-index: 10;
    display: grid;
    grid-template-columns: 73px auto;
    grid-template-rows: max-content max-content;
    background: #FFFFFF;
    border-radius: 2px;
    width: 200px;
    padding: 5px 10px;
    box-sizing: border-box;
    position: absolute;
    left: -25px;
    bottom: calc(100% + 9px);
    opacity: 0;
    visibility: hidden;
    transition: opacity ease 0.4s, visibility ease 0.4s;
    & > * {
      position: relative;
      z-index: 1;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 29px;
      height: 10px;
      width: 10px;
      background: #fff;
      transform: rotate(45deg);
    }
  }
  .img {
    grid-column: 1/2;
    grid-row: 1/3;
    max-width: 100%;
  }
  .title {
    font-size: 11px;
    line-height: 1.3;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 0 10px;
  }
  .price {
    font-weight: 600;
    color: #000;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  &.active {
    .tl-item__body {
      opacity: 1;
      visibility: visible;
    }
  }
}

//мобильная кнопка открытия попап с тултипами
.mobile-tooltips-popup-btn {
  display: none;
}

@media (max-width: $sm - 1) {
  .product-connected-sliders__order {
    bottom: 0;
    display: none;
  }
  .swiper-main {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 15px;
  }
  .swiper-nav {
    display: none;
  }

  .swiper-main .swiper-slide {
    padding-bottom: 16px;
  }
  //мобильная кнопка открытия попап с тултипами
  .mobile-tooltips-popup-btn {
    position: absolute;
    z-index: 101;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
    border-radius: 3px;
    height: 32px;
    overflow: hidden;
    .text {
      font-weight: 600;
      font-size: 10px;
      height: 32px;
      line-height: 32px;
      flex: 1;
      padding: 0 20px;
    }
    .wr {
      background: $c-add;
      width: 40px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        width: 14px;
        height: 14px;
        fill: #fff;
        transform: rotate(45deg);
      }
    }
  }
}


