+include-style('news-section')
.news-section-wrap
	.container
		+presection-main({
			title: 'Новости',
			linkTitle: 'Все новости'
		})
		.news-card-list
			+news-card({
				mod: 'news-card--main-page',
				img: 'images/news-card-1.jpg',
				title: 'Олицетворение комфорта и современного дизайна — новая серия Arlecino',
			})
			+news-card({
				mod: 'news-card--main-page',
				img: 'images/news-card-2.jpg',
				title: 'Расширенная гарантия на 3 года',
			})
			+news-card({
				mod: 'news-card--main-page',
				img: 'images/news-card-3.jpg',
				title: 'Виртуальная примерка мебели в интерьере вашего офиса',
			})
			+news-card({
				mod: 'news-card--main-page',
				img: 'images/news-card-4.jpg',
				title: 'Завоевать внимание поклонников минимализма: как это сделали в Eichholtz',
			})