@import "src/assets/css/vars_mixins/vars_mixins";
.news-section-wrap {
	margin-top: 135px;
	@media (max-width: $sm - 1){
		margin-top: 60px;
	}
}

.news-card-list {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	@media (max-width: $lg - 1){
		flex-wrap: nowrap;
		overflow: auto;
	}
}
