@import "src/assets/css/vars_mixins/vars_mixins";

.fbanners-slider {
    padding: 28px 0 24px;
    &__inner {
        margin: 0 -15px;
        height: 326px;
    }
    .swiper-container {
        padding: 15px;
        margin: -15px 0;
    }
    .swiper-pagination {
        left: auto;
        right: 15px;
        transform: none;
        height: 20px;
    }
    .swiper-pagination-bullet {
        margin: 0 0 0 9px;
    }
    .swiper-slide {
      margin-right: 25px;
      width: 516px;
    }
}

.fs-slide {
    &__link {
        display: block;
        &:hover {
            .fs-slide__img-wrap {
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
            }
        }
    }
    &__img-wrap {
        display: block;
        border-radius: 4px;
        transition: box-shadow ease 0.4s;
    }
    &__img {
        display: block;
        max-width: 100%;
        width: 516px;
        height: 296px;
    }
}
@media (max-width: $xxl - 1) {
    .fbanners-slider {
        &__inner {
            height: 300px;
        }
        .swiper-slide {
            margin-right: 25px;
            width: 453px;
        }
    }
    .fs-slide {
        &__img {
            width: 453px;
            height: 270px;
        }
    }
}
@media (max-width: $xl - 1) {
    .fbanners-slider {
        &__inner {
            height: 254px;
        }
        .swiper-slide {
            margin-right: 25px;
            width: 373px;
        }
    }
    .fs-slide {
        &__img {
            width: 373px;
            height: 224px;
        }
    }
}
@media (max-width: $lg - 1) {
    .fbanners-slider {
        &__inner {
            height: 308px;
        }
        .swiper-slide {
            margin-right: 25px;
            width: 484.5px;
        }
    }
    .fs-slide {
        &__img {
            width: 484.5px;
            height: 278px;
        }
    }
}
@media (max-width: $md - 1) {
    .fbanners-slider {
        &__inner {
            height: 241px;
        }
        .swiper-slide {
            margin-right: 25px;
            width: 355.5px;
        }
    }
    .fs-slide {
        &__img {
            width: 355.5px;
            height: 211px;
        }
    }
}
@media (max-width: $sm - 1) {
    .fbanners-slider {
        padding: 4px 0 24px;
      .container {
          padding-right: 0;
      }
        .swiper-container {
            padding-right: 0;
        }
        &__inner {
            height: 185px;
            margin-right: 0;
        }
    }
    .fbanners-slider {
        .swiper-slide {
            margin-right: 16px;
            width: 271px;
        }
    }
    .fbanners-slider.inited {
        .swiper-slide {
            margin-right: 16px;
            width: 271px;
        }
    }
    .fs-slide {
        &__img {
            width: 271px;
            height: 155px;
        }
    }
}
@media (max-width: 425px) {
    .fbanners-slider {
        &__inner {
            height: 230px;
        }
    }
    .fs-slide {
        &__img {
            width: 271px;
            height: 200px;
        }
    }
}