+include-style('category-list')


.content.container.items-list__main
	h1.h1.page-title Категории
	.category-list
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-1.jpg")
			span.category-list__title Мебель для персонала
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-2.jpg")
			span.category-list__title Кабинеты руководителя
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-3.jpg")
			span.category-list__title Мебель для переговорных
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-4.jpg")
			span.category-list__title Мягкая мебель для офиса
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-5.jpg")
			span.category-list__title Стойки ресепшн 
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-6.jpg")
			span.category-list__title Офисные столы
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-7.jpg")
			span.category-list__title Офисные шкафы
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-8.jpg")
			span.category-list__title Стол для переговоров
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-9.jpg")
			span.category-list__title Офисные диваны
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-10.jpg")
			span.category-list__title Офисные кресла
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-11.jpg")
			span.category-list__title Офисные стулья
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-12.jpg")
			span.category-list__title Офисные кухни
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-13.jpg")
			span.category-list__title Офисные перегородки
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-14.jpg")
			span.category-list__title Журнальные столы
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-15.jpg")
			span.category-list__title Офисные вешалки
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-16.jpg")
			span.category-list__title Металлическая мебель
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-17.jpg")
			span.category-list__title Сейфы
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-18.jpg")
			span.category-list__title Аксессуары для кресел
		a(href="#").category-list__item
			span.category-list__image
				img(src="/local/templates/html/images/category-19.jpg")
			span.category-list__title Распродажа офисной мебели
	include ../../components/pagination/pagination