@import "src/assets/css/vars_mixins/vars_mixins";

.category-list {
	display     : flex;
	flex-wrap   : wrap;
	margin-left : -32px;
	margin-right: -32px;

	@media (max-width: $xl - 1) {
		margin-left : -16px;
		margin-right: -16px;
	}

	&__item {


		padding      : 0px 32px;
		width        : 20%;
		margin-bottom: 64px;
		display      : block;
		transition   : all .3s ease;

		&:hover {
			@media (min-width: 1024px) {
				opacity: 0.75;
			}
		}

		@media (max-width: $xl - 1) {
			padding: 0px 16px;
			margin-bottom: 32px;
		}

		@media (max-width: $lg - 1){
			width: 25%;
		}

		@media (max-width: $sm - 1){
			width: 50%;
		}
	}

	&__image {
		display        : flex;
		max-height     : 180px;
		align-items    : center;
		justify-content: center;
		border-radius  : 4px;
		overflow       : hidden;

		img {
			max-width : 100%;
			max-height: 100%;
		}
	}

	&__title {
		display        : flex;
		justify-content: center;
		margin-top     : 24px;
		font-weight    : 600;
		font-size      : 16px;
		text-align     : center;
		color          : #353535;
	}
}