extends ../../layout/layout

block vars
    - var pageTitle = '404'
    - var pageBodyClass = 'not-found'
    - var dir = './'


block premain
    +not-found()
    .container.not-found__inner
        .row
            .col-lg-8.offset-lg-2
                 .not-found__title 404
                 p Перестаньте левитировать. Купите, например, <a href="index.html">диван</a>
                 +lazy-img({
                    img: 'images/404_4.png',
                    placeholder: pixel,
                    img_mod: 'not-found__img',
                    wrap_mod: 'not-found__img-wrap',
                    link: false,
                    aria_label: false,
                 })



block main
    .no-critical.no-critical--preloader


block componentsCriticalStyles
    +componentsCriticalStyles-includer()
block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()

block componentsScripts
    +componentsScripts-includer()

block scripts
