+include-style('modal-options-inner')
+include-script('modal-options-inner')
.modal-options-inner.row
    .modal-options-inner__colors
        .modal-options-inner__colors-scroll
            +color_block({
                title: 'экокожа Oregon',
                price: 'от 9698 ₽',
                text: 'Рогожка. Состав ткани: полиэстер - 100%. Плотность - 307 г/м2. Устойчивость к истиранию >75 000 циклов. Мягкая, элегантная, износостойкая рогожка с изящным легким блеском, которая подойдет для любого дивана.'
            }).js-colors-list
                +color({
                    no_link: false,
                    active: true,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: true,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })

            +color_block({
                title: 'экокожа Cordova',
                price: 'от 15184 ₽',
                text: 'Рогожка. Состав ткани: полиэстер - 100%. Плотность - 307 г/м2. Устойчивость к истиранию >75 000 циклов. Мягкая, элегантная, износостойкая рогожка с изящным легким блеском, которая подойдет для любого дивана.'
            }).js-colors-list
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
            +color_block({
                title: 'экокожа Cordova',
                price: 'от 15184 ₽',
                text: 'Рогожка. Состав ткани: полиэстер - 100%. Плотность - 307 г/м2. Устойчивость к истиранию >75 000 циклов. Мягкая, элегантная, износостойкая рогожка с изящным легким блеском, которая подойдет для любого дивана.'
            }).js-colors-list
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
                +color({
                    no_link: false,
                    active: false,
                    bg: 'background-color:#E4ADAD',
                    badge: false,
                    name: 'Oregon 19',
                })
        .modal-options-inner__mobile-btn
            a(href="#" data-dismiss="modal" aria-label="Close").btn.btn--primary.modal-close
                span Подтвердить выбор
    .modal-options-inner__preview
        .moip.js-moip-height
            +lazy-img({
                img: 'images/pp-img1-v2.jpg',
                placeholder: pixel,
                img_mod: 'moip__mimg',
                wrap_mod: 'moip__mimg-wrap',
                link: false,
                aria_label: false,
            })
            .moip__color(style="background-image: url('images/bg-color.jpg')")
            .moip__options
                .dt Обивка
                .dd Romero
                .dt Цвет
                .dd Romero-05
                .dt Итого
                .dd
                    b 11 971₽
            .moip__btn
                a(href="#").btn.btn--primary
                    span Подтвердить выбор
            +lazy-img({
                img: 'images/contact-form2.jpg',
                placeholder: pixel,
                img_mod: 'moip__img',
                wrap_mod: 'moip__img-wrap',
                link: false,
                aria_label: false,
            })
            .moip__q-title Не нашли цвета, который хотите?
                br
                | Уточните у нашего менеджера по телефону
            a(href="tel:+74996488477").moip__q-link +7(499) 648-84-77






