@import "src/assets/css/vars_mixins/vars_mixins";

.modal-options-inner {
  &__colors {
    padding: 0 15px;
    max-width: 75%;
    flex: 1 0 75%;
  }
  &__colors-scroll {
    overflow-y: auto;
    height: 100%;
    &::-webkit-scrollbar {
      width: 4px;
      background-color: #E3E3E3;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #828282;
    }
  }
  &__preview {
    padding: 0 15px;
    max-width: 25%;
    flex: 1 0 25%;
  }
  &__mobile-btn {
    display: none;
  }
}

.moip {
  &__mimg-wrap {
    margin: 0 0 30px;
  }
  &__mimg {
    max-width: 100%;
  }
  &__img-wrap {
    display: block;
    margin: 0 auto 15px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
  }
  &__img {}
  &__color {
    height: 114px;
    border-radius: 4px;
    margin: 0 0 30px;
  }
  &__options {
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    margin: 0 0 20px;
    .dt {
      grid-column: 1/2;
      color: #828282;
      padding: 0 0 5px;
    }
    .dd {
      color: #353535;
      grid-column: 2/3;
      padding: 0 0 5px;
      b {
        font-weight: bold;
        font-size: 36px;
      }
    }
  }
  &__btn {
    margin: 0 0 30px;
    .btn {
      width: 100%;
    }
  }
  &__q-title {
    text-align: center;
    font-size: 13px;
    line-height: 130%;
    color: #828282;
    margin: 0 0 10px;
  }
  &__q-link {
    display: block;
    text-align: center;
    color: #353535;
    transition: color ease 0.4s;
    &:hover {
      color: $c-primary;
    }
  }
}

@media (max-width: $md - 1) {
  .modal-options-inner {
    &__colors {
      max-width: 65%;
      flex: 1 0 65%;
      padding: 0 8px;
    }
    &__colors-scroll {}
    &__preview {
      max-width: 35%;
      flex: 1 0 35%;
      padding: 0 8px;
    }
  }
}
@media (max-width: $xs - 1) {
  .modal-options-inner {
    flex-direction: column-reverse;
    &__colors {
      max-width: 100%;
      flex: 1 0 100%;
    }
    &__colors-scroll {
      overflow: visible;
      padding-top: 30px;
    }
    &__preview {
      max-width: 100%;
      flex: 1 0 100%;
    }
    .color-block {
      margin: 0 0 20px;
      &__title {
        font-size: 22px;
        margin: 0 0 10px;
      }
      &__price {
        position: static;
      }
      &__list {}
      .color {
        margin: 0 5px 15px;
      }
    }
    &__mobile-btn {
      display: block;
      .btn {
        width: 100%;
        max-width: 300px;
      }
    }
  }
  .moip {
    &__btn {
      display: none;
    }
  }
}