+include-style('room-cards')
.room-cards-wrap
	.container
		.room-cards
			.room-card
				a(href='#').room-card__img
					img(src="/local/templates/html/images/room-card-1.jpg")
				a(href='#').room-card__link
					span.room-card__title Диваны и кресла
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')
			.room-card
				a(href='#').room-card__img
					img(src="/local/templates/html/images/room-card-1.jpg")
				a(href='#').room-card__link
					span.room-card__title Банкетки и пуфы
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')
			.room-card
				a(href='#').room-card__img
					img(src="/local/templates/html/images/room-card-1.jpg")
				a(href='#').room-card__link
					span.room-card__title Мобильные перегородкИ
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')
			.room-card.half-width-card 
				a(href='#').room-card__img
					img(src="/local/templates/html/images/room-card-2.jpg")
				a(href='#').room-card__link
					span.room-card__title Хиты продаж
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')
			.room-card.half-width-card 
				a(href='#').room-card__img
					img(src="/local/templates/html/images/room-card-2.jpg")
				a(href='#').room-card__link
					span.room-card__title Новинки
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')