.content.content-page__section.content-page__section--light
	.container
		.row.content-page__main
			.col-lg-6
				h1.h1.page-title Информация о компании Мавиком
				p Мавиком - динамично развивающаяся Компания, хорошо зарекомендовавшая себя на рынке офисной мебели среди наших покупателей и поставщиков.
				h4 Наша компания была основана в 2001 году, а наш интернет-магазин стал одним из первых магазинов, осуществляющих on-line продажу мебели в регионе. Компания специализируется на оптовой и розничной продаже мебели для офиса и других общественных помещений.
		.row.content-page__row
			.col-lg-10
				.row
					mixin content-item(args={})
						.col-sm-6.col-lg-4
							.content-item
								.content-item__icon-wrap
									img(src=args.img alt="imgs").content-item__icon
								.content-item__title=args.title
								.content-item__text=args.text
					+content-item({
						img: "images/about1.svg",
						title: 'Мы предлагаем широкий ассортимент офисной мебели и аксессуаров',
						text: 'Также мы стараемся максимально полно учитывать интересы наших клиентов: мебель для персонала, кабинеты для руководителей и президентов, офисные кресла, стулья, мягкая мебель, офисные перегородки, стойки ресепшн а также сейфы и металлическая мебель и многое другое.'
					})
					+content-item({
						img: "images/about2.svg",
						title: 'Мы уделяем большое значение качеству продукции и предоставляемых сервисных услуг.',
						text: 'Индивидуальный подход, консультации квалифицированного персонала при выборе продукции, максимально быстрое оформление заказа и отгрузки обеспечивают нам развитие и доверие наших клиентов и партнеров. Мы активно работаем как с компаниями малого бизнеса и частными лицами, так и со средними и крупными иностранными и российскими компаниями.'
					})
					+content-item({
						img: "images/about3.svg",
						title: 'Мы сотрудничаем с дилерами, агентами, архитекторами и строительными организациями',
						text: 'Кроме того, мы существляем оптовые продажи по выгодным ценам. Мы являемся официальными дилерами и дистрибьюторами крупнейших фабрик России, Италии, Испании и Китая. Наш склад и офис находится на одной территории, что является дополнительным удобством для наших клиентов.'
					})
				h4 Мы рады приветствовать Вас на нашем сайте и надеемся увидеть Вас в числе наших постоянных клиентов.

