.content.content-page__section
    .container
        .row.content-page__main
            .col-lg-10.offset-lg-1
                h1.h1.page-title Шоу-рум офисной мебели
                h4 Уважаемые клиенты, приглашаем Вас посетить наш выставочный зал офисной мебели в бизнес центре «Сириус Парк» и  вживую оценить качество представленной продукции по адресу:
                p
                    a(href="#").link.link--icon
                        +icon('i-map-fill')
                        span Каширское ш., дом 3 корп. 2 строение 2
                br
                br
        .row
            .col-lg-10.offset-lg-1
                .row.content-page__row
                    mixin content-item(args={})
                        .col-sm-6.col-lg-4
                            .content-item
                                .content-item__icon-wrap
                                    img(src=args.img alt="imgs").content-item__icon
                                .content-item__text=args.text
                    +content-item({
                        img: "images/about1.svg",
                        text: 'В шоу-руме офисной мебели Mavikom.ru представлены более 10 вариантов мебели для персонала, более 10 вариантов кабинетов для руководителей разного уровня и производителей, а также офисные диваны, офисные кресла.'
                    })
                    +content-item({
                        img: "images/about2.svg",
                        text: 'Опытные менеджеры помогут подобрать офисную мебель, а также сократить Ваш бюджет на покупку. При необходимости можно заказать проект расстановки мебели в Вашем офисе.'
                    })
                    +content-item({
                        img: "images/about4.svg",
                        text: 'На территории есть удобная парковка.'
                    })
                h4 Будем рады видеть Вас в будние дни с 9-00 до 18-00.
                br
                br
                include ../../components/gallery/gallery-big