+include-style('content-page')
.page-wrap.page-wrap--relative
	img(src="/local/templates/html/images/content-bg.png").content-bg__img
	.container
		.container-custom-mobile
			+presection-title({
				title: 'Доставка и оплата устройства glo™'
			})
			.content-page
				.content-page-h2 Методы оплаты
				.content-page-h3 Онлайн-оплата картой на сайте
				p.margin-null Оплатить товар можно банковской картой Мир, Visa, Mastercard или JCB, <br> имеющей код CVC2 или CVV2.
				img(src="/local/templates/html/images/pay-systems.png").payment-system__img
				.content-page-h3 Оплата при доставке
				p.margin-null Оплатить заказ можно наличными или банковской картой курьеру в момент получения заказа. <br> Обратите внимание, что при экспресс-доставке оплата курьеру возможна только наличными денежными средствами.
				p.small Если возникли вопросы  по оплате, вы можете обратиться в Службу поддержки Сбербанка по телефону 8-800-707-71-47.
				.content-page-h2 Условия доставки
				p При доставке на территорию с ограниченным въездом (пропускная система или платный въезд), необходимо обеспечить получение разрешения на въезд и/или оплатить стоимость въезда курьера, в иных случаях доставка осуществляется только до места платного или ограниченного въезда.
				p Передача товара осуществляется только лицам, достигшим 18 лет. При получении товара необходимо предъявить паспорт или иной документ, удостоверяющий личность, для подтверждения возраста.
				p В момент получения заказа, проверьте соответствие модели, осмотрите товар на предмет соответствия заказу, отсутствия механических повреждений, комплектности, наличия сопроводительной документации.
				p В случае заказа другому лицу, при получении, необходимо предоставить доверенность на получение заказа. 
				p Ожидание курьером на месте передачи заказа клиенту составляет не более 20 минут. 
				p Процедура передачи товаров не предусматривает его тестирования и ожидания курьером результатов. Перед использованием товара рекомендуем ознакомиться с инструкцией по эксплуатации.
				p Продажа и передача товара осуществляется в соответствии с законом «О защите прав потребителей» и данными условиями: если товар был поврежден после покупки по вине покупателя из-за нарушения условий эксплуатации, хранения или транспортировки, а также из-за действий других людей или чрезвычайных обстоятельств, обмен или возврат такого товара не производится.
				p Доставка не осуществляется:
				p На стройплощадки, вокзалы, в транспортные компании, садово-огородные товарищества, цеха, пункты общественного питания (за исключением их административных помещений), режимные, секретные и несуществующие объекты.
				p В парки, лесные массивы, на пляжи или иные места, не имеющие определенного адреса, либо условий для передачи товаров и сопроводительной документации, получения оплаты, а также если проезд к месту передачи товара невозможен на расстояние более чем 100 метров.
				p По дорогам с нетвердым покрытием.
