.content.content-page__section
    .container
        .row.content-page__main
            .col-lg-8.offset-lg-1
                h1.h1.page-title Дизайн-проект от компании Мавиком
                h4 При покупке комплекта офисной мебели, возникает вопрос о том — как эффективно использовать офисное пространство?
                p Максимальное количество сотрудников необходимо расположить в ограниченном пространстве офиса так, чтобы они могли работать не мешая друг другу.
                p С этой целью мы предлагаем услугу «Расстановка мебели». Это предложение в виде схемы по расстановке и оформлению офисного пространства заказчика согласно ТЗ (кол-во сотрудников, зоны в офисе — open space, ресепшн, переговорная комната, кабинет руководителя и т.д ).
