@import '../../assets/css/vars_mixins/vars_mixins';

.content-page {
  &__section {
    font-size: 18px;
    padding: 0 0 33px;
    margin-bottom: 65px;
  }
  &__section--light {
    background: #fff;
  }

  &__main {
    margin-bottom: 20px;
  }
  &__main h4 {
    margin-top: 0!important;
  }
  &__row {}
}

.content-page .features {
  padding-top: 0;
}

.content-item {
  max-width: 360px;
  &__icon-wrap {
    margin: 0 0 15px;
  }
  &__icon {}
  &__title {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 20px;
  }
  &__text {
    line-height: lineheight(18,24);
  }
}

@media (max-width: $xl - 1) {
  .content-item {}
}
@media (max-width: $lg - 1) {
  .content-item {
    margin-bottom: 30px;
  }
}
@media (max-width: $md - 1) {
  .content-item {
    margin-bottom: 16px;
  }
}
@media (max-width: $sm - 1) {
  .content-page {
    &__section {
      font-size: 14px;
      margin-bottom: 20px;
      padding-bottom: 10px;
    }
  }
  .content-item {
    &__title {
      font-size: 14px;
    }
  }
}
@media (max-width: $xs - 1) {
  .content-item {
    &__icon {
      margin: 0 auto;
    }
  }
}