+include-style('materials')
.materials-wrap
	.container
		h2.materials__title Документы и материалы
		.material-item-list
			.material-item-wrap
				.material-item
					.material-item__img
						+lazy-img({
							img: 'images/material-tech-list.svg'
						})
					.material-item__title Технический лист
					.material-item__icon
						+icon('i-download')(style="width: 44px; height: 44px")
			.material-item-wrap
				.material-item
					.material-item__img
						+lazy-img({
							img: 'images/materials-scheme-1.svg'
						})
					.material-item__title Схемы
					.material-item__icon
						+icon('i-download')(style="width: 44px; height: 44px")
			.material-item-wrap
				.material-item
					.material-item__img
						+lazy-img({
							img: 'images/materials-instructions-1.svg'
						})
					.material-item__title Инструкция по сборке
					.material-item__icon
						+icon('i-download')(style="width: 44px; height: 44px")
			.material-item-wrap
				.material-item
					.material-item__img
						+lazy-img({
							img: 'images/materials-3ds-1.svg'
						})
					.material-item__title 3DS-MAX
					.material-item__icon
						+icon('i-link-2')(style="width: 44px; height: 44px")
			.material-item-wrap
				.material-item
					.material-item__img
						+lazy-img({
							img: 'images/materials-image-1.svg'
						})
					.material-item__title Изображение изделий
					.material-item__icon
						+icon('i-download')(style="width: 44px; height: 44px")
			.material-item-wrap
				.material-item
					.material-item__img
						+lazy-img({
							img: 'images/materials-list-1.svg'
						})
					.material-item__title Листовки
					.material-item__icon
						+icon('i-link-2')(style="width: 44px; height: 44px")
			.material-item-wrap
				.material-item
					.material-item__img
						+lazy-img({
							img: 'images/materials-pres-1.svg'
						})
					.material-item__title Презентации
					.material-item__icon
						+icon('i-download')(style="width: 44px; height: 44px")
			.material-item-wrap
				.material-item
					.material-item__img
						+lazy-img({
							img: 'images/materials-photo-1.svg'
						})
					.material-item__title Фотографии
					.material-item__icon
						+icon('i-link-2')(style="width: 44px; height: 44px")
			.material-item-wrap
				.material-item
					.material-item__img
						+lazy-img({
							img: 'images/materials-casing-1.svg'
						})
					.material-item__title Обивки
					.material-item__icon
						+icon('i-download')(style="width: 44px; height: 44px")
			.material-item-wrap
				.material-item
					.material-item__img
						+lazy-img({
							img: 'images/materials-autocad-1.svg'
						})
					.material-item__title Autocad
					.material-item__icon
						+icon('i-link-2')(style="width: 44px; height: 44px")