include ../components/ajax/mixin__ajax.pug
include ../components/content/mixin__content-styles.pug
include ../components/mixin__arrow-link/mixin__arrow-link.pug
include ../components/mixin__breadcrumb/mixin__breadcrumb.pug
include ../components/mixin__cart-item/mixin__cart-item.pug
include ../components/mixin__catalog-item/mixin__catalog-item.pug
include ../components/mixin__collections-content/mixin__collections-content.pug
include ../components/mixin__collections/mixin__collections.pug
include ../components/mixin__color-picker-trigger/mixin__color-picker-trigger.pug
include ../components/mixin__color/mixin__color.pug
include ../components/mixin__content-type/mixin__content-type.pug
include ../components/mixin__counter-order/mixin__counter-order.pug
include ../components/mixin__counter/mixin__counter.pug
include ../components/mixin__dynamic/mixin__dynamic.pug
include ../components/mixin__fancy-box/mixin__fancy-box.pug
include ../components/mixin__input-file/mixin__input-file.pug
include ../components/mixin__label/mixin__label.pug
include ../components/mixin__nav/mixin__nav.pug
include ../components/mixin__news-card/mixin__news-card.pug
include ../components/mixin__page-header-section/mixin__page-header-section.pug
include ../components/mixin__presection-main/mixin__presection-main.pug
include ../components/mixin__presection/mixin__presection.pug
include ../components/mixin__product-card/mixin__product-card.pug
include ../components/mixin__product-card2/mixin__product-card2.pug
include ../components/mixin__product-label/mixin__product-label.pug
include ../components/mixin__search-mixin/mixin__search-mixin.pug
include ../components/mixin__subs-card/mixin__subs-card.pug
include ../components/mixin__tabs/mixin__tabs.pug
include ../components/mixin__tag/mixin__tag.pug
include ../components/mixin__vacancy-card/mixin__vacancy-card.pug
include ../components/modal/mixin__modal.pug
include ../components/slider-first-screen/mixin__first-screen-slide.pug
include ../components/validation/mixin__validation.pug
include ../mixins/forms/checkbox/mixin__checkbox.pug
include ../mixins/forms/datapicker/mixin__datapicker.pug
include ../mixins/forms/input/mixin__input.pug
include ../mixins/forms/radio/mixin__radio.pug
include ../mixins/forms/select/mixin__select.pug
include ../mixins/forms/textarea/mixin__textarea.pug
include ../mixins/icon/mixin__icon.pug
include ../mixins/lazy-img-slider/mixin__lazy-img.pug
include ../mixins/lazy-img/mixin__lazy-img.pug
include ../mixins/lazy-picture-slider/mixin__lazy-picture.pug
include ../mixins/lazy-video/mixin__lazy-video.pug
include ../mixins/picture/mixin__picture.pug
include ../mixins/swiper/mixin__swiper-nav.pug
include ../mixins/swiper/mixin__swiper.pug
include ../mixins/webp/mixin__webp.pug
