include ../components/ajax/mixin__ajax.pug
include ../components/card-slide/mixin__card-slide.pug
include ../components/contact-nav/mixin__contact-nav.pug
include ../components/content/mixin__content-styles.pug
include ../components/counter/mixin__counter.pug
include ../components/fancy-box/mixin__fancy-box.pug
include ../components/favourite/mixin__favourite.pug
include ../components/form-mixin/checkbox/mixin__checkbox.pug
include ../components/form-mixin/datapicker/mixin__datapicker.pug
include ../components/form-mixin/file/mixin__file.pug
include ../components/form-mixin/mixin__input.pug
include ../components/form-mixin/radio/mixin__radio.pug
include ../components/form-mixin/select/mixin__select.pug
include ../components/form-mixin/switch/mixin__switch.pug
include ../components/form-mixin/textarea/mixin__textarea.pug
include ../components/fs-slide/mixin__fs-slide.pug
include ../components/info-card/mixin__info-card.pug
include ../components/link-arrow/mixin__link-arrow.pug
include ../components/mixin__advantage/mixin__advantage.pug
include ../components/mixin__divider/mixin__divider.pug
include ../components/mixin__input-file/mixin__input-file.pug
include ../components/mixin__presection-title-main/mixin__presection-title-main.pug
include ../components/mixin__presection-title-orange/mixin__presection-title-orange.pug
include ../components/mixin__presection-title/mixin__presection-title.pug
include ../components/mixin__product-card/mixin__product-card.pug
include ../components/mixin__shop/mixin__shop.pug
include ../components/modal/mixin__modal.pug
include ../components/nav/mixin__nav.pug
include ../components/select/mixin__select.pug
include ../components/slam/mixin__slam.pug
include ../components/slider-product-page/mixin__slider-product-page.pug
include ../components/slider-product/mixin__slider-product.pug
include ../components/slider-sertif/mixin__slider-sertif.pug
include ../components/tab-panel/mixin__tab-panel.pug
include ../components/tag/mixin__tag.pug
include ../components/target-link/mixin__target-link.pug
include ../components/validation/mixin__validation.pug
include ../mixins/icon/mixin__icon.pug
include ../mixins/lazy-bg/mixin__lazy-bg.pug
include ../mixins/lazy-img-slider/mixin__lazy-img.pug
include ../mixins/lazy-img/mixin__lazy-img.pug
include ../mixins/lazy-picture-slider/mixin__lazy-picture-slider.pug
include ../mixins/lazy-video/mixin__lazy-video.pug
include ../mixins/picture/mixin__picture.pug
