include ../components/404/mixin__404.pug
include ../components/ajax/mixin__ajax.pug
include ../components/breadcrumb/mixin__breadcrumb.pug
include ../components/catalog-page/mixin__catalog-page.pug
include ../components/color/mixin__color.pug
include ../components/content/mixin__content-styles.pug
include ../components/counter/mixin__counter.pug
include ../components/fancy-box/mixin__fancy-box.pug
include ../components/form-group-datapicker/mixin__datapicker.pug
include ../components/form-group-file/mixin__file.pug
include ../components/form-group-select/mixin__select.pug
include ../components/form-group/mixin__checkbox.pug
include ../components/form-group/mixin__input.pug
include ../components/form-group/mixin__radio.pug
include ../components/form-group/mixin__textarea.pug
include ../components/form-group/switch/mixin__switch.pug
include ../components/gallery-item/mixin__gallery-item.pug
include ../components/modal/mixin__modal.pug
include ../components/nav/mixin__nav.pug
include ../components/product-item/mixin__product-item.pug
include ../components/products-slider/mixin__products-slider.pug
include ../components/range-slider/mixin__range-slider.pug
include ../components/rating/mixin__rating.pug
include ../components/swiper/mixin__swiper-nav.pug
include ../components/swiper/mixin__swiper.pug
include ../components/tabs/mixin__tabs.pug
include ../components/validation/mixin__validation.pug
include ../mixins/icon/mixin__icon.pug
include ../mixins/lazy-bg-slider/mixin__lazy-bg-slider.pug
include ../mixins/lazy-bg/mixin__lazy-bg.pug
include ../mixins/lazy-img-slider/mixin__lazy-img.pug
include ../mixins/lazy-img/mixin__lazy-img.pug
include ../mixins/lazy-picture-slider/mixin__lazy-picture-slider.pug
include ../mixins/lazy-video/mixin__lazy-video.pug
include ../mixins/picture/mixin__picture.pug
