+include-style('faq')
+include-script('faq')
.page-wrap
	.container
		.container-custom-mobile.container-custom-mobile--faq
			+presection-title({
				title: 'Часто задаваемые вопросы'
			})
			.faq
				.row
					.col-8
						.faq-side.js-faq-tab
							.faq-side__item(data-tab-index="1").active
								span Что такое glo™
							.faq-side__item(data-tab-index="2")
								span glo™ pro
							.faq-side__item(data-tab-index="3")
								span glo™ nano
							.faq-side__item(data-tab-index="4")
								span glo™ hyper
							.faq-side__item(data-tab-index="5")
								span glo™ hyper+
							.faq-side__item(data-tab-index="6")
								span Характеристики
							.faq-side__item(data-tab-index="7")
								span Где найти
							.faq-side__item(data-tab-index="8")
								span Производство
							.faq-side__item(data-tab-index="9")
								span Покупка оптом
							.faq-side__item(data-tab-index="10")
								span glo™ 2.0
							.faq-side__item(data-tab-index="11")
								span Повышенные меры предосторожности
							.faq-side__item(data-tab-index="12")
								span Аксессуары
							.faq-side__item(data-tab-index="13")
								span Стики neo™
							.faq-side__item(data-tab-index="14")
								span Воздействие на здоровье
							.faq-side__item(data-tab-index="15")
								span Социальная ответственность
							.faq-side__item(data-tab-index="16")
								span Контроль качества
							.faq-side__item(data-tab-index="17")
								span Использование
							.faq-side__item(data-tab-index="18")
								span Регистрация и вход в личный кабинет
					.col-16.col-lg-12
						.faq-content(data-tab-index="1").active
							.faq-content__item.active.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
						.faq-content(data-tab-index="2")
							.faq-content__item.active.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
						.faq-content(data-tab-index="3")
							.faq-content__item.active.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
						.faq-content(data-tab-index="4")
							.faq-content__item.active.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
						.faq-content(data-tab-index="5")
							.faq-content__item.active.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
						.faq-content(data-tab-index="6")
							.faq-content__item.active.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
							.faq-content__item.js-content-title
								.faq-content__title Что такое glo™, каков основной механизм его работы? 
								.faq-content__descr В устройстве glo™ табак нагревается до 260 &degС без горения. Благодаря этому в процессе использования не образуется пепла. В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ и смол выделяется меньше*. Сравнение дыма от горящего табака в стандартной сигарете формата 3F4F (примерно 9 мг смол) и пара от нагретого табака в устройстве glo™ проводится по 9 типам вредных компонентов, которые Всемирная Организация Здравоохранения рекомендует сократить в сигаретном дыме. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
	.need-help
		+lazy-bg({
			img: 'images/faq-bg.jpg',
			wrap_mod: 'need-help__wrap',
			img_mod: 'need-help__img',
		})
		.container
			.container-custom-mobile
				.need-help__title Нужна помощь?
				.need-help__descr.h26 Не нашли, что искали? Свяжитесь с нами, и специалисты службы поддержки glo будут рады вам помочь.
				a(href="#").need-help__get-in-touch
					.btn.btn--primary.btn--wide Свяжитесь с нами