mixin page-header-section(args={})
	+b('section').page-header-section
		.container
			.row
				div(class=args.colClasses)
					//- блок для хлебных крошек
					block
					+e.__body
						+e('h1').__title.h1!= args.title
							+e(span).__id= args.id