+modal({
    id: 'modal-options',
    mod: 'modal-options',
    dialog_mod: '',
    header: true,
    header_tabs: false,
    title: 'Возможные цвета'
})
    //опции товара
    include ../../modal-options-inner/modal-options-inner