mixin advantage(args={})
	+include-style('mixin__advantage')
	.advantage
		.advantage__logo
			+lazy-img({
				wrap_mod: 'advantage__logo-img',
				img: args.img,
				placeholder: pixel
			})
		.advantage__content
			.advantage__title.h26!= args.title
			.advantage__descr.h20!= args.descr
			if (args.sub)
				.advantage__sub.h16!= args.sub