extends ../../layout/layout

block vars
	- var pageTitle = 'Остатки на складе'
	- var pageBodyClass = ''
	- var dir = './'


block premain
	+page-header-section({
		title: 'Остатки на складе',
		id: '',
		colClasses: 'col-12',
	})
		+breadcrumb({
			content1: 'Остатки на складе',
			href_content1: '',
			content2: '',
			href_content2: '',
			content3: '',
		})
	include ../../components/category/category


block main
	.no-critical.no-critical--preloader





block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/masonry.min.js" defer)