+include-style('color-picker')
+include-script('color-picker')
.color-picker.js-color-picker
	.color-picker__left
		.color-picker__colors
			+color({
				mod: 'casing-color--product-page',
				title: 'Синий',
				code: 'Oregon 01',
				img: 'images/color-picker-1.jpg',
			})(data-img='images/color-picker-big-1.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Красный',
				code: 'Oregon 04',
				img: 'images/color-picker-2.jpg'
			})(data-img='images/color-picker-big-2.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Синий',
				code: 'Oregon 01',
				img: 'images/color-picker-1.jpg'
			})(data-img='images/color-picker-big-1.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Красный',
				code: 'Oregon 04',
				img: 'images/color-picker-2.jpg'
			})(data-img='images/color-picker-big-2.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Синий',
				code: 'Oregon 01',
				img: 'images/color-picker-1.jpg'
			})(data-img='images/color-picker-big-1.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Красный',
				code: 'Oregon 04',
				img: 'images/color-picker-2.jpg'
			})(data-img='images/color-picker-big-2.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Синий',
				code: 'Oregon 01',
				img: 'images/color-picker-1.jpg'
			})(data-img='images/color-picker-big-1.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Красный',
				code: 'Oregon 04',
				img: 'images/color-picker-2.jpg'
			})(data-img='images/color-picker-big-2.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Синий',
				code: 'Oregon 01',
				img: 'images/color-picker-1.jpg'
			})(data-img='images/color-picker-big-1.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Красный',
				code: 'Oregon 04',
				img: 'images/color-picker-2.jpg'
			})(data-img='images/color-picker-big-2.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Синий',
				code: 'Oregon 01',
				img: 'images/color-picker-1.jpg'
			})(data-img='images/color-picker-big-1.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Красный',
				code: 'Oregon 04',
				img: 'images/color-picker-2.jpg'
			})(data-img='images/color-picker-big-2.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Синий',
				code: 'Oregon 01',
				img: 'images/color-picker-1.jpg'
			})(data-img='images/color-picker-big-1.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Красный',
				code: 'Oregon 04',
				img: 'images/color-picker-2.jpg'
			})(data-img='images/color-picker-big-2.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Синий',
				code: 'Oregon 01',
				img: 'images/color-picker-1.jpg'
			})(data-img='images/color-picker-big-1.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Красный',
				code: 'Oregon 04',
				img: 'images/color-picker-2.jpg'
			})(data-img='images/color-picker-big-2.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Синий',
				code: 'Oregon 01',
				img: 'images/color-picker-1.jpg'
			})(data-img='images/color-picker-big-1.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Красный',
				code: 'Oregon 04',
				img: 'images/color-picker-2.jpg'
			})(data-img='images/color-picker-big-2.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Синий',
				code: 'Oregon 01',
				img: 'images/color-picker-1.jpg'
			})(data-img='images/color-picker-big-1.jpg')
			+color({
				mod: 'casing-color--product-page',
				title: 'Красный',
				code: 'Oregon 04',
				img: 'images/color-picker-2.jpg'
			})(data-img='images/color-picker-big-2.jpg')
	.color-picker__right
		.color-picker__big
			img.color-picker__choosed-color.js-choosed-color(src=pixel)
		.swiper-button-next.color-picker__next.js-color-picker-next
			+icon('i-link')(style="width: 24px; height: 24px")
		.color-picker__choose 
			button.btn.btn--primary Выбрать цвет