-
	var pages = [
		{name: 'Эталонная страница', link: 'etalon'},
		{name: 'Новости', link: 'news'},
		{name: 'Новость', link: 'article'},
		{name: 'Главная', link: 'index'},
		{name: 'Каталог', link: 'catalog'},
		{name: 'Коллекции', link: 'collections'},
		{name: 'Шоу-рум', link: 'room'},
		{name: '3D модели', link: '3dmodel'},
		{name: 'Корзина', link: 'cart'},
		{name: 'Обивки', link: 'casing'},
		{name: 'Контакты', link: 'contacts'},
		{name: 'Дилерам', link: 'dealer'},
		{name: 'Заказ оформлен', link: 'order-success'},
		{name: 'Рекламации', link: 'reclamation'},
		{name: 'Сертификаты', link: 'sertificates'},
		{name: 'Карточка товара', link: 'product-page'},		
		{name: 'Остатки товара', link: 'category'},		
		{name: 'Проекты', link: 'projects'},
		{name: 'Проект', link: 'project'},
		{name: 'Коллекции-разводная', link: 'catalog-collections'},
		{name: 'Поиск', link: 'search-result'},
		{name: '404', link: '404'},
	]
	pages.sort(function(a, b){

		var nameA=a.name.toLowerCase();
		var nameB=b.name.toLowerCase();

		//- if (nameA < nameB) {
		//- 	return -1
		//- } else if (nameA > nameB) {
		//- 	return 1
		//- } else {
		//- 	return 0 // Никакой сортировки
		//- }
	});

+include-style('pages-viget')
+include-script('pages-viget')


.pages-viget
	.pages-viget__menu
		ul.pages-viget__menu-list
			each item in pages
				li.pages-viget__menu-item
					a.pages-viget__menu-link(href= '/local/templates/html/' + item.link + '.html')= item.name
			//- +e('li').__menu-item
			//- 	+e('a').__menu-link(href= '#') Задача
			//- +e('li').__menu-item
			//- 	+e('a').__menu-link(href= 'https://docs.google.com/spreadsheets/d/1L29rFHnabz2YLBGoqjCHneSVKFeVW56piUQwhe1PU4I/edit?usp=sharing') Декомпозиция
			//- +e('li').__menu-item
			//- 	+e('a').__menu-link(href= 'https://www.figma.com/file/aNyaOlMSbOfbhCgL9jYbyf/Veska?нnode-id=91%3A0&viewport=-4685%2C575%2C0.4862944185733795') Дизай
	.pages-viget__btn
		.media-pointer
