mixin slider-sertif(args= {})
	+include-style('slider-sertif')
	+include-script('slider-sertif')
	.slider-sertif
		.custom-container.custom-container--lg
			h2.slider-sertif__title=args.title
			+swiper({
				wrapper_mod: '',
				container_mod: '',
				pagination_mod: '',
				arrow_prev_mod: 'custom-swiper-btn__prev',
				arrow_next_mod: 'custom-swiper-btn__next',
				pagination: true,
				navigation: true,
			}).swiper-sertif(class=args.class_modificator)
				//- Слайды
				.swiper-slide
					+sertif-card({
						src: './images/sertif-01.jpg',
						head_descr: 'Органическая сертификация',
						body_descr: 'Органические продукты подлежат регулированию ЕС № 834/2007. Сырье, производственный процесс и готовая продукция контролируются и гарантируются органами, признанными Министерством сельского хозяйства, продовольствия и лесного хозяйства. Эти органы должны проверять и удостоверять, что вся производственная цепочка (от выбора сырья, обработки до хранения и распределения) соблюдает законодательство об органическом производстве.',
					}) 
				.swiper-slide
					+sertif-card({
						src: './images/sertif-02.jpg',
						head_descr: 'О безопасности пищевой продукции',
						body_descr: 'Технический регламент Таможенного союза "О безопасности пищевой продукции" (технический регламент) устанавливает: объекты технического регулирования; требования безопасности (включая санитарно-эпидемиологические, гигиенические и ветеринарные) к объектам технического регулирования; правила идентификации объектов технического регулирования; формы и процедуры оценки (подтверждения) соответствия объектов технического регулирования требованиям технического регламента.',
					}) 
				.swiper-slide
					+sertif-card({
						src: './images/sertif-03.jpg',
							head_descr: 'О безопасности мяса и мясной продукции',
						body_descr: 'ТР ТС 034/2013, Технический регламент Таможенного союза 034/2013 «О безопасности мяса и мясной продукции» – это документ, который устанавливает единые обязательные для применения и исполнения требования к продуктам убоя и мясной продукции, связанные с ними требования к процессам производства, хранения, перевозки, реализации и утилизации, а также содержит требования к маркировке и упаковке продуктов убоя и мясной продукции.',
					}) 
				.swiper-slide
					+sertif-card({
						src: './images/sertif-04.jpg',
						head_descr: 'Требования безопасности пищевых добавок, ароматизаторов и технологических вспомогательных средств',
						body_descr: 'Технический регламент таможенного союза ТР ТС 029/2012 «Требования безопасности пищевых добавок, ароматизаторов и технологических вспомогательных средств» принят Решением Комиссии Таможенного союза от 20 июля 2012 года № 58. Вступил в силу 1 июля 2013 года.',
					}) 
				.swiper-slide
					+sertif-card({
						src: './images/sertif-05.jpg',
							head_descr: 'Органическая сертификация 5',
						body_descr: 'Органические продукты подлежат регулированию ЕС № 834/2007. Сырье, производственный процесс и готовая продукция контролируются и гарантируются органами, признанными Министерством сельского хозяйства, продовольствия и лесного хозяйства. Эти органы должны проверять и удостоверять, что вся производственная цепочка (от выбора сырья, обработки до хранения и распределения) соблюдает законодательство об органическом производстве.',
					}) 
				.swiper-slide
					+sertif-card({
						src: './images/sertif-01.jpg',
							head_descr: 'Органическая сертификация 1',
						body_descr: 'Органические продукты подлежат регулированию ЕС № 834/2007. Сырье, производственный процесс и готовая продукция контролируются и гарантируются органами, признанными Министерством сельского хозяйства, продовольствия и лесного хозяйства. Эти органы должны проверять и удостоверять, что вся производственная цепочка (от выбора сырья, обработки до хранения и распределения) соблюдает законодательство об органическом производстве.',
					}) 
