@import "src/assets/css/vars_mixins/vars_mixins";

.btn.btn--black {
	min-width: 130px;
	padding: 9px 30px;
	color: $white;
	font-family: $f-main;
	font-weight: 600;
	border: 1px solid transparent;
	background: #131313;
	font-size: 18px;
	position: relative;
	box-sizing: border-box;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 1px;
	@include lineheight(20, 26);
	transition: all .3s ease;
	@media (min-width: $lg) {
		&:hover {
			background: #50AF6F;
		}
		&:active {
			background: #333333;
		}
	}
	.icon {
		fill: #fff;
		margin-left: 16px;
	}
	@media (max-width: $sm - 1){
		font-size: 14px;
		padding: 8px 30px;
	}
}

.btn.btn--icon {
	padding-right: 20px;
}

.btn.btn--primary.btn--fw {
	width: 100%;
}
.btn.btn--wide{
	padding-top: 17px;
	padding-bottom: 16px;
	width: 257px;
	@media (max-width: $xs - 1){
		width: 235px;
		padding: 11px;
		padding-bottom: 9px;
	}
}