@import "src/assets/css/vars_mixins/vars_mixins";

.btn.btn--link {
	color: $c-primary-2;
	border: 2px solid $c-primary-2;
	background-color: transparent;
	border-radius: 2px;
	font-weight: 500;
	&[disabled],
	&.disabled {
		color: rgba(30, 30, 30, 0.2) !important;
		border: solid 1px transparent !important;
		background: transparent !important;
	}
	&:active,
	&:hover,
	&.active {
		color: #fff !important;
		border: solid 2px $c-primary-3-hover !important;
		background-color: $c-primary-3-hover !important;
		box-shadow: none !important;
	}
}
