@import 'src/assets/css/vars_mixins/vars_mixins';

.btn.btn--outline {
  padding: 12px 10px;
  color: $c-primary;
  border: 1px solid $c-primary;
  border-radius: 33px;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  &[disabled], &.disabled {
    color: #e0e0e0 !important;
    border: solid 1px #e0e0e0 !important;
    background: transparent !important;
    &:active, &:hover, &.active {
      color: #e0e0e0 !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }
  @media (min-width: $lg) {
    &:hover, &.active {
      color: $c-primary-hover;
      border: 1px solid $c-primary-hover;
    }
    &:active {
      border: 1px solid $c-primary;
    }
  }
}

