@import 'src/assets/css/vars_mixins/vars_mixins';

.btn.btn--outline {
  color: $c-add;
  border: 1px solid $c-add;
  background-color: transparent;
  &[disabled], &.disabled {
    color: #e0e0e0 !important;
    border: solid 1px #e0e0e0 !important;
    background: transparent !important;
    &:active, &:hover, &.active {
      color: #e0e0e0 !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }
  @media (min-width: $lg) {
    &:hover, &.active {
      color: #fff;
      background: $c-add;
      border: 1px solid $c-add;
    }
    &:active {
      border: 1px solid $c-add;
    }
  }
}

