@import "src/assets/css/vars_mixins/vars_mixins";

.btn.btn--primary {
	min-width: 130px;
	padding: 9px 30px;
	color: $white;
	font-family: $f-main;
	font-weight: 400;
	border: 1px solid transparent;
	background: $c-link;
	font-size: 20px;
	position: relative;
	box-sizing: border-box;
	@include lineheight(20, 26);
	@media (min-width: $lg) {
		&:hover {
			&:after {
				left: 2px;
				position: absolute;
				content: "";
				width: calc(100% - 4px);
				height: calc(100% - 4px);
				background-color: transparent;
				border: 1px solid #fff;
			}
		}
		&:active {
			background: #333333;
		}
	}
	.icon {
		stroke: #fff;
		margin-left: 8px;
	}
}

.btn.btn--icon {
	padding-right: 20px;
}

.btn.btn--primary.btn--fw {
	width: 100%;
}
