+content-styles()
+include-style('news-page')

.content.container
    .row
        .col-lg-6.offset-lg-3
            h1.h1.page-title Первые вместе на выставке Warsaw Home Expo 2019
            p
                b Высокий уровень проведения нынешней выставки Warsaw Home является фактом, с которым согласны все: организаторы, экспоненты и гости. Четвёртое проведение выставки WH стало одним из важнейших отраслевых событий в Польше, и его ранг из года в год возрастает.
            p Profim на Warsaw Home Expo был представлен в третий раз. Выставка этого года была исключительным событием для бренда Profim и группы Flokk – впервые вместе на на общем стенде. Уникальное пространство, запроектированное студией Studio Ganszyniec, создало идеальный фон для кресел Profim и других брендов Flokk. Ценители красоты, а также сторонники практических решений оценили креативный подход к стенду – его привлекательную визуальную обстановку, свежие цвета и приятную атмосферу. Profim представил последние коллекции мебели и две новинки: Trillo Pro и Accis Pro, которые поступят в продажу в начале 2020 года. Для посетителей большой новинкой стали также продукты группы Flokk, во главе с легендарным HÅG Capisco.
            figure.lazy-img-wrap
                img.lazy-img(src="images/news-page1.jpg" alt="img")
                figcaption Совместная забота о мире и изменении климата стала отправной точкой для создания уникальной зоны кино
            p Были показаны фильмы об экологических проблемах: «Антропоцен: эпоха людей» и «Однажды в лесу». Забота об окружающей среде не должна оставаться пустым лозунгом, повторяемым всеми. Слова должны сопровождаться конкретными действиями.
            p Любое небольшое изменение в направлении более экологического подхода принесёт ощутимые результаты не только через сотни лет – все происходит здесь и сейчас. Частью зоны кино было пространство, касающееся ценностей Flokk: «ДНК – путешествие в мир сбалансированного дизайна», где было представлено сырье, составляющее основу продуктов Flokk. Благодаря этому путешествию можно было понять задачи, стоящие перед проектирующей группой, образ мысли, которым руководствуются её члены, и желание, способствующее разработке инновационных экологически чистых решений. Стены выставки были украшены ценной информацией о фактах и конкретных цифрах. В качестве примера можно привести следующий любопытный факт: для производства нашей продукции в 2016 году мы использовали 517 тонн переработанных пластиковых отходов. В 2017 году мы увеличили это количество до 607 тонн, в 2018 году оно составило уже 700 тонн, и наша цель на 2020 год – достижение 1000 тонн.
            include ../../components/gallery/gallery