extends ../../layout/layout

block vars
	- var pageTitle = 'Коллекции'
	- var pageBodyClass = 'product-page'
	- var dir = './'


block premain
	+page-header-section({
		title: 'Коллекции',
		id: '',
		colClasses: 'col-12',
	})
		+breadcrumb({
			content1: 'Каталог',
			href_content1: '',
			content2: 'Коллекции',
			href_content2: '',
			content3: '',
		})
	include ../../components/catalog-collections/catalog-collections



block main
	.no-critical.no-critical--preloader





block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/masonry.min.js" defer)