+include-style('catalog-collections')
+include-script('catalog-collections')
.catalog-collections-wrap
	.container
		.catalog-collections.not-init
			.catalog-collections__item-wrap
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Бридж',
					img: 'images/catalog-colelctions-1.jpg'
				})
			.catalog-collections__item-wrap
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Дакар',
					img: 'images/catalog-colelctions-5.jpg'
				})
			.catalog-collections__item-wrap
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Райт',
					img: 'images/catalog-colelctions-3.jpg',
					label: true,
				})
			.catalog-collections__item-wrap
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Домино',
					img: 'images/catalog-colelctions-4.jpg'
				})
			.catalog-collections__item-wrap
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Молекула',
					img: 'images/catalog-colelctions-5.jpg'
				})
			.catalog-collections__item-wrap.width-2
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Кит',
					img: 'images/catalog-colelctions-6.jpg'
				})
			.catalog-collections__item-wrap
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Бизнес',
					img: 'images/catalog-colelctions-7.jpg'
				})
			.catalog-collections__item-wrap
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Микс',
					img: 'images/catalog-colelctions-8.jpg'
				})
			.catalog-collections__item-wrap
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Мальта',
					img: 'images/catalog-colelctions-9.jpg'
				})
			.catalog-collections__item-wrap.width-2
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Матрикс',
					img: 'images/catalog-colelctions-10.jpg'
				})
			.catalog-collections__item-wrap
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Сити',
					img: 'images/catalog-colelctions-11.jpg'
				})
			.catalog-collections__item-wrap
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Ва-банк',
					img: 'images/catalog-colelctions-12.jpg',
					label: true,
				})
			.catalog-collections__item-wrap
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Космо',
					img: 'images/catalog-colelctions-13.jpg'
				})
			.catalog-collections__item-wrap
				+catalog-item({
					mod: 'catalog-collections-item',
					title: 'Нео',
					img: 'images/catalog-colelctions-14.jpg'
				})