mixin swiper(args= {})
	//-ПРИМЕР
		+swiper({
			navigation: true,
			pagination: true,
			container_mod: '',
			wrapper_mod: '',
			arrow_prev_mod: '',
			arrow_next_mod: '',
			pagination_mod: '',
		}).CLASS.js-CLASS
			//- Слайды
			.swiper-slide
	+include-style('swiper')
	.swiper&attributes(attributes)
		if(args.actions)
			a(href="#").btn.btn--primary
				span=args.actions
		.swiper-container.js-swiper-slider(class= args.container_mod)
			.swiper-wrapper(class= args.wrapper_mod)
				block
		if (args.navigation)
			button.swiper-button-prev.js-swiper-button-prev(class=args.arrow_prev_mod type='button', aria-label='Предыдущий слайд')
			button.swiper-button-next.js-swiper-button-next(class=args.arrow_next_mod type='button', aria-label='Следующий слайд')
		if (args.pagination)
			.swiper-pagination.js-swiper-pagination(class= args.pagination_mod)
