include ../../utility/bemto-setting
include ../../utility/_globalVars
include ../../utility/_mixins
include ../../utility/_functions

+include-style-ajax('header-catalog-drop')

.header-catalog-drop__inner
    +nav({
        modClass: 'header-catalog-drop__nav',
        list: [
            {
                img: 'images/nav1.svg',
                name: 'Мебель для персонала',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2 последний пункт',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav2.svg',
                name: 'Кабинеты руководителя',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели последний пункт',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav3.svg',
                name: 'Мебель для переговорных',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2 последний пункт',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav4.svg',
                name: 'Мягкая мебель для офиса',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2 последний пункт',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav5.svg',
                name: 'Стойки ресепшн',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2 последний пункт',
                        link: '',
                    },
                ]
            },

            {
                img: 'images/nav1.svg',
                name: 'Офисные столы',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2 последний пункт',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav2.svg',
                name: 'Офисные шкафы',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2 последний пункт',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav3.svg',
                name: 'Столы для переговоров',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2 последний пункт',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav4.svg',
                name: 'Офисные диваны',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav5.svg',
                name: 'Офисные кресла',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                ]
            },

            {
                img: 'images/nav1.svg',
                name: 'Офисные стулья',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav2.svg',
                name: 'Офисные кухни',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav3.svg',
                name: 'Офисные перегородки',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav4.svg',
                name: 'Журнальные столы',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav5.svg',
                name: 'Офисные вешалки',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                ]
            },

            {
                img: 'images/nav1.svg',
                name: 'Металлическая мебель',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav2.svg',
                name: 'Сейфы',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav3.svg',
                name: 'Аксессуары для кресел',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                ]
            },
            {
                img: 'images/nav4.svg',
                name: 'Распродажа офисной мебели',
                link: '',
                noflex_nav: true,
                list: [
                    {
                        name: 'Журнальные столы 2',
                        link: '',
                    },
                    {
                        name: 'Офисные вешалки 2',
                        link: '',
                    },

                    {
                        name: 'Металлическая мебель 2',
                        link: '',
                    },
                    {
                        name: 'Сейфы 2',
                        link: '',
                    },
                    {
                        name: 'Аксессуары для кресел 2',
                        link: '',
                    },
                    {
                        name: 'Распродажа офисной мебели 2',
                        link: '',
                    },
                ]
            },

        ]
    })