+modal({
	id: 'modal-contacts',
	mod: 'modal-contacts',
	title: 'Связаться с нами',
	header: true
})
	.modal-contacts__item
		a.modal-contacts__link.anim-ding(href="tel:+74996488477")
			+icon("i-tel")
			span.text.text--tel +7(499) 648-84-77
	.modal-contacts__item
		+icon("i-time")
		span.text Будние дни с 9.00 до 18.00
			br
			| Сб и Вс — выходной
	.modal-contacts__item.anim-map
		+icon("i-map")
		span.text Москва, Каширское ш., 3 корп. 2 стр.2 Бизнес Центр Сириус Парк, 4 этаж.
	.modal-contacts__item
		a.modal-contacts__link.anim-mail(href="mailto:info@mavikom.ru")
			+icon("anim-i-mail-top").anim-mail-top
			+icon("anim-i-mail-bottom")
			span.text info@mavikom.ru



