@import 'src/assets/css/vars_mixins/vars_mixins';

.counter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  .disabled-text {
    position: absolute;
    bottom: 100%;
    left: 0;
    display: none;
    width: 100%;
    text-align: center;
    color: $c-error;
    font-size: 12px;
    line-height: 1;
  }
}

.counter-input {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: auto;
  max-width: 85px;
  height: 40px;
  padding: 10px;
  text-align: center;
  color: $c-text;
  outline: none;
  background-color: #F3F3F3;
  font-size: 26px;
  font-weight: 800;
  line-height: 1;
  &:focus {
    border: 1px solid $c-primary-hover;
  }
  @media (max-width: $sm - 1){
	max-width: 62px;
	font-size: 20px;
  }
}
.counter-btn {
  position: relative;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: transparent;
  background: transparent;
  font-size: 0;
  @media (max-width: $sm - 1){
	width: 30px;
	height: 26px;
  }
  &:before, &:after {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 5px);
    display: block;
    width: 12px;
    height: 4px;
    content: '';
    background: #C4C4C4;
  }
  &:before {
    transform: rotate(-90deg);
  }
  &[disabled], &.disabled {
    cursor: default;
    &:before, &:after {
      background: $c-gray;
    }
  }
}
.counter-minus {
  order: -1;
  &:before {
    display: none;
  }
}
.counter-plus {
  &[disabled], &.disabled {
    & ~ .disabled-text {
      display: block;
    }
  }
}
@media (max-width: 1199px) {
  .fixed-card-body-wrap .disabled-text {
    bottom: 89%;
    width: 183px;
    font-size: 10px;
  }
}
@media (min-width: $xl) {
  .counter-btn {
    &:hover {
      &:before, &:after {
        background: #50AF6F;
      }
    }
  }
}


