include ../../utility/bemto-setting
include ../../utility/_globalVars
include ../../utility/_mixins
include ../../utility/_functions

+include-style-ajax('header-drop')

.row
    .col-md-8
        .js-nav.nav.header-drop__nav
            ul.nav-list
                li.nav-item.has-nav
                    a.nav-link(aria-label="Мебель для персонала" href="#")
                        span.nav-item-name Кабинеты руководителя
                        .nav-toggle.js-nav-toggle
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Avance" href="#")
                        span.nav-lvl2-item-name Avance
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Metal Style Gray" href="#")
                        span.nav-lvl2-item-name Metal Style Gray
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Metal Style White" href="#")
                        span.nav-lvl2-item-name Metal Style White
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Metal Style Anthracite" href="#")
                        span.nav-lvl2-item-name Metal Style Anthracite
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Metal Style Mokko" href="#")
                        span.nav-lvl2-item-name Metal Style Mokko
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Onix" href="#")
                        span.nav-lvl2-item-name Onix
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Onix Wood" href="#")
                        span.nav-lvl2-item-name Onix Wood
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Style" href="#")
                        span.nav-lvl2-item-name Style
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Style" href="#")
                        span.nav-lvl2-item-name Style
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Solution" href="#")
                        span.nav-lvl2-item-name Solution
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Саньяна" href="#")
                        span.nav-lvl2-item-name Саньяна
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Инновация" href="#")
                        span.nav-lvl2-item-name Инновация
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Polo" href="#")
                        span.nav-lvl2-item-name Polo
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Imago" href="#")
                        span.nav-lvl2-item-name Imago
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Artwood" href="#")
                        span.nav-lvl2-item-name Artwood
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Space" href="#")
                        span.nav-lvl2-item-name Space
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Public Comfort" href="#")
                        span.nav-lvl2-item-name Public Comfort
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Sentida Color" href="#")
                        span.nav-lvl2-item-name Sentida Color
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Lavana Steel" href="#")
                        span.nav-lvl2-item-name Lavana Steel
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Lavana" href="#")
                        span.nav-lvl2-item-name Lavana
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Колл-центр" href="#")
                        span.nav-lvl2-item-name Колл-центр
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Locker plus" href="#")
                        span.nav-lvl2-item-name Locker plus
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Flex" href="#")
                        span.nav-lvl2-item-name Flex
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Secret" href="#")
                        span.nav-lvl2-item-name Secret
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Арго-М" href="#")
                        span.nav-lvl2-item-name Арго-М
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Арго" href="#")
                        span.nav-lvl2-item-name Арго
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Skid" href="#")
                        span.nav-lvl2-item-name Skid
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Tour Wood" href="#")
                        span.nav-lvl2-item-name Tour Wood
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Tour Light" href="#")
                        span.nav-lvl2-item-name Tour Light
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Metal" href="#")
                        span.nav-lvl2-item-name Metal
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Metal" href="#")
                        span.nav-lvl2-item-name Metal
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Metal" href="#")
                        span.nav-lvl2-item-name Metal
                li.nav-item.has-nav
                    a.nav-link(aria-label="Мебель для зон отдыха" href="#")
                        span.nav-item-name Мебель для зон отдыха
                        .nav-toggle.js-nav-toggle
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Metal" href="#")
                        span.nav-lvl2-item-name Metal
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Metal" href="#")
                        span.nav-lvl2-item-name Metal
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Metal" href="#")
                        span.nav-lvl2-item-name Metal
                li.nav-item.has-nav
                    a.nav-link(aria-label="Мебель для рекреации" href="#")
                        span.nav-item-name Мебель для рекреации
                        .nav-toggle.js-nav-toggle
                li.nav-item.has-nav
                    a.nav-link(aria-label="Мебель для столовых" href="#")
                        span.nav-item-name Мебель для столовых
                        .nav-toggle.js-nav-toggle
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Metal" href="#")
                        span.nav-lvl2-item-name Metal
                li.nav-lvl2-item
                    a.nav-lvl2-link(aria-label="Metal" href="#")
                        span.nav-lvl2-item-name Metal
        .header-drop__btn
            a(href="#").btn.btn--primary
                span Показать все коллекции (65)
    .col-md-4
        .header-drop__img-wrap
            img.header-drop__img(src="/local/templates/html/images/drop-img.jpg" alt="category")