+include-style('about-section')
+include-script('about-section')

+b('section').about-section
    .container
        .row
            .col-md-3
                +lazy-img({
                    img: 'images/about.png',
                    placeholder: pixel,
                    img_mod: 'about-section__img',
                    wrap_mod: 'about-section__img-wrap',
                    link: false,
                    aria_label: false,
                })
            .col-md-9
                +e.__main
                    +e.__header.section-header
                        +e('h2').__title.section-header__title.h1 Какой бывает офисная мебель
                    +e.__toggle
                        p <b>Кабинет руководителя.</b> Солидные комплекты, способные произвести впечатление. Производятся из элитных материалов, подчеркивающих статус руководителя. Комплекты для кабинета руководителя включают столы, комфортные кресла, тумбы, шкафы для хранения бумаг.
                        p <b>Офисные кресла.</b> Обладают надёжной конструкцией. Производятся из износостойких материалов. Обеспечивают высокий уровень комфорта и мягкую поддержку спины. Различают кресла для руководителей, рядовых сотрудников и посетителей.
                        p <b>Офисные кресла.</b> Обладают надёжной конструкцией. Производятся из износостойких материалов. Обеспечивают высокий уровень комфорта и мягкую поддержку спины. Различают кресла для руководителей, рядовых сотрудников и посетителей.
                        p <b>Офисные кресла.</b> Обладают надёжной конструкцией. Производятся из износостойких материалов. Обеспечивают высокий уровень комфорта и мягкую поддержку спины. Различают кресла для руководителей, рядовых сотрудников и посетителей.
                        p <b>Офисные кресла.</b> Обладают надёжной конструкцией. Производятся из износостойких материалов. Обеспечивают высокий уровень комфорта и мягкую поддержку спины. Различают кресла для руководителей, рядовых сотрудников и посетителей.
                        p <b>Офисные кресла.</b> Обладают надёжной конструкцией. Производятся из износостойких материалов. Обеспечивают высокий уровень комфорта и мягкую поддержку спины. Различают кресла для руководителей, рядовых сотрудников и посетителей.
                        p <b>Офисные кресла.</b> Обладают надёжной конструкцией. Производятся из износостойких материалов. Обеспечивают высокий уровень комфорта и мягкую поддержку спины. Различают кресла для руководителей, рядовых сотрудников и посетителей.
                        p <b>Офисные кресла.</b> Обладают надёжной конструкцией. Производятся из износостойких материалов. Обеспечивают высокий уровень комфорта и мягкую поддержку спины. Различают кресла для руководителей, рядовых сотрудников и посетителей.
                    +e('a').__toggle-link.link(href="javascript:;") Читать все

