+include-style('about-section')
.about-section-wrap
	.container
		+presection-main({
			title: 'О фабрике'
		})
	.about-section-wrap__bg-img
		+lazy-img({
			img: 'images/about-bg.jpg',
			placeholder: pixel,
			wrap_mod: 'about-section__img-wrap'
		})
	.container.bg--line
		.about-section
			.row
				.col-12.col-sm-7
				.col-12.col-sm-5
					.about-section__content
						.about-section__title Производство
						.about-section__descr Мягкая мебель для офиса — это то, что мы делаем и делаем это хорошо!
						.about-section__descr Надёжность, долговечность и актуальный дизайн отличительные черты мягкой мебели нашей фабрики. Тщательный отбор материалов и технологический контроль каждого этапа производства — залог высокого качества и привлекательной цены выпускаемой нами продукции.
						.about-section__link
							+arrow-link({
							linkTitle: 'Подробнее'
							})
			.about-section__img
				+lazy-img({
					img: 'images/about-bg-2.jpg',
					placeholder: pixel
				})