+include-style('delivery')

mixin del-section(title)
     .delivery-section
          .h2=title
          block
mixin del-item(args={})
     .col-md-6.col-lg-4
          .delivery-item
               .delivery-item__header
                    .delivery-item__title!=args.title
                    +icon(args.icon)
               table.delivery-item__table
                    each item in args.row
                         tr
                              td!=item.title
                              if(item.text)
                                   td!=item.text
.container
     h1.h1.page-title Доставка, разгрузка, вывоз упаковки, сборка
     +del-section('Доставка')
          .row

               +del-item({
                    title: 'Доставка по Москве в пределах МКАД с 9-00 до 18-00 по будним дням',
                    icon: 'i-map-fill',
                    row: [
                            {title:'при сумме заказа до 100 000 р.',text:'1500 р.'},
                            {title:'свыше 70 000 р',text:'бесплатно'},
                            {title:'Доставка в вечерние часы и выходные дни',text:'3000 р.'},
                    ]
               })
               +del-item({
                    title: 'Доставка по МО с 9-00 до 18-00 по будним дням',
                    icon: 'i-map-fill',
                    row: [
                         {title: 'при сумме заказа до 100 000 р.', text: '1500 р. + 40 р / 1 км'},
                         {title: 'свыше 70 000 р', text: 'бесплатно <br> + 40 р / 1 км'},
                    ]
               })
               +del-item({
                    title: 'Доставка в вечерние часы и выходные дни',
                    icon: 'i-map-fill',
                    row: [
                         {title: '3000 р'},
                    ]
               })
          .row
               .col-md-8
                    .alert.alert--primary
                         +icon('i-info')
                         .alert__content Поездка тарифицируется в обе стороны
                    .alert
                         +icon('i-info')
                         .alert__content Адресом отправления для расчета является начало трассы от МКАД. <br>Расчет производится через сервис Яндекс карты
                    .alert.alert--primary-bg
                         +icon('i-info')
                         .alert__content
                              p Просим также обратить внимание!
                              p Въезды на территорию заказчика оплачивается дополнительно
                              p Платная стоянка на месте разгрузки оплачивается дополнительно.
                              p Клиенту необходимо обеспечить доступ/подъездные пути для разгрузки товара, особенно это касается центральных улиц Москвы, где парковка запрещена.
     +del-section('Разгрузка')
          .row
               +del-item({
                    title: 'Тариф с грузовым лифтом <br> Время разгрузки с 9-00 до 18-00',
                    icon: 'i-lift',
                    row: [
                         {title: 'до 1500 кг', text: '2 р. / 1 кг, <br> но не менее 1000 р.'},
                         {title: 'от 1500 до 3000 кг', text: '1,5 р. / 1 кг'},
                         {title: 'свыше 3000 кг', text: '1,3 р. / 1 кг'},
                    ]
               })
               +del-item({
                    title: 'Тариф без грузового лифта <br> Время разгрузки с 9-00 до 18-00',
                    icon: 'i-lest',
                    row: [
                         {title: 'применяется тариф стандарт умноженный на количество этажей, включая первый'},
                    ]
               })
               .col-md-8
                    .alert.alert--primary
                         +icon('i-info')
                         .alert__content В вечернее время с 18-00 и выходные дни применяется двойной тариф
     +del-section('Тарифы на вывоз упаковки')
          .row
               +del-item({
                    title: 'При наличии лифта',
                    icon: 'i-lift',
                    row: [
                         {title: 'в будние дни с 9-00 до 17-00', text: '1% от стоимости мебели, но не менее 5000 р.'},
                    ]
               })
               +del-item({
                    title: 'При отсутствии лифта',
                    icon: 'i-lest',
                    row: [
                         {title: 'в будние дни с 9-00 до 17-00', text: '3% от стоимости мебели, плюс 0,5% от стоимости мебели за этаж, но не менее 6000 р.'},
                    ]
               })
               .col-md-8
                    .alert.alert--primary
                         +icon('i-info')
                         .alert__content Вывоз упаковки производится только в пределах МКАД.
     +del-section('Сборка')
          .row
               +del-item({
                    title: 'Сборка в Москве в пределах МКАД с 9-00 до 18-00 по будним дням',
                    icon: 'i-key',
                    row: [
                         {title: 'при сумме заказа до 200 000 р. (но не менее 2 000 р.)', text: '7%'},
                         {title: 'свыше 200 000 р', text: '4%'},
                    ]
               })
               +del-item({
                    title: 'Сборка в Московской области с 9-00 до 18-00 по будним дня',
                    icon: 'i-key',
                    row: [
                         {title: 'при сумме заказа до 500 000 р но не менее 5000 р.', text: '10%'},
                         {title: 'свыше 500 000 р', text: '5%'},
                         {title: 'выезд сборщика за МКАД оплачивается отдельно', text: '1000 р. /человек'},
                    ]
               })
               +del-item({
                    title: 'Дополнительные  услуги',
                    icon: 'i-key',
                    row: [
                         {title: 'врезка замка (без стоимости замка', text: '500 р.'},
                         {title: 'стяжка шкафов между собой', text: '500 р./штука'},
                         {title: 'Врезка лючков круглых', text: '500 р.'},
                         {title: 'Врезка розеточных блоков', text: 'от 2500 р.'},
                    ]
               })
               .col-md-8
                    .alert.alert--primary
                         +icon('i-info')
                         .alert__content Сборка мебели в вечерние часы и выходные дни +1,5% к дневным тарифам
     +del-section('Что входит в стоимость сборки:')
          ul
               li Сборка мебели
               li Расстановка согласно плана
               li Выравнивание после расстановки (двери, и т.д.)
               li Складирование упаковочного картона
          .alert.alert--primary
               +icon('i-info')
               .alert__content Монтаж производится на следующий рабочий день после доставки.