+include-style('materials')
.materials-wrap
	.container
		.materials__descr На этой странице вы найдете архивы с 3D-рендерами коллекций. Архивов на странице удобно сортированы по алфавиту.
	.material-item-list--3ds
		.container
			.material-item-list
				.material-item-wrap
					a(href="#" download).material-item
						span.material-item__img
							+lazy-img({
								img: 'images/materials-3ds-2.svg'
							})
						span.material-item__title Алекто-3D.rar
						span.material-item__icon
							+icon('i-download')(style="width: 44px; height: 44px")
				.material-item-wrap
					a(href="#" download).material-item
						span.material-item__img
							+lazy-img({
								img: 'images/materials-3ds-2.svg'
							})
						span.material-item__title Астро-3D.rar
						span.material-item__icon
							+icon('i-download')(style="width: 44px; height: 44px")
				.material-item-wrap
					a(href="#" download).material-item
						span.material-item__img
							+lazy-img({
								img: 'images/materials-3ds-2.svg'
							})
						span.material-item__title Бридж-3D.rar
						span.material-item__icon
							+icon('i-download')(style="width: 44px; height: 44px")
				.material-item-wrap
					a(href="#" download).material-item
						span.material-item__img
							+lazy-img({
								img: 'images/materials-3ds-2.svg'
							})
						span.material-item__title Беверли-3D.rar
						span.material-item__icon
							+icon('i-download')(style="width: 44px; height: 44px")
				.material-item-wrap
					a(href="#" download).material-item
						span.material-item__img
							+lazy-img({
								img: 'images/materials-3ds-2.svg'
							})
						span.material-item__title Бентли-3D.rar
						span.material-item__icon
							+icon('i-download')(style="width: 44px; height: 44px")
				.material-item-wrap
					a(href="#" download).material-item
						span.material-item__img
							+lazy-img({
								img: 'images/materials-3ds-2.svg'
							})
						span.material-item__title Бизнес-3D.rar
						span.material-item__icon
							+icon('i-download')(style="width: 44px; height: 44px")
				.material-item-wrap
					a(href="#" download).material-item
						span.material-item__img
							+lazy-img({
								img: 'images/materials-3ds-2.svg'
							})
						span.material-item__title Боссо-3D.rar
						span.material-item__icon
							+icon('i-download')(style="width: 44px; height: 44px")
				.material-item-wrap
					a(href="#" download).material-item
						span.material-item__img
							+lazy-img({
								img: 'images/materials-3ds-2.svg'
							})
						span.material-item__title Боссо-3D.rar
						span.material-item__icon
							+icon('i-download')(style="width: 44px; height: 44px")
				.material-item-wrap
					a(href="#" download).material-item
						span.material-item__img
							+lazy-img({
								img: 'images/materials-3ds-2.svg'
							})
						span.material-item__title Ва-банк-3D.rar
						span.material-item__icon
							+icon('i-download')(style="width: 44px; height: 44px")
				.material-item-wrap
					a(href="#" download).material-item
						span.material-item__img
							+lazy-img({
								img: 'images/materials-3ds-2.svg'
							})
						span.material-item__title Вейт-3D.rar
						span.material-item__icon
							+icon('i-download')(style="width: 44px; height: 44px")
				.material-item-wrap
					a(href="#" download).material-item
						span.material-item__img
							+lazy-img({
								img: 'images/materials-3ds-2.svg'
							})
						span.material-item__title Дакар-3D.rar
						span.material-item__icon
							+icon('i-download')(style="width: 44px; height: 44px")
				.material-item-wrap
					a(href="#" download).material-item
						span.material-item__img
							+lazy-img({
								img: 'images/materials-3ds-2.svg'
							})
						span.material-item__title Домино-3D.rar
						span.material-item__icon
							+icon('i-download')(style="width: 44px; height: 44px")