@import "src/assets/css/vars_mixins/vars_mixins";

.collections-content{
	&__trigger{
		margin-top: 10px;
		font-size: 14px;
		opacity: 0.5;
		&:hover{
			text-decoration: underline;
			cursor: pointer;
		}
	}
	&__toggle{
		&:not(.active){
			display: none;
		}
	}
	.p-hidden{
		display: none;
		&.active{
			display: block;
		}
	}
}