@import "src/assets/css/vars_mixins/vars_mixins";

.popular-section {
  padding: 20px 0 45px;
  &__header {}
  &__title {}
  &__link {}
  &__bg-wrap {
    overflow: visible!important;
  }
  .swiper-slide {
    width: 245.5px;
    margin-right: 25px;
  }
}

.popular-item {
  border-radius: 4px;
  min-height: 116px;
  padding: 0 20px 0 15px;
  box-sizing: border-box;
  background: rgba(29, 31, 31, 1);
  &.lazy-img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    transition: opacity ease 0.4s;
  }
  &__icon-wrap {
    flex: 0 0 80px;
    max-width: 80px;
    box-sizing: border-box;
  }
  &__icon {
    max-width: 100%;
    transition: transform ease 0.4s;
  }
  &__title {
    flex: 0 0 calc(100% - 80px);
    max-width: calc(100% - 80px);
    position: relative;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
    padding-left: 20px;
    box-sizing: border-box;
  }

  &:hover {
    .popular-item {
      &__bg {
        opacity: 0.4;
      }
      &__icon {
        transform: scale(1.1);
      }
    }

  }
}

@media (max-width: $xxl - 1) {
  .popular-section {
    .swiper-slide {
      width: 262px;
      margin-right: 25px;
    }
  }
}
@media (max-width: $xl - 1) {
  .popular-section {
    .swiper-slide {
      width: 273.75px;
      margin-right: 25px;
    }
  }
}
@media (max-width: $lg - 1) {
  .popular-section {
    .swiper-slide {
      width: 314.6px;
      margin-right: 25px;
    }
  }
  .popular-item__icon-wrap {
    flex: 0 0 60px;
    max-width: 60px;
  }
}
@media (max-width: $md - 1) {
  .popular-section {
    .swiper-slide {
      width: 228.66px;
      margin-right: 25px;
    }
  }
}
@media (max-width: $sm - 1) {
  .popular-section {
    padding: 20px 0;
    &__bg-wrap {
      border-radius: 4px;
      background-color: #30302E;
    }
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-position: 50% 0;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .swiper-wrapper {
      flex-wrap: wrap;
      max-height: 348px;
      //&.active {
      //  max-height: 5000px;
      //}
    }
    .swiper-slide {
      width: 50%;
      margin-right: 0;
    }
    &__bg-wrap {}
    &__bg {}
  }
  .popular-item {
    padding: 10px 15px;
    &__bg {
      opacity: 0;
    }
    &.lazy-img-wrap {
      border-radius: 0;
      display: block;
      background: rgba(0,0,0,0.0);
    }
    &__icon-wrap {
      display: block;
      margin: 0 auto;
    }
    &__title {
      font-size: 14px;
      font-weight: 300;
      max-width: 100%;
      padding-left: 0;
      text-align: center;
    }
  }
}