+include-script('popular-section')

+b('section').popular-section
    .container
        +e.__header.section-header
            +e('h2').__title.section-header__title.h1 Популярные разделы
            +e.__link.section-header__link
                a(href="#").link Показать все <sup>12</sup>
        +lazy-bg({
            img: 'images/pop-mob.png',
            img_mod: 'popular-section__bg',
            wrap_mod: 'popular-section__bg-wrap',
            link: false,
            aria_label: false,
        })
            +swiper({
                navigation: true,
                pagination: false,
                container_mod: '',
                wrapper_mod: '',
                arrow_prev_mod: '',
                arrow_next_mod: '',
                pagination_mod: '',
            }).popular-section__inner.js-popular-section-slider
                .swiper-slide
                    mixin popular-item(args={})
                        +lazy-bg-slider({
                            img: args.bg,
                            img_mod: 'popular-item__bg',
                            wrap_mod: 'popular-item',
                            link: true,
                            aria_label: true,
                        })
                            span.popular-item__icon-wrap
                                img.popular-item__icon(src=args.icon alt="item" width="80" height="64")
                            //-+lazy-img-slider({
                                img: args.icon,
                                placeholder: pixel,
                                img_mod: 'popular-item__icon',
                                wrap_mod: 'popular-item__icon-wrap',
                                link: false,
                                aria_label: false,
                            //-})
                            .popular-item__title=args.title
                    +popular-item({
                        bg: 'images/pop1.jpg',
                        icon: 'images/cat1.svg',
                        title: 'Мебель для персонала',
                    })
                .swiper-slide
                    +popular-item({
                        bg: 'images/pop2.jpg',
                        icon: 'images/cat2.svg',
                        title: 'Кабинеты руководителя',
                    })
                .swiper-slide
                    +popular-item({
                        bg: 'images/pop3.jpg',
                        icon: 'images/cat3.svg',
                        title: 'Стойки ресепшн',
                    })
                .swiper-slide
                    +popular-item({
                        bg: 'images/pop4.jpg',
                        icon: 'images/cat4.svg',
                        title: 'Мебель для переговорных',
                    })
                .swiper-slide
                    +popular-item({
                        bg: 'images/pop5.jpg',
                        icon: 'images/cat5.svg',
                        title: 'Мягкая мебель для офиса',
                    })
                .swiper-slide
                    +popular-item({
                        bg: 'images/pop6.jpg',
                        icon: 'images/cat6.svg',
                        title: 'Офисные шкафы',
                    })
                .swiper-slide
                    +popular-item({
                        bg: 'images/pop1.jpg',
                        icon: 'images/cat1.svg',
                        title: 'Мебель для персонала',
                    })
                .swiper-slide
                    +popular-item({
                        bg: 'images/pop2.jpg',
                        icon: 'images/cat2.svg',
                        title: 'Кабинеты руководителя',
                    })
                .swiper-slide
                    +popular-item({
                        bg: 'images/pop3.jpg',
                        icon: 'images/cat3.svg',
                        title: 'Стойки ресепшн',
                    })
                .swiper-slide
                    +popular-item({
                        bg: 'images/pop4.jpg',
                        icon: 'images/cat4.svg',
                        title: 'Мебель для переговорных',
                    })
                .swiper-slide
                    +popular-item({
                        bg: 'images/pop5.jpg',
                        icon: 'images/cat5.svg',
                        title: 'Мягкая мебель для офиса',
                    })
                .swiper-slide
                    +popular-item({
                        bg: 'images/pop6.jpg',
                        icon: 'images/cat6.svg',
                        title: 'Офисные шкафы',
                    })
