+include-script('slider-sku')
.sku-slider
	+swiper({
		wrapper_mod: '',
		container_mod: '',
		pagination_mod: '',
		arrow_prev_mod: 'slider-fancy-button-prev',
		arrow_next_mod: 'slider-fancy-button-next',
		pagination: true,
		navigation: true,
	}).sku-slider-thumb.js-sku-slider
		.swiper-slide
			+lazy-img-slider({
				img: 'images/sku-slider-1.jpg',
				placeholder: pixel
			})
			.sku-slider-description Бежевый   
				span Oregon 01

		.swiper-slide
			+lazy-img-slider({
				img: 'images/sku-slider-2.jpg',
				placeholder: pixel
			})
			.sku-slider-description Бежевый   
				span Oregon 01
		.swiper-slide
			+lazy-img-slider({
				img: 'images/sku-slider-5.jpg',
				placeholder: pixel
			})
			.sku-slider-description Бежевый   
				span Oregon 01
		.swiper-slide
			+lazy-img-slider({
				img: 'images/sku-slider-1.jpg',
				placeholder: pixel
			})
			.sku-slider-description Бежевый   
				span Oregon 01
		.swiper-slide
			+lazy-img-slider({
				img: 'images/sku-slider-2.jpg',
				placeholder: pixel
			})
			.sku-slider-description Бежевый   
				span Oregon 01
		.swiper-slide
			+lazy-img-slider({
				img: 'images/sku-slider-1.jpg',
				placeholder: pixel
			})
			.sku-slider-description Бежевый   
				span Oregon 01
		.swiper-slide
			+lazy-img-slider({
				img: 'images/sku-slider-2.jpg',
				placeholder: pixel
			})
			.sku-slider-description Бежевый   
				span Oregon 01
		.swiper-slide
			+lazy-img-slider({
				img: 'images/sku-slider-2.jpg',
				placeholder: pixel
			})
			.sku-slider-description Бежевый   
				span Oregon 01
		.swiper-slide
			+lazy-img-slider({
				img: 'images/sku-slider-1.jpg',
				placeholder: pixel
			})
			.sku-slider-description Бежевый   
				span Oregon 01
		.swiper-slide
			+lazy-img-slider({
				img: 'images/sku-slider-5.jpg',
				placeholder: pixel
			})
			.sku-slider-description Бежевый   
				span Oregon 01
	.sku-slider-slider-pagination