+include-style('glo-social-landing')
.glo-social-wrap
	.container
		.container-custom
			+presection-title-main({
				title: 'Подпишись на нас'
			})
			.glo-social
				a(href="#").glo-social__title @glo.belarus
				.glo-social__descr Присоединяйся и следи за нами в социальных сетях
				include ../social/social
				.glo-instagram-wrap
					.glo-instagram
						//- a(href="#").glo-instagram__item
						//- 	+lazy-img({
						//- 		img: 'images/inst-1.jpg',
						//- 		wrap_mod: 'glo-instagram__image-wrap',
						//- 		img_mod: 'glo-instagram__image-img',
						//- 		placeholder: pixel
						//- 	})
						//- a(href="#").glo-instagram__item
						//- 	+lazy-img({
						//- 		img: 'images/inst-3.jpg',
						//- 		wrap_mod: 'glo-instagram__image-wrap',
						//- 		img_mod: 'glo-instagram__image-img',
						//- 		placeholder: pixel
						//- 	})
						//- a(href="#").glo-instagram__item
						//- 	+lazy-img({
						//- 		img: 'images/inst-1.jpg',
						//- 		wrap_mod: 'glo-instagram__image-wrap',
						//- 		img_mod: 'glo-instagram__image-img',
						//- 		placeholder: pixel
						//- 	})
						//- a(href="#").glo-instagram__item
						//- 	+lazy-img({
						//- 		img: 'images/inst-3.jpg',
						//- 		wrap_mod: 'glo-instagram__image-wrap',
						//- 		img_mod: 'glo-instagram__image-img',
						//- 		placeholder: pixel
						//- 	})
						//- a(href="#").glo-instagram__item
						//- 	+lazy-img({
						//- 		img: 'images/inst-4.jpg',
						//- 		wrap_mod: 'glo-instagram__image-wrap',
						//- 		img_mod: 'glo-instagram__image-img',
						//- 		placeholder: pixel
						//- 	})
						a(href="#").glo-instagram__item.glo-instagram__item--wwh
							+lazy-img({
								img: 'images/inst-2.jpg',
								wrap_mod: 'glo-instagram__image-wrap',
								img_mod: 'glo-instagram__image-img',
								placeholder: pixel
							})