@import 'src/assets/css/vars_mixins/vars_mixins';

.personal-address {
  padding-bottom: 60px;
}

.pa-section {
  margin-bottom: 20px;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  &__header {
    position: relative;
    padding: 17px 25px;
  }
  &__title {
    padding-right: 60px;
  }
  &__actions {
    position: absolute;
    top: 17px;
    right: 25px;
    .icon {
      height: 18px;
      width: 18px;
      fill: $c-dark;
    }
    .remove {
      margin-left: 15px;
    }
    .remove,
    .edit {
      cursor: pointer;
    }
  }
  &__body {
    display: none;
  }
  &__body-inner {
    padding: 10px 25px 17px;
  }

  &.active {
    .edit {
      display: none;
    }
  }
}

.pa-section--new {
  display: none;
  background: #fff;
  .pa-section__body {
    display: block;
  }
}

@media (max-width: $sm - 1) {
  .pa-section {
    &__header {
      padding: 10px 15px;
    }
    &__actions {
      right: 15px;
    }
    &__body-inner {
      padding: 5px 10px 15px;
    }
  }
}