+include-style('thank-you')

.thank-you__inner
    .thank-you__title Заказ № 123 успешно оформлен!
    +lazy-img({
        img: 'images/thank-you.png',
        placeholder: pixel,
        img_mod: 'thank-you__img',
        wrap_mod: 'thank-you__img-wrap',
        link: false,
        aria_label: false,
    })
    .thank-you__text Наш менеджер свяжется с Вами для уточнения и подтверждения деталей заказа. <br>Спасибо, что выбрали товары Mavikom!
    .thank-you__list
        include ../basket-list/basket-list-thank
        .thank-you__list-info
            dl
                dt Вес заказа
                dd 500 кг
            dl
                dt Объем заказа
                dd 5,3 м3
            dl
                dt Способ доставки
                dd Самовывоз
            dl
                dt Стоимость доставки
                dd Бесплатно
            dl
                dt Оплата
                dd Безналичная
            dl
                dt Скидка
                dd 25 000 р.
            dl.total
                dt Итого
                dd
                    span <b>200 000</b>₽
    .thank-you__btn
        a(href="#").btn.btn--primary
            span Вернуться на главную