@import "src/assets/css/vars_mixins/vars_mixins";

.popup__control{
	display: none;
}

.popup{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	left: 0;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgrey;
	&__title{
		font-size: 36px;
		@include lineheight(36,38);
		text-align: center;
		color: #252525;
		@media (max-width: $sm - 1){
			font-size: 24px;
		}
	}
	&__control{
		margin-top: 50px;
		justify-content: center;
		padding: 0px 20px;
	}
	&__resolve, &__reject{
		max-width: 200px;
		width: 100%;
		&:not(:last-child){
			margin-right: 23px;
		}
		.btn.btn--primary, .btn.btn--black{
			height: 50px;
		}
	}
	&__descr{
		text-align: center;
		margin-top: 36px;
		font-style: normal;
		font-weight: 600;
		font-size: 26px;
		@include lineheight(26,28);
		color: #252525;
		@media (max-width: $sm - 1){
			font-size: 18px;
		}
	}
	&__preloader{
		margin-top: 45px;
	}
}