+include-script('popup')
.popup(style="background-image: url('/local/templates/html/images/popup-bg.jpg")
	.popup__inner
		.popup__title Вам уже исполнилось 18 лет?
		.popup__control
			.popup__resolve.js-popup-resolve
				.btn.btn--primary ДА
			.popup__reject
				.btn.btn--black.js-popup-reject НЕТ
		.popup__descr На сайте содержится информация о никотиносодержащих продуктах.
		.popup__preloader.preloader