include ../../utility/bemto-setting
include ../../utility/_globalVars
include ../../utility/_mixins
include ../../utility/_functions

+include-style-ajax('mob-menu')

.mob-menu-top
	.mob-menu-close.js-btn-toggle.active(data-target='.mob-menu' aria-label='закрыть меню')
		+icon('i-close')(width='26' height='26' fill='#8DC63F')
		.mob-menu-title Меню
.mob-menu-body-wrap
	.mob-menu-body
		.mob-menu-body__title.js-btn-toggle(data-target='.mob-header-nav' aria-label='открыть Каталог') 
			+icon('i-catalog')(width='26' height='26' fill='#8DC63F')
			span Каталог
			.nav-toggle
		.mob-header-nav 
			+nav({
				compress: false,
				list: [
					{name: '<div class="eco">Эко</div> еда',
						list: [
							{name: 'Бакалея'},
							{name: 'Паста, лапша',},
							{name: 'Натуральные масла'},
							{name: 'Консервированная продукция'},
							{name: 'Оливки, маслины, тапенады'},
							{name: 'Специии, cоусы, заправки'},
							{name: 'Суперфуды'},
							{name: 'Каши и завтраки'},
							{name: 'Японская кухня'},
							{name: 'Фермерское мясо и птица'},
							{name: 'Фермерское молоко, творог'},
							{name: 'Фермерские овощи и фрукты'},
						]
					},
					{
						name: 'Детям',
							list: [
							{name: 'Бакалея'},
							{name: 'Паста, лапша'},
							{name: 'Натуральные масла'},
							{name: 'Консервированная продукция'},
							{name: 'Оливки, маслины, тапенады'},
							{name: 'Специии, cоусы, заправки'},
							{name: 'Суперфуды'},
							{name: 'Каши и завтраки'},
							{name: 'Японская кухня'},
							{name: 'Фермерское мясо и птица'},
							{name: 'Фермерское молоко, творог'},
							{name: 'Фермерские овощи и фрукты'},
						]
					},
					{name: 'Веганам',
							list: [
							{name: 'Бакалея'},
							{name: 'Паста, лапша', active: true, span: true},
							{name: 'Натуральные масла'},
							{name: 'Консервированная продукция'},
							{name: 'Оливки, маслины, тапенады'},
							{name: 'Специии, cоусы, заправки'},
							{name: 'Суперфуды'},
							{name: 'Каши и завтраки'},
							{name: 'Японская кухня'},
							{name: 'Фермерское мясо и птица'},
							{name: 'Фермерское молоко, творог'},
							{name: 'Фермерские овощи и фрукты'},
						]},
					{name: '<div class="eco">Эко</div> косметика'},
					{name: '<div class="eco">Эко</div> дом'},
					{name: 'Для Питомцев'},
					{name: 'Акции'},
					{name: 'Подарки',
						list: [
							{name: 'О компании'},
							{name: 'Вакансии'},
							{name: 'Сертификаты'},
							{name: 'Отзывы'},
							{name: 'Наши сотрудники'},
							{name: 'Форма обратной связи'},
							{name: 'Инструкция по форме'},
							{name: 'Изменить будущее'},
							{name: 'Важность оформления контента на сайте'},
							{name: 'Легко читать нельзя, исправить!'},
							{name: 'Как оформить текст на сайте?'},
							{name: 'Требования IT-компаний к офисам'},
							{name: 'Новый раздел'},
						]},
					]
				})

		a(href="/local/templates/html/blog.html" aria-label='Блог').mob-menu-body__title
			+icon('i-blog')(width='26' height='26' fill='#8DC63F')
			span БЛОГ

		.mob-header-top-nav
			+nav({
					compress: false,
					list: [
						{name: 'О компании', link: './about.html',
							list: [
								{name: 'Бренды', link: './brand.html'},
								{name: 'Доставка и оплата', active: true, span: true},
								{name: 'Программа лояльности'},
								{name: 'Био органика'},
							]
						},
						{name: 'Потребителям'},
						{name: 'Магазины'},
						{name: 'Контакты', link: './contacts.html'},
					]
				})
		
	a(href="#" aria-label='Выйти' title='Выйти из личного кабинета').mob-logout
		+icon('i-logout')(style='width:24px; height:24px; fill: #6BA533')
		span Выйти из личного кабинета
	.mob-menu-contact
		.mob-menu-contact__item
			+icon('i-clock')(style='width: 20px; height: 20px;')
			span.mob-menu-contact__link Ежедневно с 10:00–21:00
		.mob-menu-contact__item
			+icon('i-mtc')(style='width: 20px; height: 20px;')
			a(href='#').mob-menu-contact__link +375 (29) 646-16-16
		.mob-menu-contact__item
			+icon('i-a1')(style='width: 20px; height: 20px;')
			a(href='#').mob-menu-contact__link +375 (29) 646-16-16
		.mob-menu-contact__item
			+icon('i-life')(style='width: 20px; height: 20px;')
			a(href='#').mob-menu-contact__link +375 (29) 646-16-16
		.mob-menu-contact__item
			+icon('i-tel')(style='width: 20px; height: 20px;')
			a(href='#').mob-menu-contact__link +375 (17) 388-00-82
		.mob-menu-contact__item
			+icon('i-email')(style='width: 20px; height: 20px;')
			a(href='#' aria-label='info@veska.shop').mob-menu-contact__link info@veska.shop
		.mob-menu-contact__item
			//include ../social/social
		.mob-menu-contact__item
			a(href="#modal-feedback",
			aria-label='Обратный звонок',
      data-toggle='modal',
      data-target="#modal-feedback"
			).mob-menu-contact__link Обратный звонок