+include-style('basket-list')

.basket-list
    mixin bl-item(args={})
        .bl-item
            .bl-item__img-wrap
                img.bl-item__img(src=args.img alt="item")
            .bl-item__title=args.title
            .bl-item__info
                //-dl
                    dd Артикул:
                    dt 34234512
                dl
                    dd Размер (д/в/ш)
                    dt 1200х1000х720
                dl
                    dd Цвет:
                    dt
                        span.color(style="background-color:#DEBC72")
            .bl-item__counter
                +counter({
                    max_value: 50,
                    min_value: 1,
                    baseStep: 1,
                    step: 1,
                    value: 22,
                })
            .bl-item__price-box
                .current 200 000 ₽
                .old 250 000 р.
                .sale -25%
            .bl-item__remove
                span.js-remove.remove.anim-rotate
                    +icon('i-close')

    +bl-item({
        img: './images/basket1.jpg',
        title: 'Диван офисный Изумрудное Облачко 2'
    })
    +bl-item({
        img: 'images/basket2.jpg',
        title: 'Диван офисный Омега 23-23'
    })
    +bl-item({
        img: 'images/basket3.jpg',
        title: 'Диван офисный Омега 23-23'
    })
