@import "src/assets/css/vars_mixins/vars_mixins";

.basket-list {
  margin-bottom: 50px;
}

.bl-item {
  background: #fff;
  border-radius: 4px;
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: 260px auto 180px 220px 60px;
  margin: 0 0 20px;
  &__img-wrap {
    padding: 15px 17px;
    border-right: 1px solid #F1F1F1;
    grid-row: 1/3;
  }
  &__img {
    max-width: 100%;
  }
  &__title {
    padding: 30px 30px 15px;
    font-weight: 600;
    color: $c-dark;
    grid-row: 1/2;
  }
  &__info {
    padding: 0 30px 15px;
    color: #828282;
    font-size: 13px;
    grid-row: 2/3;
  }
  dl {
    display: flex;
    align-items: center;
    margin: 0 0 17px;
  }
  dd {
    max-width: 40%;
    flex: 1 0 40%;
  }
  dt {
    max-width: 60%;
    flex: 1 0 60%;
  }
  .color {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 2px;
  }
  &__counter {
    padding: 25px 30px;
    border-right: 1px solid #F1F1F1;
    border-left: 1px solid #F1F1F1;
    grid-row: 1/3;
  }
  &__price-box {
    padding: 30px 60px 0 15px;
    border-right: 1px solid #F1F1F1;
    grid-row: 1/3;
    text-align: right;
  }
  &__price-box .current {
    font-size: 20px;
    font-weight: 700;
  }
  &__price-box .old {
    color: #828282;
    text-decoration: line-through;
  }
  &__price-box .sale {}
  &__remove {
    align-self: center;
    text-align: center;
    grid-row: 1/3;
  }
  &__remove .remove {
    cursor: pointer;
    display: inline-block;
    &:hover {
      .icon {
        fill: $c-primary;
      }
    }
  }
  &__remove .icon {
    height: 18px;
    width: 18px;
    fill: $c-dark;
    transition: transform ease 0.4s, fill ease 0.4s;
  }
}


@media (max-width: $xl - 1) {
  .bl-item {
    grid-template-columns: 200px auto 150px 180px 50px;
    &__img-wrap {
      padding: 15px;
    }
    &__title {
      padding: 30px 15px 15px;
    }
    &__info {
      padding: 0 15px 15px;
    }
    &__counter {
      padding: 25px 15px;
    }
    &__price-box {
      padding: 30px 15px;
    }
  }
}

@media (max-width: $md - 1) {
  .bl-item {
    grid-template-columns: 120px auto auto auto;
    position: relative;
    padding: 10px 0;
    &__img-wrap {
      padding: 5px 15px;
      grid-column: 1/2;
      grid-row: 1/2;
      border-right: 0;
    }
    &__title {
      grid-column: 2/5;
      grid-row: 1/2;
      padding: 15px 40px 5px 15px;
    }
    &__info {
      grid-column: 1/5;
      grid-row: 2/3;
      max-width: 500px;
      padding: 5px 15px;
    }
    dl {
      margin: 0 0 7px;
    }
    &__counter {
      padding: 5px 15px;
      grid-column: 1/3;
      grid-row: 3/4;
      border: 0;
    }
    &__counter .counter {
      max-width: 120px;
    }
    &__price-box {
      padding: 5px 15px;
      grid-column: 3/5;
      grid-row: 3/4;
      border-right: 0;
    }
    &__remove {
      position: absolute;
      top: 5px;
      right: 15px;
    }
  }
}
