@import '../../assets/css/vars_mixins/vars_mixins';

.sidebar-nav {
  &__item {
    margin: 0 0 39px;
  }
  &__header {
    font-weight: 600;
    line-height: 1;
    color: #000;
    margin: 0 0 20px;
  }
  &__body {}
  &__list {
    overflow: hidden;
    max-height: 362px;
    transition: max-height ease 0.4s;
  }
  &__list.active {
    max-height: 50000px;
  }
  &__more {
    margin-top: 15px;
  }
  .more-link {
    color: $c-primary;
  }
  .more-link .text {
    position: relative;
  }
  .more-link .text::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: calc(100% + 10px);
    height: 8px;
    width: 8px;
    border-right: 1px solid $c-primary;
    border-bottom: 1px solid $c-primary;
    transform: rotate(35deg) skew(-20deg);
  }
  .more-link.active .text::after {
    transform: rotate(215deg) skew(-20deg);
  }
  .form-group {
    margin: 0 0 18px;
  }
  .checkbox {}
  .checkbox label {
    font-weight: 300;
    line-height: 1.3;
    color: $c-dark;
  }
  .checkbox label b {
    font-weight: 300;
    opacity: 0.9;
  }

}

@media (max-width: $md - 1) {
  .sidebar-nav {
    display: none;
  }
}


.sidebar-nav.sidebar-nav--links {
  .sidebar-nav {
    &__item {
      margin: 0 0 39px;
    }
    &__header {
      font-weight: 600;
      line-height: 1;
      color: #000;
      margin: 0 0 20px;
    }
    &__body {}
    &__more {
      margin-top: 15px;
    }
  }

  .more-link {
    color: $c-primary;
  }
  .nav {
    overflow: hidden;
    max-height: 362px;
  }
  .nav-list {}
  .nav-item {
    margin: 0 0 18px;
  }
  .nav-link {
    font-weight: 300;
    line-height: 1.3;
    color: $c-dark;
    transition: color ease 0.4s;
    &:hover {
      color: $c-primary;
    }
  }
  .nav-link b {
    font-weight: 300;
    opacity: 0.9;
  }
}

@media (max-width: $md - 1) {
  .sidebar-nav.sidebar-nav--links {
    display: none;
  }
}