+include-script('sidebar-nav')

+b.sidebar-nav
    +e.__item.js-toggle-sn
        +e.__header Категория
        +e.__body
            +e.__list
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мебель для персонала <b>(2)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Кабинеты руководителя <b>(2)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мебель для переговорных <b>(4)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мягкая мебель для офиса <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Стойки ресепшн <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Офисные столы <b>(2)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мебель для переговорных <b>(4)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мягкая мебель для офиса <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Стойки ресепшн <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Офисные столы <b>(2)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Эконом <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Бизнес <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мебель готовая <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы с замком <b>(4)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Недорогая мебель <b>(4)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мебель в комплектах <b>(4)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы <b>(30)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мебель в Беларуси <b>(30)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумба под оргтехнику <b>(30)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы подкатные <b>(30)</b>'
                })
            +e.__more
                a(href="javascript:;").more-link
                    span.text Показать все
