+include-script('sidebar-nav')

+b.sidebar-nav
    +e.__item.js-toggle-sn
        +e.__header По популярности
        +e.__body
            +e.__list
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Эконом <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Бизнес <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мебель готовая <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы с замком <b>(4)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Недорогая мебель <b>(4)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мебель в комплектах <b>(4)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы <b>(30)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мебель в Беларуси <b>(30)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумба под оргтехнику <b>(30)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы подкатные <b>(30)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Эконом <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Бизнес <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мебель готовая <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы с замком <b>(4)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Недорогая мебель <b>(4)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мебель в комплектах <b>(4)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы <b>(30)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мебель в Беларуси <b>(30)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумба под оргтехнику <b>(30)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы подкатные <b>(30)</b>'
                })
            +e.__more
                a(href="javascript:;").more-link
                    span.text Показать все
    +e.__item.js-toggle-sn
        +e.__header По назначению
        +e.__body
            +e.__list
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Столы для двоих <b>(30)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Столы с перегородками <b>(25)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Мебель для Open Space <b>(25)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы выкатные <b>(25)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы под оргтехнику <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы подкатные <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы с ящиками <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы с замком <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Тумбы <b>(1)</b>'
                })
                +checkbox({
                    wrap_mod: '',
                    require: '',
                    input_mod: '',
                    checked: '',
                    label_mod: '',
                    label: 'Столы для троих <b>(2)</b>'
                })
            +e.__more
                a(href="javascript:;").more-link
                    span.text Показать все