@import 'src/assets/css/vars_mixins/vars_mixins';

.breadcrumb {
  overflow: hidden;
  padding: 24px 0 18px;
  font-size: rem(13);
  font-weight: 300;
  color: $c-text;
  &__list {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    text-overflow: clip;
  }
  &__item {
    position: relative;
    list-style: none;
    &:first-child {
      .breadcrumb__link {
        padding: 0 10px 0 0;
      }
    }
    &:not(:first-child) {
      &:before {
        content: '';
        position: absolute;
        top: calc(50% + 1px);
        left: 0;
        display: block;
        width: 6px;
        height: 6px;
        border-right: 1px solid $c-text;
        border-top: 1px solid $c-text;
        transform: translate(0,-50%) rotate(45deg);
      }
    }
    &:last-child {
      display: flex;
      padding-right: 0;
      pointer-events: none;
      .breadcrumb__link {
        color: $c-text;
      }
    }
  }
  &__link {
    padding: 0 10px 0 20px;
    transition: color .3s;
    white-space: nowrap;
    color: $c-text2;
    &:hover {
      color: $c-primary;
    }
  }
}

@media (max-width: $sm - 1) {
  .breadcrumb {
    padding: 15px 0 18px;
  }
  .breadcrumb__item {
    &:first-child {
      display: none;
    }
    &:not(:first-child),
    &:not(:last-child)  {
      display: none;
    }
    &:nth-last-of-type(2) {
      display: block !important;
      a {
        &:after {
          display: none;
        }
      }
    }
    &:last-child {
      display: none;;
    }
    &:before {
      transform: translate(30%, -50%) rotate(225deg)!important;
    }
  }
}

