p В первых числах января 2014 года в Кельне пройдет долгожданная выставка IMM Cologne 2014. Ежегодно это событие объединяет под одной крышей в здании площадью 280 тыс. кв. м более 1000 экспонентов и свыше 100 тыс. посетителей. 
p IMM Cologne представляет собой крупнейший в мире Мебельный Салон и огромнейший выставочный проект, посвященный мебельной тематике. По географии и числу посетителей ему практически нет равных. Лишь Миланский и Парижский Мебельные салоны могут приблизиться к результатам IMM Cologne. 
p Даты проведения выставки в 2014 году припадают на 13-19 января. В это же время здесь проходит выставка дизайна интерьеров LivingInteriors 2014.
+lazy-img({
	http: true,
	img: 'images/news-img-2.jpg',
	placeholder: pixel,
	img_mod: '',
	wrap_mod: 'content-img content-img--center'
})
p Данное мероприятие с огромным нетерпением ожидает вся мировая мебельная промышленность. Специалисты собираются, обсуждают и анализируют новейшие тенденции и модные направления дизайна интерьеров в целом и изготовления мебели в частности. Здесь можно почерпнуть немало интересного. Например, какая компания нашла наиболее эффективный путь развития? Или какие тренды уже устарели, а каким только предстоит стать модными в грядущем сезоне? Международная выставка IMM Cologne 2014 – это именно то место, где можно получить ответы на все эти вопросы. 
p Тематикой выставки по традиции является дизайн и оформление помещений, строительство, деревообработка и мебельная промышленность. 
.content-img.content-img--left
	+lazy-img({
		http: true,
		img: 'images/news-img-3.jpg',
		placeholder: pixel,
		img_mod: '',
	})
p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»]. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
p Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на
p Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на
p Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на
.content-img.content-img--right
	+lazy-img({
		http: true,
		img: 'images/news-img-3.jpg',
		placeholder: pixel,
		img_mod: '',
	})
p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»]. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.
p Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.
//hr
//h3 Видео
//+lazy-video({
//	src: 'video/video.mp4',
//	poster: 'video.png'
//}).video
//br
//hr
//h3 Youtube видео
//+lazy-video-youtube({
//	src: "https://www.youtube.com/embed/djV11Xbc914",
//}).video
