h3 Таблица 1
.table
	table
		tbody
			tr
				th Страховая сумма по договору страхования, BYN
				th Страховой взнос, BYN
				th Страховой взнос, BYN
				th Страховой взнос, BYN
				th Страховой взнос, BYN
				th Страховой взнос, BYN
			tr
				td от 0 до 800 включительно
				td 18,8
				td 18,8
				td 18,8
				td 18,8
				td 18,8
			tr
				td от 801 до 1 600 включительно
				td 24
				td 24
				td 24
				td 24
				td 24
			tr
				td свыше 1 601
				td 36
				td 36
				td 36
				td 36
				td 36
