
+include-style('registration')
+include-style('authorization')
.page-wrap
	.container
		.container-custom-mobile
			+presection-title({
				title: 'Авторизация'
			})
			.row
				.col-sm-24.col-md-10
					.registration__descr.h18 Если вы уже входили в систему, то используйте <br> тот же e-mail пароль
					form.bv-form.authorization-form
						+input({
							type: 'email',
							fg_mod: '',
							mod: 'form-control--common',
							fg_mod: 'form-control--margin form-group--common',
							label: 'Электронная почта',
							name: false,
							small: true,
							placeholder: 'E-mail',
							required: true,
							pattern: true,
							validation: {
								message: 'Заполните поле',
								regexp: 'Неверный формат',
								emailaddress: '',
								identical: false
							}
						})
						+input({
							label: 'Создай пароль',
							type: 'password',
							mod: 'form-control--common',
							fg_mod: 'form-control--margin form-group--common',
							name: false,
							small: false,
							placeholder: 'Введите ваш пароль',
							required: true,
							pattern: 'password',
							validation: {
								message: 'Заполните поле',
								regexp: 'Неверный формат',
								emailaddress: ' ',
								identical: false
							} 
						})
						.authorization-form__submit
							button.btn.btn--primary.btn--wide.btn--full-w(data-submit="true" type="submit") Авторизация
							a(href='#').authorization-form__forgot-password Забыли пароль?
					.new-user
						.new-user__title Новый пользователь
						.new-user__descr.h18 У вас нет аккаунта glo? <br>Нет проблем, нажмите регистрация.
						.new-user__control
							a(href='/local/templates/html/registration.html').btn.btn--black.btn--wide.btn--green.btn--full-w Регистрация