extends ../../layout/layout

block vars
	- var pageTitle = 'Каталог'
	- var bodyClass = ''
	- var dir = './'


block premain
	+page-header-section({
		title: 'Каталог',
		colClasses: 'col-12',
	})
		+breadcrumb({
			content1: 'Каталог',
			href_content1: '',
			content2: '',
			href_content2: '',
			content3: '',
		})
	include ../../components/catalog/catalog


block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
