include ../../utility/bemto-setting
include ../../utility/_globalVars
include ../../utility/_mixins
include ../../utility/_functions

+include-style-ajax('header-basket-drop')
+include-style-ajax('basket-list')

.header-basket-drop__inner
    .header-basket-drop__count Всего товаров: 16
    include ../basket-list/basket-list-drop
    .header-basket-drop__bottom
        .header-basket-drop__total Итого: <span><b>200 000</b> ₽</span>
        .header-basket-drop__actions
            a(href="#").btn.btn--primary
                span Перейти в корзину
            a(href="#").link.anim-rotate
                span Очистить
                +icon('i-close')