@import "src/assets/css/vars_mixins/vars_mixins";

.header-basket-drop {
  &__inner {
    padding: 0 20px;
  }
  &__count {
    padding: 20px 0;
    font-size: 24px;
  }
  &__bottom {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__total {
    display: flex;
    align-items: baseline;
    span {
      font-weight: 700;
      b {
        margin: 0 5px 0 15px;
        font-size: 36px;
      }
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    .btn {
      padding: 16px 20px;
    }
    .link {
      display: flex;
      align-items: center;
      margin-left: 15px;
      color: #828282;
      .icon {
        height: 15px;
        width: 15px;
        min-width: 15px;
        fill: #828282;
        margin-left: 5px;
      }
    }
  }

  .basket-list {
    overflow-y: auto;
    max-height: 305px;
    margin: 0;
    padding-right: 5px;
    &::-webkit-scrollbar {
      width: 4px;
      background-color: #E3E3E3;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #828282;
    }
  }
  .bl-item {
    grid-template-columns: 90px auto 120px 150px 90px;
    margin: 0 0 5px;
    &__img-wrap {
      padding: 15px 5px 15px 15px;
      border-right: 0;
    }
    &__title {
      padding: 15px 5px;
      line-height: 1;
    }
    &__info {
      padding: 0 5px 5px;
    }
    &__counter {
      padding: 15px 5px;
      border-right: 0;
      border-left: 0;
    }
    &__price-box {
      padding: 15px 15px;
      border-right: 0;
    }
    &__price-box .current {
    }
    &__price-box .old {
    }
    &__price-box .sale {}
  }
}

@media (max-width: $md - 1) {
  .header-basket-drop {
    &__count {
      font-size: 20px;
      padding: 15px 0;
    }
    &__bottom {
      flex-wrap: wrap;
    }
    &__total {
      width: 100%;
      justify-content: space-between;
      margin: 0 0 10px;
      span b {
        font-size: 26px;
      }
    }
    &__actions {
      width: 100%;
      .btn {
        padding: 10px;
      }
    }
    .bl-item {
      grid-template-columns: 80px auto auto;
      &__img-wrap {
        padding: 5px;
        grid-row: 1/3;
      }
      &__title {
        grid-column: 2/4;
        grid-row: 1/2;
        padding: 5px;
      }
      &__info {
        grid-column: 2/4;
        grid-row: 2/3;
      }
      &__counter {
        grid-column: 1/3;
        grid-row: 3/4;
        padding: 5px 0;
      }
      &__price-box {
        grid-column: 3/4;
        grid-row: 3/4;
        padding: 5px 0;
      }
      &__remove {
        right: 5px;
      }
    }
  }
}