mixin contact-nav(args={})
	+include-style('contact-nav')
	+b.contact-nav
		+e.__item
			+icon('clock')(style='width: 20px; height: 20px;')
			+e('span').__text Ежедневно с 10:00–21:00
		+e('a').__link(href='tel:+375296461616')
			+icon('i-mtc')(style='width: 20px; height: 20px;')
			+e('span').__text +375 (29) 646-16-16
		+e('a').__link(href='tel:+375296461616')
			+icon('i-a1')(style='width: 20px; height: 20px;')
			+e('span').__text +375 (29) 646-16-16
		+e('a').__link(href='tel:+375296461616')
			+icon('i-life')(style='width: 20px; height: 20px;')
			+e('span').__text +375 (29) 646-16-16
		+e('a').__link(href='tel:+375173880082')
			+icon('i-tel-filled')(style='width: 20px; height: 20px;')
			+e('span').__text +375 (17) 388-00-82
		+e('a').__link(href='mailto:info@veska.shop')
			+icon('i-email')(style='width: 20px; height: 20px;')
			+e('span').__text info@veska.shop
