@import 'src/assets/css/vars_mixins/vars_mixins';

.contact-nav {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	&__item,
	&__link {
		color: #fff;
		font-size: 15px;
		line-height: 1.1;
		display: flex;
		align-items: center;
		margin: 8px 0;
		transition: color .2s;
	}
	&__link {
		&:hover {
			color: $c-primary-hover;
			.icon {
				fill: $c-primary-hover;
			}
		}
	}
	&__text {
		margin-left: 5px;
	}
	.icon {
		transition: fill  .2s;
		fill: #fff;
		margin-right: 7px;
	}
}

