.search-field {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 30px;
  &__input {
    padding: 3px 15px 0;
    height: 40px;
    line-height: 35px;
    width: 100%;
    border-top: 1px solid #E7F0EB;
    border-bottom: 1px solid #E7F0EB;
    border-left: 1px solid #E7F0EB;
    border-radius: 4px 0 0 4px;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    transition: border-color ease 0.4s;
    &::placeholder {
      font-weight: 300;
      font-size: 16px;
      color: #828282;
    }
    &:focus {
      border-color: $c-add;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 56px;
    height: 40px;
    background-color: $c-add;
    border-radius: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
    .icon {
      fill: #fff;
      height: 24px;
      width: 24px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $c-add-hover;

      opacity: 0;
      transition: opacity ease 0.4s;
    }
    span {
      position: relative;
      z-index: 1;
    }
    @media (min-width: $lg) {
      &:hover::before {
        opacity: 1;
      }
      &:active {
        background: $c-add;
      }
    }
  }
}