+include-style('social')
.social
	a(href="https://instagram.com/glo.belarus").social__item
		picture
			source(media="(min-width: 1200px)" srcset="/local/templates/html/images/inst.png")
			source(media="(min-width: 0px)" srcset= pixel)
			img(src="/local/templates/html/images/inst.png")
	a(href="https://vk.com/public204549703").social__item
		picture
			source(media="(min-width: 1200px)" srcset="/local/templates/html/images/vk.png")
			source(media="(min-width: 0px)" srcset= pixel)
			img(src="/local/templates/html/images/vk.png")
	a(hreg="https://www.facebook.com/Glo-Belarus-107064001568533").social__item
		picture
			source(media="(min-width: 1200px)" srcset="/local/templates/html/images/fb.png")
			source(media="(min-width: 0px)" srcset= pixel)
			img(src="/local/templates/html/images/fb.png")
