+include-style('social')
.social
	a(href='#').social__item
		+icon('i-facebook')(style="width:40px; height:40px")
	a(href='#').social__item
		+icon('i-vk')(style="width:40px; height:40px")
	a(href='#').social__item
		+icon('i-inst')(style="width:40px; height:40px")