@import "src/assets/css/vars_mixins/vars_mixins";

.social {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 400px;
	left: 87px;
	z-index: 10;
	@media (max-width: 1920px) {
		left: 30px;
	}

	@media (max-width: $xl - 1) {
		left: 30px;
	}
	@media (max-width: $lg - 1) {
		display: none;
		visibility: hidden;
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: 26px;
		}
		transition: transform 0.3s ease;
		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
	}
}
