+modal({
	id: 'modal-success-order',
	mod: 'modal-success-order',
	title: 'Заказ № 123 успешно оформлен!',
	header: true,
	dialog_mod: '',
})
	.success-img
		img(src="/local/templates/html/images/thank-you.png")

	.success-descr Наш менеджер свяжется с Вами для уточнения и подтверждения деталей заказа. Спасибо, что выбрали товары Mavikom!