+include-style('category')
.category-wrap
	.container
		include ../filter-section/filter-section
		+include-style('model-row')
		.model-row-wrap
			.model-row
				.model-row__list
					+product-card2({
						price: '202 280 ₽',
						mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card2({
						price: '202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card2({
						price: '202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card2({
						price: '202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card2({
						price: '202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card2({
						price: '202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card({
						price: '202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card2({
						price: '202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card2({
						price: '202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card2({
						price: '202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card({
						price: '202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card2({
						price: '202 280 ₽',
						mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})