+include-style('basket-page')
.basket-sticky-btns.basket-sticky-btns--mobile
    +file-download({
        mod_class:'file-download--xls',
        icon: 'XLS',
        name: 'Скачать xls'
    })
    +file-download({
        mod_class:'file-download--pdf',
        icon: 'PDF',
        name: 'Скачать pdf'
    })
include ../basket-list/basket-list