+include-style('basket-page')
.basket-page__empty
    .basket-page__empty-title Ваша корзина пуста
    p.basket-page__empty-text Перейдите в <a href="#">каталог</a>, чтобы добавить товары в корзину
    +lazy-img({
        img: 'images/basket-empty.svg',
        placeholder: pixel,
        img_mod: 'basket-page__img',
        wrap_mod: 'basket-page__img-wrap',
        link: false,
        aria_label: false,
    })
