+include-style('tabs-section')
+include-script('tabs-section')

+b('section').tabs-section
	+e.__header.section-header
		+e('h2').__title.section-header__title.h1 Коллекции бренда
	+e.__options.lvl1.js-options-group
		span.option.active Мебель для персонала
		span.option Кабинеты руководителя
		span.option Мебель для переговорных
		span.option Мягкая мебель для офиса
	+e.__body
		+products-slider({
			collections: true,
			four_items_slider: true
		})
+b('section').tabs-section(id="js-brand-prods")
	+e.__header.section-header
		+e('h2').__title.section-header__title.h1 Товары бренда
	+e.__options.lvl1.js-options-group
		span.option.active Стулья
		span.option Столы
		span.option Диваны
		span.option Шкафы
	+e.__body
		+products-slider-more({
			collections: false,
			four_items_slider: true
		})
//-   +e.__btn
//-       a(href="#").btn.btn--primary
//-           span Посмотреть всё