+include-style('tabs-section')
+include-script('tabs-section')

+b('section').tabs-section.tabs-section--pt0
    +e.__options.lvl1.js-options-group
        span.option.option--light.active Юридическое лицо
        span.option.option--light Физическое лицо
    +e.__body
        include ../../components/personal-data/personal-data
