+include-style('tabs-section')
+include-script('tabs-section')

+b('section').tabs-section.tabs-section--pt0
    +e.__options.lvl1.js-options-group
        span.option(data-person="ur") Юридическое лицо
        span.option.active(data-person="fiz") Физическое лицо
    +e.__body
        include ../../components/basket-order/basket-order

