+b.pp-delivery.row
    .col-md-4
        +e.__title Оплата
        +e.__item
            p
                b Оплата по безналичному расчету для ЮЛ
            p Для юридических лиц выставляем счет, возмещение НДС - 20%
        +e.__item
            p
                b Оплата по безналичному расчету для ФЛ
            p Для физических лиц выставляем счет, оплатить можете через Сбербанк
        +e.__item
            p
                b Оплата за наличный расчет или картой для ФЛ в офисе компании
            p Возможна постоплата (после доставки), если сумма заказа не превышает 50 000 руб
        +e.__item
            p
                b Оплата через систему он-лайн платежей
            p Можете воспользоваться оплатой по кредитной картеон-лайн
    .col-md-4
        +e.__title Доставка
        +e.__item
            p
                b По Москве и в пределах 5км от МКАД 1490 руб.
            p При заказе от 70 000 руб. доставка бесплатная
        +e.__item
            p
                b По МО за пределами МКАД 1000р + 35 р/км
            p При заказе от 70 000 руб. доставка бесплатная
        +e.__item
            p
                b По Москве до терминала транспортной компании 1000 р.
            p Свыше 50 000 бесплатно
        +e.__item
            p
                b Самовывоз. Адрес склада:
            p Москва, Огородный проезд, 20 стр. 21
            p
                a(href="#") Показать на карте
    .col-md-4
        +e.__title Сборка
        +e.__item
            p
                b Сборка в Москве в пределах МКАД с 9-00 до 18-00 по будним дням
            dl
                dd при сумме заказа до 200 000 р. (но не менее 2 000 р.)
                dt 7%
            dl
                dd свыше 200 000 р
                dt 4%
        +e.__item
            p
                b Сборка в Московской области с 9-00 до 18-00 по будним дня
            dl
                dd при сумме заказа до 500 000 р но не менее 5000 р.
                dt 10%
            dl
                dd выезд сборщика за МКАД оплачивается отдельно
                dt 1000 р/человек
            dl
                dd свыше 500 000 р
                dt 5%
        .alert.alert--primary
            +icon('i-info')
            .alert__content Сборка мебели в вечерние часы и выходные дни +1,5% к дневным тарифам