+swiper({
    navigation: true,
    pagination: false,
    container_mod: '',
    wrapper_mod: '',
    arrow_prev_mod: '',
    arrow_next_mod: '',
    pagination_mod: '',
}).pp-sm-slider.js-pp-sm-slider
    .swiper-slide
        .pp-sm-slide.row
            .col-md-6
                +lazy-img-slider({
                    img: 'images/pp-sm-slide1.jpg',
                    placeholder: pixel,
                    img_mod: 'pp-sm-slide__img',
                    wrap_mod: 'pp-sm-slide__img-wrap',
                    link: false,
                    aria_label: false,
                })
            .col-md-6
                .pp-sm-slide__category Товар в интерьере клиентов
                a(href="#").pp-sm-slide__title Компания Wargaming. Мебель для персонала, кресла.
    .swiper-slide
        .pp-sm-slide.row
            .col-md-6
                +lazy-img-slider({
                    img: 'images/pp-sm-slide1.jpg',
                    placeholder: pixel,
                    img_mod: 'pp-sm-slide__img',
                    wrap_mod: 'pp-sm-slide__img-wrap',
                    link: false,
                    aria_label: false,
                })
            .col-md-6
                .pp-sm-slide__category Товар доступен в коллекциях
                a(href="#").pp-sm-slide__title Мебель руководителя «Орион»