.pp-tab-options
    .row
        .col-md-4
            +file-download({
                mod_class: 'file-download--xls',
                icon: 'XLS',
                name: 'Техническая информация'
            })
            +file-download({
                mod_class: 'file-download--zip',
                icon: 'ZIP',
                name: 'ZIP-files'
            })
            +file-download({
                mod_class: 'file-download--pdf',
                icon: 'PDF',
                name: 'Каталог'
            })
        .col-md-8
            table.pp-tab-options__table
                mixin tr(ftd,std)
                    tr
                        td=ftd
                        td=std
                +tr('Материал серии:','Россия')
                +tr('Срок доставки:','для персонала')
                +tr('Бренд серии:','сетка/ткань')
                +tr('Страна производитель:','пластик')
                +tr('Толщина столешницы:','3-5 дней')
                +tr('Основной материал:','металл')
                +tr('Материал покрытия:','топ-ган')
                +tr('Торцевые поверхности:','5 лучевая на колесах')
                +tr('Варианты опор:','нет')
        .col-md-4
            .alert.alert--primary
                +icon('i-info')
                .alert__content Обратите внимание!  <br>Для эксплуатации достаточно прикрутить ножки
        .col-md-8.content
            blockquote Офисные кресла – это важный атрибут любого рабочего пространства. Они влияют на работоспособность, производительность, здоровье и настроение сотрудников. Рынок мебели для офиса предлагает широкий выбор рабочих кресел для персонала и директоров.

