.pp-tab-why
    .h2.pp-tab-why__title Почему мы
    .row
        mixin why(args={})
            .col-md-6
                .pp-why
                    +lazy-img({
                        img: args.icon,
                        placeholder: pixel,
                        img_mod: 'pp-why__img',
                        wrap_mod: 'pp-why__img-wrap',
                        link: false,
                        aria_label: false,
                    })
                    .pp-why__title=args.title
                    .pp-why__text=args.text
        +why({
            icon: 'images/f1.svg',
            title: 'Цены от производителя',
            text: 'Мы даем лучшую цену на рынке'
        })
        +why({
            icon: 'images/f4.svg',
            title: 'Любая форма оплаты',
            text: 'Платите, как удобнее'
        })
        +why({
            icon: 'images/f2.svg',
            title: 'Доставка от 1 дня',
            text: 'Доставляем, поднимаем, собираем'
        })
        +why({
            icon: 'images/f5.svg',
            title: 'Зачет 20% НДС для юрлиц',
            text: 'Платите, как удобнее'
        })
        +why({
            icon: 'images/f3.svg',
            title: 'Гарантия от 1 года',
            text: 'Гарантия на всю продукцию'
        })
        +why({
            icon: 'images/f6.svg',
            title: 'Опыт работы 20 лет',
            text: 'На рынке с 2001 года'
        })