.pp-tab-colors
    +color_block({
        title:'Цвета столешницы'
    })
        +color({
            no_link: true,
            bg: 'background-color:#E4ADAD',
            badge: false,
            name: 'Oregon 19 19 19',
        })
        +color({
            no_link: true,
            bg: 'background-color:#ECD893',
            badge: false,
            name: 'Oregon 03',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 07',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E4ADAD',
            badge: false,
            name: 'Oregon 09',
        })
        +color({
            no_link: true,
            bg: 'background-color:#ECD893',
            badge: false,
            name: 'Oregon 12',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 16',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E4ADAD',
            badge: false,
            name: 'Oregon 17',
        })
        +color({
            no_link: true,
            bg: 'background-color:#ECD893',
            badge: false,
            name: 'Oregon 19',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 22',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 20',
        })
    +color_block({
        title: 'Корпус шкафа'
    })
        +color({
            no_link: true,
            bg: 'background-color:#E4ADAD',
            badge: false,
            name: 'Oregon 19 19 19',
        })
        +color({
            no_link: true,
            bg: 'background-color:#ECD893',
            badge: false,
            name: 'Oregon 03',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 07',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E4ADAD',
            badge: false,
            name: 'Oregon 09',
        })
        +color({
            no_link: true,
            bg: 'background-color:#ECD893',
            badge: false,
            name: 'Oregon 12',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 16',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E4ADAD',
            badge: false,
            name: 'Oregon 17',
        })
        +color({
            no_link: true,
            bg: 'background-color:#ECD893',
            badge: false,
            name: 'Oregon 19',
        })
    +color_block({
        title: 'Цвета ручек'
    })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 07',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E4ADAD',
            badge: false,
            name: 'Oregon 09',
        })
        +color({
            no_link: true,
            bg: 'background-color:#ECD893',
            badge: false,
            name: 'Oregon 12',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 16',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E4ADAD',
            badge: false,
            name: 'Oregon 17',
        })
        +color({
            no_link: true,
            bg: 'background-color:#ECD893',
            badge: false,
            name: 'Oregon 19',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 22',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 20',
        })
    +color_block({
        title: 'Цвета М'
    })
        +color({
            no_link: true,
            bg: 'background-color:#ECD893',
            badge: false,
            name: 'Oregon 12',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 16',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E4ADAD',
            badge: false,
            name: 'Oregon 17',
        })
        +color({
            no_link: true,
            bg: 'background-color:#ECD893',
            badge: false,
            name: 'Oregon 19',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 22',
        })
    +color_block({
        title: 'Цвета N'
    })
        +color({
            no_link: true,
            bg: 'background-color:#ECD893',
            badge: false,
            name: 'Oregon 12',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 16',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E4ADAD',
            badge: false,
            name: 'Oregon 17',
        })
        +color({
            no_link: true,
            bg: 'background-color:#ECD893',
            badge: false,
            name: 'Oregon 19',
        })
        +color({
            no_link: true,
            bg: 'background-color:#E8B05B',
            badge: false,
            name: 'Oregon 22',
        })