+include-style('pp-tabs')
+include-script('pp-tabs')

+tabs({
    titles_list: ['Характеристики','Цвета','Доставка и оплата'],
    container: true,
}).pp-tabs.js-pp-tabs.pp-tabs--collection
    //Характеристики
    .tabs__block.active(id="js-options-block")
        .row
            .pp-tabs__left
                include pp-tab-options--collection
            .pp-tabs__right
                include pp-tab-why
                include pp-sm-slider
    //Цвета
    .tabs__block
        .row
            .pp-tabs__left
                include pp-tab-colors
            .pp-tabs__right
                include pp-tab-why
                include pp-sm-slider

    //Доставка и оплата
    .tabs__block
        include pp-delivery