.pp-tab-options
    .row
        .col-md-4
            +file-download({
                mod_class: 'file-download--pdf',
                icon: 'PDF',
                name: 'Инструкция по сборке и эксплуатации'
            })
            +file-download({
                mod_class: 'file-download--pdf',
                icon: 'PDF',
                name: 'Каталог мебели'
            })
        .col-md-8
            table.pp-tab-options__table
                mixin tr(ftd,std)
                    tr
                        td=ftd
                        td=std
                +tr('Страна производитель','Россия')
                +tr('Назначение кресла','для персонала')
                +tr('Материал обивки кресла','сетка/ткань')
                +tr('Материал подлокотников','пластик')
                +tr('Срок доставки','3-5 дней')
                +tr('Материал крестовины','металл')
                +tr('Механизм качания','топ-ган')
                +tr('Тип базы','5 лучевая на колесах')
                +tr('Подголовники','нет')
                +tr('Поясничный упор','нет')
                +tr('Регулировка глубины сидения','нет')
                +tr('Регулировка подлокотников','нет')
                +tr('Нагрузка','120 кг.')
                +tr('Регулировка по высоте (газлифт)','да')
                +tr('Регулировкаспинки по высоте','нет')
                +tr('Подставка для ног','нет')
                +tr('Допустимый вес','120 кг')
                +tr('Гарантия','1 год')
                +tr('Бренд','Rivachair')
        .col-md-4
            .alert.alert--primary
                +icon('i-info')
                .alert__content Обратите внимание!  <br>Для эксплуатации достаточно прикрутить ножки
        .col-md-8.content
            blockquote Офисные кресла – это важный атрибут любого рабочего пространства. Они влияют на работоспособность, производительность, здоровье и настроение сотрудников. Рынок мебели для офиса предлагает широкий выбор рабочих кресел для персонала и директоров.

