+include-script('slam-catalog-menu')
.header-main-menu
	.catalog-btn-wrap.js-catalog-main-menu(data-slam-ajax="true" data-ajax-src="/local/templates/html/components-template/slam-catalog-menu/ajax__slam-catalog-menu.html" data-ajax-event="click touch" data-ajax-target=".slam-menu-ajax-wrap" data-ajax-reinit="select" )
		<div class="burger-icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
		</div>
		button.catalog Каталог
	.slam-menu-ajax-wrap.js-slam-menu-wrap
