+include-style('collection-utp')
.collection-utp
	.collection-utp__item
		img.collection-utp__img(src="/local/templates/html/images/box.png")
		.collection-utp__descr лекго моется
	.collection-utp__item
		img.collection-utp__img(src="/local/templates/html/images/box.png")
		.collection-utp__descr модульность для любой комнаты
	.collection-utp__item
		img.collection-utp__img(src="/local/templates/html/images/box.png")
		.collection-utp__descr лекго моется
	.collection-utp__item
		img.collection-utp__img(src="/local/templates/html/images/box.png")
		.collection-utp__descr модульность для любой комнаты
	.collection-utp__item
		img.collection-utp__img(src="/local/templates/html/images/box.png")
		.collection-utp__descr модульность для любой комнаты
	.collection-utp__item
		img.collection-utp__img(src="/local/templates/html/images/box.png")
		.collection-utp__descr модульность для любой комнаты