@import "src/assets/css/vars_mixins/vars_mixins";

.eighteen-attention {
	position: fixed;
	bottom: 0;
	display: flex;
	max-height: 60px;
	padding: 20px 15px;
	font-weight: 500;
	font-size: min(20px, calc(1rem + 0.5vw));
	@media (max-width: $sm - 1){
		font-size: 14px
	}
	@media (max-width: $xs - 1){
		font-size: 12px;
	}
	justify-content: center;
	align-items: center;
	// position: absolute;
	z-index: 150;
	width: 100%;
	bottom: 0px;
	z-index: 9999;
	background-color: #f1f1f1;
	&__title {
		span{
			text-transform: uppercase;
		}
		text-align: center;

	}
	&__img {
		margin-left: 30px;
	}
	@media (max-width: $xl - 1) {
		// bottom: -36px;
		padding: 15px 15px;
		justify-content: space-around;
	}
	@media (max-width: $md - 1) {
		padding: 10px 10px;
		// display: none;
	}
}