+include-style('product')
+include-script('3dView')
.page-wrap
	.container
		.container-custom-mobile
			.product.js-3d-view(data-initial-frame="36" data-device-type = 'white')
				.product__image-wrap.product-card__image
					.product__rotate
						+icon('i-rotate')(style="width: 42px; height: 42px")
					.product-card__image-img
						img.product__image(src="images/white-glo/white_device__enamel_white_heater_panel_36.png")
				.product__content
					.product__title glo <sup>tm</sup> hyper+
					.product__descr.h26 Белый
					.product__price-wrap
						form.product-card__sku
							+radio({
								name: 'color',
								wrap_mod: 'color-picker-wrap',
								class_mod: 'color-picker color-1',
								checked: true,
							})
							+radio({
								name: 'color',
								wrap_mod: 'color-picker-wrap',
								class_mod: 'color-picker color-2',
							})
						.product__counter
							+counter({
								max_value: 10,
								min_value: 1,
								baseStep: 1,
								step: 1,
								value: 1,
								})
					.product__price 990 руб.
					.product__add-to-cart
						.btn.btn--black В корзину
							+icon('i-cart')(style="width: 28px; height:28px")
		.container-custom.container-custom-mobile
			.product__tech.h26 Устройство с индукционной технологией нагревания
			.advantage__list.advantage__list--product
				+advantage({
					img: '/images/fire.png',
					title:"Без горения*",
					descr:"",
				})
				+advantage({
					img: '/images/smell.png',
					title:"Меньше запаха*",
					descr:"",
				})
				+advantage({
					img: '/images/boost.png',
					title:"Функция BOOST",
					descr:"Ускоренный нагрев устройства за 15 секунд",
				})
				+advantage({
					img: '/images/power.png',
					title:"До 20 сессий на одном заряде***",
					descr:"Одна зарядка обеспечивает до 20 сеансов использования",
				})
				a(href="#").product__manual.h26 Руководство по использованию GLO
			.advantage__info
				.advantage__item.h16 *По сравнению с курением обычных сигарет. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
				.advantage__item.h16 ***При использовании режима BOOST и при условии полной зарядки устройства. Количество сессий может варьироваться в зависимости от потребления.