@import 'src/assets/css/vars_mixins/vars_mixins';

.lazy-img-wrap {
  display: flex;
  justify-content: center;
	align-items: center;
  &.loaded .preloader {
    display: none;
  }
  .lazy-img{
	  max-width: 100%;
  }
}
