+include-style('catalog-main')
.catalog-main-wrap
	+lazy-bg({
		img: 'images/catalog-bg.jpg',
		wrap_mod: 'catalog-main-wrap__wrap',
		img_mod: 'catalog-main-wrap__img',
	})
	.container
		.catalog-main__header
			.catalog-main__video
				+lazy-video({
				src: '/local/templates/html/images/glo.mp4',
				video_mod: 'lazy-video-scroll',
				poster: 'video.png',
				})(autoplay="true" muted="muted" playsinline)
			.catalog-main__content
				.catalog-main__title Взрывные <br> ощущения
				.catalog-main__descr Наполни свой день <br> яркими эмоциями с glo™
		.catalog-main__about
			.catalog-main__about-title
				+lazy-img({
					img: '/images/hyper.svg',
					placeholder: pixel
				})
		.catalog-main__devices-wrap
			.catalog-main__devices
				+product-card({
					img: 'images/white-glo/white_device__enamel_white_heater_panel_03.png',
					title: 'glo<sup>tm</sup>  hyper+ ',
					descr: 'Белый',
					price: '990 руб.'
				}).product-card--main-catalog(data-initial-frame = '3' data-device-type = 'pearl')
				+product-card({
					img: 'images/black-glo/black_device__ebony_black_heater_panel_03.png',
					title: 'glo<sup>tm</sup>   hyper+',
					descr: 'Черный',
					price: '990 руб.'
				}).product-card--main-catalog(data-initial-frame = '3'  data-device-type = 'black')
