@import 'src/assets/css/vars_mixins/vars_mixins';

.link-arrow {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: auto;
  max-width: 100%;
  margin-left: 40px;
  &__link {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      margin-right: 10px;
      transition: color .3s;
      font-size: 15px;
      font-weight: 700;
    }
    .icon {
      padding-top: 2px;
      transition: transform .3s, fill .3s;
      fill: #000;

      will-change: transform;
    }
    @media (min-width: $md) {
      &:hover {
        .icon {
          transform: translateX(7px);
          fill: $c-primary-hover;
        }
      }
    }
  }
  @media (max-width: $xs - 1) {
    margin-left: auto;
    &__link {
      span {
        display: none;
      }
    }
  }
}
