@import "src/assets/css/vars_mixins/vars_mixins";

.catalog-page {
  &__sidebar {
    flex: 1 0 20%;
    max-width: 20%;
    padding: 138px 35px 20px 15px;
    position: relative;
    box-shadow: -150px 0 10px 0 #fff;
    &::after {
      position: absolute;
      z-index: -1;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 15px;
      background: #fff;
    }
  }
  &__main {
    flex: 1 0 80%;
    max-width: 80%;
    padding: 0 15px 80px;
  }

}
@media (max-width: $lg - 1) {
  .catalog-page {
    &__sidebar {
      flex: 1 0 33.3333%;
      max-width: 33.3333%;
      padding: 174px 15px 20px 15px;
      &::after {
        right: 5px;
      }
    }
    &__main {
      flex: 1 0 66.6666%;
      max-width: 66.6666%;
    }
  }
}
@media (max-width: $md - 1) {
  .catalog-page {
    &__sidebar {
      padding: 0;
    }
    &__main {
      flex: 1 0 100%;
      max-width: 100%;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
