+include-style('brands-section')
+include-script('brands-section')

+b('section').brands-section
    .container
        +e.__header.section-header
            +e('h2').__title.section-header__title.h1 Наши бренды
            +e.__link.section-header__link
                a(href="#").link Все бренды
        +swiper({
            navigation: true,
            pagination: false,
            container_mod: '',
            wrapper_mod: '',
            arrow_prev_mod: '',
            arrow_next_mod: '',
            pagination_mod: '',
        }).brands-section__slider.js-brands-slider
            .swiper-slide
                mixin brand-item(args={})
                    .brand-item
                        +lazy-img-slider({
                            img: args.img,
                            placeholder: pixel,
                            img_mod: 'brand-item__img',
                            wrap_mod: 'brand-item__img-wrap',
                            link: false,
                            aria_label: false,
                        })
                        .brand-item__content
                            .brand-item__content-inner
                                .brand-item__title Новая мебель для московского офиса компании Wargaming
                                .brand-item__text Отмеченный наградами разработчик и издатель онлайн-игр. Являясь одним из лидеров на рынке бесплатных MMO, компания предлагает аутентичные игровые возможности и услуги для ПК, консолей и мобильных платформ.
                +brand-item({
                    img: 'images/brand1.svg',
                })
            .swiper-slide
                +brand-item({
                    img: 'images/brand2.png',
                })
            .swiper-slide
                +brand-item({
                    img: 'images/brand3.png',
                })
            .swiper-slide
                +brand-item({
                    img: 'images/brand4.svg',
                })
            .swiper-slide
                +brand-item({
                    img: 'images/brand5.png',
                })
            .swiper-slide
                +brand-item({
                    img: 'images/brand6.png',
                })
            .swiper-slide
                +brand-item({
                    img: 'images/brand1.svg',
                })
            .swiper-slide
                +brand-item({
                    img: 'images/brand2.png',
                })
            .swiper-slide
                +brand-item({
                    img: 'images/brand3.png',
                })
            .swiper-slide
                +brand-item({
                    img: 'images/brand4.svg',
                })
            .swiper-slide
                +brand-item({
                    img: 'images/brand5.png',
                })
            .swiper-slide
                +brand-item({
                    img: 'images/brand6.png',
                })