@import "src/assets/css/vars_mixins/vars_mixins";

.brands-section {
	padding: 20px 0 45px;

	&.moving{
		.brand-item__content{
			display: none;
		}
		.brand-item{
			&:hover{
				.brand-item__content{
					display: none;
				}
			}
		}
	}

	&__header {}

	&__title {}

	&__link {}

	&__slider {
		padding : 0 40px;
		position: relative;

		&::after {
			background   : #fff;
			box-shadow   : 0 1px 3px rgba(0, 0, 0, 0.15);
			border-radius: 4px;
			content      : '';
			position     : absolute;
			top          : 0;
			left         : 0;
			right        : 0;
			bottom       : 0;
		}
	}

	.swiper-container {
		//overflow: hidden;
	}

	.swiper-wrapper {}

	.swiper-slide {}

	//первый скрыть
	.swiper-slide-prev {
		opacity   : 0;
		visibility: hidden;
	}

	//последний скрыть
	.swiper-slide-next+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide {
		opacity   : 0;
		visibility: hidden;
	}

	.swiper-button-prev,
	.swiper-button-next {
		z-index: 5;
	}
}

.brand-item {
	display    : flex;
	align-items: center;
	height     : 164px;

	&__img-wrap {}

	&__img {
		display  : block;
		max-width: 100%;
	}

	&__content {
		position  : absolute;
		z-index   : 1;
		top       : 30px;
		left      : 50%;
		width     : 520px;
		transform : translate(-50%, -100%);
		opacity   : 0;
		visibility: hidden;
		transition: opacity ease 0.4s, visibility ease 0.4s;



		&::before {
			content   : '';
			position  : absolute;
			z-index   : -1;
			bottom    : 0;
			left      : 50%;
			transform : rotate(45deg) translate(-50%, 20px);
			height    : 20px;
			width     : 20px;
			background: #fff;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
		}

		&::after {
			content   : '';
			position  : absolute;
			z-index   : 1;
			bottom    : 0;
			left      : 50%;
			transform : rotate(45deg) translate(-50%, 20px);
			height    : 20px;
			width     : 20px;
			background: #fff;
		}
	}

	&__content-inner {
		padding      : 20px 20px;
		border-radius: 4px;
		background   : #fff;
		box-shadow   : 0 0 15px rgba(0, 0, 0, 0.13);
	}

	&__title {
		font-weight: 600;
		line-height: 1;
		color      : #281F26;
		margin     : 0 0 5px;
	}

	&__text {
		font-weight: 300;
		line-height: 1.3;
		color      : #353535;
	}

	&:hover {
		.brand-item {
			&__content {
				opacity   : 1;
				visibility: visible;
			}
		}
	}
}

@media (max-width: $xxl - 1) {
	.brand-item {
		&__content {
			max-width: 450px;
		}
	}
}

@media (max-width: $xl - 1) {
	.brands-section {
		.swiper-slide-next+.swiper-slide+.swiper-slide+.swiper-slide+.swiper-slide {
			opacity   : 0;
			visibility: hidden;
		}
	}
}

@media (max-width: $lg - 1) {
	.brand-item {
		&__content {
			display: none;
		}
	}
}

@media (max-width: $sm - 1) {
	.brands-section {
		padding: 20px 0;
	}

	.brands-section__slider {
		padding: 0;

		&::after {
			left         : -16px;
			right        : -16px;
			border-radius: 0;
		}
	}

	.brand-item {
		height: 105px;
	}
}