+include-script('slam-slider-menu')
.slam-slider-menu
  +swiper({
		wrapper_mod: 'nav-list',
		container_mod: 'js-nav nav ',
		pagination_mod: 'pagination-about-us-slider',
		arrow_prev_mod: 'about-us-swiper-btn__prev',
		arrow_next_mod: 'about-us-swiper-btn__next',
		pagination: false,
		navigation: true,
	}).js-slider-menu.js-slider-active
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name Эко еда
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name Детям
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name Веганам
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name Эко косметика
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name Эко дом
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name Для питомцев
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name Акции
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name Подарки
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name О комании
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name О комании
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name О комании
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name О комании
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name О комании
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
    li.nav-item.has-nav.swiper-slide
      a(href="#" aria-label="О Компании").nav-link
        span.nav-item-name О комании
      .js-nav.nav-lvl2
        ul.nav-lvl2-list
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды
          li.nav-lvl2-item
            a(href="./brand.html" aria-label="О компании").nav-lvl2-link
              span.nav-lvl2-item-name Бренды