+include-style('achievments')
.achievments-section-wrap
	.container
		.achievments-list
			.achievments-list__item
				.achievments-list__img
					+lazy-img({
						img: 'images/achievment.jpg',
						placeholder: pixel
					})
				.achievments-list__title срок производства — 15 рабочих дней
			.achievments-list__item
				.achievments-list__img
					+lazy-img({
						img: 'images/achievment2.jpg',
						placeholder: pixel
					})
				.achievments-list__title Более 100 изделий представлено в шоу-руме
			.achievments-list__item
				.achievments-list__img
					+lazy-img({
						img: 'images/achievment3.jpg',
						placeholder: pixel
					})
				.achievments-list__title На складе ежедневно Более 60 изделий
			.achievments-list__item
				.achievments-list__img
					+lazy-img({
						img: 'images/achievment4.jpg',
						placeholder: pixel
					})
				.achievments-list__title Менее 0,4% рекламаций в месяц