+include-style('clients-section')

+b('section').clients-section
    .container
        +e.__header.section-header
            +e('h2').__title.section-header__title.h1 Наши клиенты
        +e.__row
            mixin client(args={})
                +lazy-img({
                    img: args.img,
                    placeholder: pixel,
                    img_mod: 'clients-section__img',
                    wrap_mod: 'clients-section__img-wrap',
                    link: false,
                    aria_label: false,
                })
            +client({img:'images/client1.jpg'})
            +client({img:'images/client2.jpg'})
            +client({img:'images/client3.jpg'})
            +client({img:'images/client4.jpg'})
            +client({img:'images/client5.jpg'})
            +client({img:'images/client6.jpg'})
            +client({img:'images/client7.jpg'})
            +client({img:'images/client8.jpg'})
            +client({img:'images/client9.jpg'})
            +client({img:'images/client10.jpg'})
            +client({img:'images/client11.jpg'})
            +client({img:'images/client12.jpg'})
            +client({img:'images/client13.jpg'})
            +client({img:'images/client14.jpg'})
            +client({img:'images/client15.jpg'})
            +client({img:'images/client16.jpg'})
            +client({img:'images/client17.jpg'})
            +client({img:'images/client18.jpg'})
            +client({img:'images/client19.jpg'})
            +client({img:'images/client20.jpg'})