@import "src/assets/css/vars_mixins/vars_mixins";

.fs {
	padding: 30px 0;
	&__main-col {
		max-width: calc(100% - 440px);
		flex: 0 0 calc(100% - 440px);
		padding: 0 15px;
	}
	&__small-col {
		max-width: 440px;
		flex: 0 0 440px;
		padding: 0 15px;
	}
	&__fs-item {
		&:not(:last-child) {
			margin: 0 0 30px;
		}
	}
}


body.menu-opened{
	.first-screen-wrap{
		background: #131313;
	}
}

.first-screen-wrap {
	background: linear-gradient(94.24deg, #0b0b0b 33.92%, #131313 59.79%, #474646 91.16%);
	position: relative;
}
.first-screen {

	position: relative;
	max-width: 1920px;
	margin: auto;
	padding-top: 169px;
	margin-top: -169px;
	padding-bottom: 116px;
	margin-bottom: 214px;
	height: 1015px;
	@media (max-width: $xl - 1){
		height: 1050px;
	}
	@media (max-width: $lg - 1) {
		height: 850px;
		// overflow: hidden;
		// margin-bottom: 0px;
	}
	@media (max-width: $md - 1) {
		overflow: hidden;
		padding-bottom: 50px;
		height: auto;
		margin-bottom: 100px;
		margin-top: 0px;
		padding-top: 0px;
	}
	@media (max-width: $sm - 1){
		margin-bottom: 40px;
	}
	// @media (max-width: $xs - 1) {
	// 	margin-bottom: 170px;
	// 	height: 530px;
	// }
	&__bg-top {
		position: absolute;
		left: 0;
		top: 0;
		width: 542px;
		height: 302px;
		z-index: 0;
		img {
			max-width: 100%;
		}
		&:after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			background: linear-gradient(255.69deg, rgba(0, 0, 0, 0.52) 24.01%, rgba(0, 0, 0, 0) 74.19%);
		}
		@media (max-width: $lg - 1) {
			display: none;
		}
	}
	&__bg-bottom {
		position: absolute;
		left: 40%;
		bottom: -217px;
		width: 59vw;
		height: 344px;
		background-image: url("/local/templates/html/images/header-bg-1.jpg");
		background-position-y: -289px;
		background-repeat: no-repeat;
		@media (max-width: $xs - 1) {
			background-image: url("/local/templates/html/images/header-bg-1-mobile.jpg");
			background-position-x: 100%;
		}
		@media (max-width: $xl - 1) {
			width: 0;
		}
		@media (max-width: $lg - 1) {
			width: 100%;
			left: 0;
			bottom: -150px;
			height: 200px;
		}
		@media (max-width: $xs - 1) {
			background-position-y: -30px;
		}
		@media (max-width: $md - 1) {
			height: 145px;
			left: auto;
			right: 0px;
			bottom: auto;
			// transform: translateY(133px);
		}
		&:after {
			position: absolute;
			content: "";
			bottom: 0px;
			left: 0;
			width: 278px;
			height: 633px;
			background-image: inherit;
			background-repeat: no-repeat;
			@media (max-width: $lg - 1) {
				width: 0px;
			}
			@media (max-width: $md - 1) {
				bottom: auto;
				top: 0;
				left: 245px;
				width: 100vw;
				height: 250px;
				background-position-y: -288px;
				background-position-x: -246px;
			}
			@media (max-width: $xs - 1) {
				background-position-y: -30px;
				background-position-x: calc(100% - 242px);
			}
		}
		&:before {
			position: absolute;
			content: "";
			bottom: 3px;
			left: 278px;
			width: 493px;
			height: 386px;
			background-image: inherit;
			background-position-x: -278px;
			background-position-y: 386px;
			// background-repeat: no-repeat;
			@media (max-width: $xl - 1) {
				width: 36vw;
				left: 277px;
				// width: 38vw;
			}
			@media (max-width: $lg - 1) {
				width: 0px;
			}
			@media (max-width: $md - 1) {
				top: 0;
				bottom: auto;
				width: 164px;
				height: 165px;
				background-position-y: -288px;
				background-position-x: -82px;
				left: 82px;
			}
			@media (max-width: $xs - 1) {
				background-position-y: -349px;
				width: 100vw;
				background-position-x: calc(100% - 82px);
			}
			// @media (max-width: $md - 1){
			// 	width: 56vw;
			// }
		}
	}
	&__inner {
		display: flex;
		margin-top: 35px;
		@media (max-width: $lg - 1) {
			justify-content: space-between;
		}
		@media (max-width: $md - 1) {
			flex-direction: column;
			margin-top: 0px;
		}
		@media (max-width: $sm - 1) {
			margin-top: 0px;
			// display: block;
		}
	}
}

.first-screen-product {
	padding-top: 93px;
	padding-bottom: 102px;
	padding-left: 113px;
	padding-right: 113px;
	background: rgba(255, 255, 255, 0.07);
	backdrop-filter: blur(83px);
	max-width: 650px;
	margin-left: -40px;
	@media (max-width: $lg - 1) {
		margin-left: 0px;
		padding: 0px;
		background: none;
		backdrop-filter: none;
	}
	@media (max-width: $md - 1) {
		margin-left: 43px;
		order: 2;
	}
	@media (max-width: $sm - 1) {
		margin-left: 32px;
		margin-right: 32px;
	}
	&__title {
		font-size: 56px;
		color: $c-primary;
		font-weight: 800;
		letter-spacing: 2.5px;
		@media (max-width: $xs - 1) {
			font-size: 24px;
			max-width: 100px;
			margin-bottom: 10px;
		}
	}
	&__descr {
		margin-top: 20px;
		max-width: 300px;
		font-weight: 900;
		font-size: 42px;
		@include lineheight(42, 56);
		text-transform: uppercase;
		color: #fff;
		letter-spacing: -1px;
		margin-bottom: 13px;
		@media (max-width: $xs - 1) {
			font-size: 24px;
			max-width: 167px;
			margin-top: 2px;
			line-height: 30px;
			margin-bottom: 5px;
		}
	}
	&__catalog {
		width: 416px;
		margin-top: 88px;
		@media (max-width: $lg - 1) {
			width: auto;
		}
		@media (max-width: $md - 1) {
			display: none;
		}
		@media (max-width: $sm - 1){
			margin-top: 27px;
		}
	}
}

.first-screen-product--no-backdrop{
	@media (min-width: 1200px){
		background: rgba(47, 47, 47, 0.9);
	}
}

.first-screen-devices {
	margin-left: 157px;
	max-width: 510px;
	@media (max-width: $lg - 1) {
		margin-left: 0px;

	}
	@media (max-width: $md - 1) {
		margin-left: 150px;
		margin-top: -40px;
		order: 1;
		margin-top: 38px;
	}
	@media (max-width: $sm - 1) {
		max-width: 169px;
		margin-left: auto;
	}
	@media (max-width: $xs - 1) {
		max-width: 103px;
		margin-left: 176px;
	}
	&__mobile {
		display: none;
		@media (max-width: $xs - 1) {
			display: block;
		}
	}
	&__title {
		font-weight: 600;
		font-size: 36px;
		@include lineheight(36, 46);
		color: #fff;
		letter-spacing: 0.8px;
		margin-bottom: 17px;
		@media (max-width: $md - 1) {
			display: none;
		}
	}
	&__list {
		position: relative;
		@media (max-width: $md - 1) {
			height: 530px;
		}
		@media (max-width: $xs - 1) {
			height: 100%;
			padding-bottom: 240%;
		}
	}
	&__white {
		transition: all 1.5s linear;
		position: absolute;
		right: 170px;
		top: 0;
		// @media (max-width: $sm - 1) {
		// 	right: 105px;
		// }
		@media (max-width: $xs - 1) {
			right: 65px;
			width: 100%;
		}
	}
	&__black {
		transition: all 1.5s linear;
		top: 0;
		position: absolute;
		right: 0;
		// @media (max-width: $md - 1) {
		// }
		@media (max-width: $xs - 1) {
			// height: 250px;
			right: 0;
			width: 100%;
		}
	}
	&.animation {
		@media (min-width: $xs - 1) {
			.first-screen-devices__white {
				right: 230px;
			}
			.first-screen-devices__black {
				right: -100px;
			}
		}
	}
	.divider--device {
		@media (max-width: $md - 1) {
			display: none;
		}
	}
}
