mixin modal(args = {})
	//-
		+modal({
			id: 'modal-NAME',
			mod: 'modal-NAME',
			title: 'TITLE',
			header: true,
			dialog_mod: ''
		})

	+include-style('modal')
	+include-script('modal')

	.modal.fade(
		id = args.id, 
		class= args.mod tabindex='-1', 
		aria-modal= 'true',
		aria-hidden='true',
		)
		.modal-dialog.modal-dialog-centered(class= args.dialog_mod role='document')
			.modal-content

				if (args.header)
					.modal-header
						.modal-title= args.title
						button.modal-close.anim-rotate(type="button" data-dismiss="modal" aria-label="Close")
							+icon('i-close')
				if (args.header_tabs)
					.modal-header
						.modal-tabs-titles.js-modal-titles
							.modal-title.active Войти
							.modal-title Регистрация
							.modal-title.modal-title--forget Восстановление пароля
						button.modal-close.anim-rotate(type="button" data-dismiss="modal" aria-label="Close")
							+icon('i-close')
				.modal-body.modal-tabs-body
					block
