@font-face {
	// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
	font-family: "Favorit Pro";
	// адрес шрифта и тип 
	src        : url("./local/templates/html/fonts/subset-FavoritPro-Light.woff") format("woff");
	font-style : normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
	font-family: "HelveticaNeueCyr";
	// адрес шрифта и тип 
	src        : url("./local/templates/html/fonts/HelveticaNeueCyr-Roman.woff") format("woff");
	font-style : normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
	font-family: "HelveticaNeueCyr";
	// адрес шрифта и тип 
	src        : url("./local/templates/html/fonts/HelveticaNeueCyr-Medium.woff") format("woff");
	font-style : normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
	font-family: "HelveticaNeueCyr";
	// адрес шрифта и тип 
	src        : url("./local/templates/html/fonts/HelveticaNeueCyr-Light.woff") format("woff");
	font-style : normal;
	font-weight: 300;
	font-display: swap;
}