@import "src/assets/css/vars_mixins/vars_mixins";




.no-transition * {
	transition: none !important;
}

.product-page .main{
	@media (min-width: $lg){
		overflow: hidden;
	}
}

html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	color: $c-text;
	font-family: $f-main;
	font-size: $f-size;
	font-weight: normal;
	font-style: normal;
	&.overflow{
		overflow: hidden;
	}
	@include lineheight(16, 24);
	letter-spacing: 0.2px;
	&.mob-menu-active {
		.wrapper {
			position: relative;
			&:after {
				position: absolute;
				content: "";
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				z-index: 100;
				background-color: rgba(0, 0, 0, 0.8);
			}
		}
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.main {
	flex: 1 0 auto;
	background-color: #fff;
}
.footer {
}
.hidden {
	display: none !important;
}
svg {
	max-width: 100%;
}
hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border-top: 1px solid $c-hr;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}
a {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	text-decoration: none;
	color: #000;
	background: transparent;
	font-size: 100%;
	&:hover {
		color: #000;
	}
}
ins {
	text-decoration: none;
	color: $c-text;
	background-color: $bg-inc-mark;
}
mark {
	color: $c-text;
	background-color: $bg-inc-mark;
	font-weight: bold;
	font-style: italic;
}
del {
	text-decoration: line-through;
}
abbr[title],
dfn[title] {
	cursor: help;
	border-bottom: 1px dotted;
}

img {
	margin: auto;
	display: block;
	max-width: 100%;
}
