mixin picture(args={})
  picture
    source(media="(min-width: 769px)" srcset="./images/" + args.imgBig)
    source(media="(max-width: 768px)" srcset="./images/" + args.imgSmall)
    img(src="./images/" + args.imgBig, alt="picture" class=args.modClass)

