mixin gallery-item(args={})
    +include-style('gallery-item')
    .gallery-item
        .gallery-item__info
            +icon('i-info')
            .gallery-item__text
                p Услуга по расстановке бесплатная при сумме заказа <b>от 100 000 р.</b>
                p При сумме заказа менее 100 000 р. cтоимость услуги составляет <b>200 р./м2</b>
                a(href="").btn.btn--primary
                    span Заказать дизайн-проект
        +lazy-img-slider({
            link: false,
            img: 'images/shema.jpg',
            placeholder: 'images/shema.jpg',
            img_mod: 'gallery-item__img',
            wrap_mod: 'gallery-item__img-wrap'
        })