@import "src/assets/css/vars_mixins/vars_mixins";
@import "checkbox/style.scss";
@import "radio/style.scss";


form{
	.warning-buy{
		margin-bottom: 15px;
	}
}

.form-group-select {
	select.form-control--filter {
		padding: 9px 16px;
		font-size: 20px;
		border: 1px solid #e7e7e7;
	}
}

.form-group--hw {
	width: calc(50% - 15px);
	@media (max-width: $sm - 1) {
		width: 100%;
	}
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
	position: relative;
	&.has-error {
		.form-control {
			border: 1px solid $red;
			padding: 8px 16px 7px 16px;
			&:hover {
				border: 1px solid $red;
			}
		}
		.help-block {
			position: absolute;
			top: calc(100% + 4px);
			left: 17px;
			color: $red;
			font-size: 12px;
		}
	}
	&:last-child {
		margin-bottom: 0px;
	}
}

.form-group[disabled="disabled"] {
	position: relative;
	.form-control {
		background-color: rgba(133, 133, 133, 0.1);
		&:hover {
			border-color: transparent;
		}
	}
	// &:after{
	// 	position: absolute;
	// 	content: '';
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	z-index: 10;
	// 	background-color: rgba(133,133,133,0.1);
	// }
}

.form-group--light {
	&:not(:last-child) {
		margin-bottom: 28px;
	}
}
.form-control--filter {
	padding: 0px;
	.form-control-label {
	}
}
.form-group--radio {
	margin-bottom: 0px;
	&:not(:last-of-type) {
		margin-right: 30px;
	}
}

.half-width {
	display: flex;
	justify-content: space-between;
	justify-content: space-between;
	@media (max-width: $sm - 1) {
		flex-direction: column;
		margin-bottom: 16px;
	}
	.form-group {
		width: 100%;
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.form-control {
	color: #000;
	padding: 9px 16px 9px 16px;
	background-color: #fbfbfb;
	border: 1px solid #e7e7e7;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	&:focus {
		border: 2px solid $c-link;
		padding: 8px 15px 8px 15px;

		&:hover {
			border: 2px solid $c-link;
		}
	}
	&::placeholder,
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder,
	&:-moz-placeholder {
		color: #bdbdbd;
	}
	&[disabled] {
		color: #bdbdbd;
		user-select: none;
	}
	&:hover {
		@media (min-width: 1024px) {
			border: 1px solid $c-link;
		}
	}
}

.form-control--light {
	background-color: #fff;
	font-size: 16px;

	@include lineheight(16, 24);
	&::placeholder,
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder,
	&:-moz-placeholder {
		color: #bdbdbd;
	}
	&[disabled] {
		color: #bdbdbd;
		user-select: none;
		.form-control--light &::placeholder,
		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder,
		&:-moz-placeholder {
			color: #bdbdbd;
		}
	}
	.half-width {
		width: 50%;
	}
}

.form-control-label {
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	color: #000;
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	background-color: #fff;
	left: 12px;
	padding: 0px 4px;
	z-index: 10;
}

select.custom-select {
	padding: 5px 10px;
	border-top: none;
	border-right: none;
	border-left: none;
	font-family: $f-main;
	font-weight: 400;
}
.custom-select.form-control {
	font-weight: 400;
}
.form-group-select {
	// z-index: 5 !important;
	width: 205px;
	.form-control {
		padding: 0px;
	}
}
.jq-checkbox,
.jq-radio {
	position: relative;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.jq-checkbox input,
.jq-radio input {
	position: absolute;
	z-index: -1;
	margin: 0;
	padding: 0;
	opacity: 0;
}
.jq-file {
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.jq-file input {
	position: absolute;
	top: 0;
	right: 0;
	height: auto;
	margin: 0;
	padding: 0;
	opacity: 0;
}
.jq-file__name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jq-selectbox,
.jq-select-multiple {
	position: relative;
	display: inline-block;
}
.jq-selectbox select,
.jq-select-multiple select {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
}
.jq-selectbox li,
.jq-select-multiple li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
}

.jq-selectbox__select {
	position: relative;
	height: 100%;
	cursor: pointer;
	padding: 9px 16px 9px 16px;
	width: 100%;
	z-index: 10;
}
.jq-selectbox__select-text {
	display: block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	letter-spacing: unset !important;
	text-overflow: ellipsis;
	color: #000;
	font-size: 18px;
	line-height: 27px;
}
.jq-selectbox__trigger {
	position: absolute;
	top: calc(50% - 12px);
	right: 8px;
	width: 24px;
	height: 24px;
	transform: rotate(0deg);
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.0327 10.0327L14.1541 13.9112C12.9826 15.0828 11.0831 15.0828 9.91149 13.9112L6.0329 10.0327' stroke='%234A4A4A' stroke-width='2'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.custom-select.opened .jq-selectbox__trigger {
	transform: rotate(180deg);
}
.jq-selectbox__dropdown {
	position: absolute;
	z-index: 1;
	top: calc(100% + 1px) !important;
	bottom: auto !important;
	left: 0 !important;
	overflow: hidden;
	width: 100% !important;
	transition: all 0.3s;
	background: #fff;
	filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.1));
}

.jq-selectbox__search input {
	-webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__dropdown ul {
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	list-style: none;
	background: #fff;
	@include custom-scroll;
}
.jq-select-multiple ul {
	position: relative;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.jq-selectbox__dropdown li {
	overflow: hidden;
	box-sizing: border-box;
	margin: 0;
	display: flex;
	align-items: center;
	padding: 11px 16px 9px 16px;
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: $c-text;
	border-radius: 0;
	background: #fff;
	box-shadow: none;
	font-size: 15px;
	position: relative;

	// border-bottom: 1px solid #E7E7E7;

	&:not(:last-child) {
		&:after {
			position: absolute;
			content: "";
			width: calc(100% - 32px);
			height: 1px;
			bottom: 0px;
			background-color: #f5f5f5;
			z-index: 2;
			left: 16px;
		}
	}
	&:hover {
		background-color: #f5f5f5;
	}

	&.sel {
		// position: relative;
		&:before {
			position: absolute;
			content: "";
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.8608 7.20459L12.1541 15.9113C10.9826 17.0829 9.08306 17.0829 7.91148 15.9113L3.37509 11.3749' stroke='%234A4A4A' stroke-width='2'/%3E%3C/svg%3E%0A");
			width: 24px;
			height: 24px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			right: 12px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
.form-control--select {
	padding: 16px 14px 14px 15px;
}
.form-control--product {
	.jq-selectbox__select {
		padding: 16px 14px 14px 15px;
	}
}
.form-control--color-select {
	.jq-selectbox__select {
		--selectColor: "";
	}
	.jq-selectbox__dropdown li {
		display: flex;
		align-items: center;
		position: relative;
		--optionColor: "";
	}
	.jq-selectbox__select-text {
		position: relative;
	}
	.custom-select-color {
		width: 24px;
		height: 24px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-right: 14px;
	}
}

.jq-number {
	display: inline-block;
}
.jq-number__field input {
	text-align: left; /* для Opera Presto */

	-moz-appearance: textfield;
}
.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
	margin: 0; /* в каких-то браузерах присутствует отступ */

	-webkit-appearance: none;
}

// @import './datapicker/style.scss'
