extends ../../layout/layout

block vars
	- var pageTitle = 'Новости'
	- var pageBodyClass = ''
	- var dir = './'


block premain
	+page-header-section({
		title: 'Новости',
		colClasses: 'col-12',
	})
		+breadcrumb({
			content1: 'Новости',
			href_content1: '',
			content2: '',
			href_content2: '',
			content3: '',
		})

block main
	.no-critical.no-critical--preloader
		include ../../components/news/news





block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
