@import "src/assets/css/vars_mixins/vars_mixins";
.where-to-buy-wrap {
	margin-top: 253px;
	position: relative;
	@media (max-width: $lg - 1){
		margin-top: 60px;
	}
	@media (max-width: $md - 1){
		padding-top: 43px;
		padding-bottom: 66px;
	}
	@media (max-width: $sm - 1){
		margin-top: 60px;
	}
	&__bg{
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		@media (max-width: $md - 1){
			display: none;
		}
		z-index: -1;
	}
	&__bg-img{
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
.where-to-buy {
	margin-top: 80px;
	background-position: top center;
	background-repeat: no-repeat;
	@media (max-width: $md - 1){
		background-image: none !important;
	}
	@media (max-width: $sm - 1){
		margin-top: 30px;

	}
	&__descr{
		font-size: 14px;
		margin-top: 20px;
		text-align: center;
	}
	&__bg {
		position: absolute;
		// margin: auto;
		&:after {
			position: absolute;
			content: "";
			width: 179px;
			height: 98px;
			background-color: #fff;
			bottom: 0;
			right: 0;
			z-index: 10;
		}
	}
	&__bg-wrap {
		max-width: 1537px;
		position: relative;
		margin: auto;
	}
	&__shops {
		display: flex;
		justify-content: space-between;
		@media (max-width: $md - 1){
			flex-direction: column;
		}
	}
	&__online {
		flex: 0 0 auto;
		margin-top: 105px;
		margin-right: 175px;
		position: relative;
		@media (max-width: $xl - 1){
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 55px;
			margin-right: 90px;
		}
		@media (max-width: $lg - 1){
			margin-right: 0px;
			width: 50%;
			margin-top: 120px;
		}
		@media (max-width: $md - 1){
			width: 70%;
			margin: auto;
			margin-top: 0px;
			margin-bottom: 0px;
			margin-top: 43px;
			padding: 0px 50px;
		}
	}
	&__offline {
		position: relative;
		margin-top: 22px;
		margin-left: 14px;
		@media (max-width: $xl - 1){
			width: 50%;
		}
		@media (max-width: $lg - 1){
			margin-top: 60px;
		}
		@media (max-width: $md - 1){
			width: 100%;
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left: 0px;
			padding: 0px 25px;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 26px;
		@include lineheight(26,33);
		@media (max-width: $xs - 1){
			font-size: 18px;
		}
		@media (max-width: $sm - 1){
			text-align: center;
		}
	}
	&__find {
		margin-top: 34px;
		@media (max-width: $sm - 1){
			margin-top: 13px;
		}
		.btn.btn--light{
			width: 329px;
			@media (max-width: $sm - 1){
				width: 235px;
			}
		}
	}
	&__content--online{
		margin-top: 160px;
		@media (max-width: $md - 1){
			margin-top: 27px;
		}
		.where-to-buy__title{
			@media (max-width: $sm - 1){
				display: none;
			}
		}
	}
	&__content--offline{
		margin-top: 45px;
		margin-left: -80px;
		@media (max-width: $lg - 1){
			margin-top: 0px;
			// margin-top: -40px;
		}
		@media (max-width: $md - 1){
			margin-left: 0px;
			margin-top: -30px;
		}
		.where-to-buy__title{
			@media (max-width: $sm - 1){
				span{
					display: none;
				}
			}
		}
	}
}
