extends ../../layout/layout

block vars
    - var pageTitle = 'Политика безопасности данных'
    - var pageBodyClass = ''
    - var dir = './'


block premain
    .breadcrumb-wrap
        .container
            +breadcrumb({
                href_content1: '',
                content1: 'Политика безопасности данных',
                href_content2: '',
                content2: '',
                content3: ''
            })
    +content-styles()
    .content.container
        .row
            .col-lg-8.offset-lg-2
                h1.h1.page-title Политика безопасности данных
                h2 1 Общие условия
                p 1.1 Настоящая Политика определяет порядок обработки и защиты Обществом с ограниченной ответственностью «Мавиком-офис» (далее – ООО «Мавиком-офис») информации о физических лицах (далее – Пользователь), которая может быть получена ООО «Мавиком-офис» при использовании Пользователем услуг/товаров в том числе посредством сайта, сервисов, служб, программ используемых ООО «Мавиком-офис».
                p 1.2 Целью настоящей Политики является обеспечение надлежащей защиты персональной информации которую Пользователь предоставляет о себе самостоятельно при использовании Сайта, Сервисов или в процессе регистрации (создании учетной записи), для приобретения товаров/услуг, неисключительной лицензии от несанкционированного доступа и разглашения.
                p 1.3 Отношения, связанные со сбором, хранением, распространением и защитой информации предоставляемой Пользователем, регулируются настоящей Политикой, иными официальными документами ООО «Мавиком-офис» и действующим законодательством Российской Федерации.
                p 1.4 Регистрируясь на Сайте и используя Сайт и Сервисы Пользователь выражает свое полное согласие с условиями настоящей Политики.
                p 1.5 В случае не согласия Пользователя в получении информации от ООО «Мавиком-офис» Пользователь может отписаться от рассылки: - кликнув по ссылке Отписаться внизу письма - в личном кабинете на Сайте, путем снятия ранее выбранных опций; - путем направления уведомления на электронную почту info+429696@mavikom.ru или при телефонном обращении в контакт-центр по телефону +74951507771. При поступлении уведомлений на электронную почту info+429696@mavikom.ru или при телефонном обращении в контакт-центр в специальном программном обеспечении для учета действий по соответствующему Пользователю, создается обращение по итогам полученной от Пользователя информации. Обращение обрабатывается максимум в течение 24 часов. В результате информация о Пользователе не включается в сегмент рассылок по соответствующему региону.
                h2 2 Цели сбора, обработки и хранения информации предоставляемой пользователями Сайта
                p 2.1 Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации. ООО «Мавиком-офис» обрабатывает персональные данные Пользователя в целях: - идентификации стороны в рамках соглашений и договоров заключаемых с ООО «Мавиком-офис»; - предоставления Пользователю товаров/услуг, неисключительной лицензии, доступа к Сайту, Сервисам; - связи с Пользователем, направлении Пользователю транзакционных писем в момент получения заявки регистрации на Сайте или получении оплаты от Пользователя, разово, если Пользователь совершает эти действия, направлении Пользователю уведомлений, запросов; - направлении Пользователю сообщений рекламного и/или информационного характера — не более 1 сообщения в день; - проверки, исследования и анализа таких данных, позволяющих поддерживать и улучшать сервисы и разделы Сайта, а также разрабатывать новые сервисы и разделы Сайта; - проведение статистических и иных исследований на основе обезличенных данных.
                h2 3 Условия обработки персональной информации предоставленной Пользователем и ее передачи третьим лицам
                p 3.1 ООО «Мавиком-офис» принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения.
                p 3.2 ООО «Мавиком-офис» предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам и Аффилированным лицам которым эта информация необходима для обеспечения функционирования Сайта, Сервисов и оказания Услуг, продажи товаров, получении неисключительной лицензии Пользователем.
                p 3.3 ООО «Мавиком-офис» вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства Российской Федерации (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей). Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством Российской Федерации случаях.
                p 3.4 ООО «Мавиком-офис» не проверяет достоверность информации предоставляемой Пользователем и исходит из того, что Пользователь в рамках добросовестности предоставляет достоверную и достаточную информацию, заботится о своевременности внесения изменений в ранее предоставленную информацию при появлении такой необходимости, включая, но не ограничиваясь изменение номера телефона,



block main
    .no-critical.no-critical--preloader


block componentsCriticalStyles
    +componentsCriticalStyles-includer()
block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()

block componentsScripts
    +componentsScripts-includer()

block scripts
