.product-item {
  height: 471px;
  &__ajax-plug {
    display: block;
    font-size: 0;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='301' height='457' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4c0-2 2-4 4-4h293c2 0 4 2 4 4v449c0 2-2 4-4 4H4c-2 0-4-2-4-4V4z' fill='%23fff'/%3E%3Cpath fill='%23E6E6E6' fill-opacity='.5' d='M11 16h40v22H11zM11 42h176v22H11zM11 286h176v24H11zM11 340h280v37H11zM11 404h280v26H11zM11 68h280v204H11z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
  }
  @media (max-width: $xl - 1){
	height: auto;
  }
}

@media (max-width: $lg - 1) {
  .product-item {
    &__ajax-plug {
      padding-bottom: 152%;
    }
  }
}
