+include-style('404')
.page-not-found
	.page-not-found__404 404
	.page-not-found__descr Такой страницы мы не нашли
	.page-not-found__info  Возможно введен неверный адрес страницы или страница была удалена с сервера
	.page-not-found__control
		a(href="#").btn.btn--black На главную