+include-style('404')
.not-found-wrap(style="background-image: url(./images/404bg.png)")
	.container
		.row
			.col-12.col-lg-4.offset-lg-2
				.not-found
					.not-found__code 404
					.not-found__descr Такой страницы мы не нашли
					.not-found__descr-min Возможно введен неверный адрес страницы или страница была удалена с сервера.
					.not-found__nav
						a(href="#").btn.btn--primary На главную
						a(href="#").btn.btn--light Каталог товаров
