@import "src/assets/css/vars_mixins/vars_mixins";

.not-found {
  &__inner {
    text-align: center;
    padding-bottom: 80px;
  }
  &__title {
    font-size: 96px;
    font-weight: 300;
  }
  &__img-wrap {}
  &__img {
    max-width: 100%;
  }
  p {
    a {
      color: $c-primary;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}