+include-style('items-list')

.content.container.items-list__main
    h1.h1.page-title Новости
    .row.items-list__row
        mixin item(args={})
            .col-12.col-sm-6.col-lg-4
                .item
                    +lazy-img({
                        img: args.img,
                        placeholder: pixel,
                        img_mod: 'item__img',
                        wrap_mod: 'item__img-wrap',
                        link: true,
                        aria_label: true,
                    })
                    .item__row
                        .item__date=args.date
                        .item__badges
                            each badge in args.badges_list
                                span.pbadge(class=badge.class)=badge.name
                    a(href="#").item__title=args.title
                    .item__text=args.text
        +item({
            img: 'images/news1.jpg',
            date: '09.04.2020',
            badges_list: [
                {class:'pbadge--primary',name:'Распродажа'}
                ],
            title:'Первые вместе на выставке Warsaw Home Expo 2019 вместе на выставке Warsaw Home Expo 2019 на выставке Warsaw Home Expo 2019',
            text:'Всемирно известная компания наконец-то обзавелась нормальными стульями, Всемирно известная компания наконец-то обзавелась нормальными стульями, Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/news2.jpg',
            date: '09.04.2020',
            badges_list: [
                {class: 'pbadge--yellow', name: 'Акция'}
            ],
            title: 'Первые вместе на выставке Warsaw Home Expo 2019',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/news3.jpg',
            date: '09.04.2020',
            badges_list: [],
            title: 'Первые вместе на выставке Warsaw Home Expo 2019',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/news4.jpg',
            date: '09.04.2020',
            badges_list: [],
            title: 'Первые вместе на выставке Warsaw Home Expo 2019',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/news5.jpg',
            date: '09.04.2020',
            badges_list: [],
            title: 'Первые вместе на выставке Warsaw Home Expo 2019',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/news6.jpg',
            date: '09.04.2020',
            badges_list: [
                {class: '', name: 'Новость'}
            ],
            title: 'Первые вместе на выставке Warsaw Home Expo 2019',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/news4.jpg',
            date: '09.04.2020',
            badges_list: [],
            title: 'Первые вместе на выставке Warsaw Home Expo 2019',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/news5.jpg',
            date: '09.04.2020',
            badges_list: [],
            title: 'Первые вместе на выставке Warsaw Home Expo 2019',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/news6.jpg',
            date: '09.04.2020',
            badges_list: [
                {class: '', name: 'Новость'}
            ],
            title: 'Первые вместе на выставке Warsaw Home Expo 2019',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
    include ../../components/pagination/pagination