+include-style('items-list')

.content.container.items-list__main
    h1.h1.page-title Проекты
    .items-list__filters
        +custom-select({
            fg_mod: 'multifilter__select',
            items: [
                {
                    value: 'За последний месяц',
                },
                {
                    value: 'За последний месяц 2',
                },
                {
                    value: 'За последний месяц 3'
                }
            ]
        })
        +custom-select({
            fg_mod: 'multifilter__select',
            items: [
                {
                    value: 'Отрасли',
                },
                {
                    value: 'Отрасли 2',
                },
                {
                    value: 'Отрасли 3'
                }
            ]
        })
        +custom-select({
            fg_mod: 'multifilter__select',
            items: [
                {
                    value: 'По категориям',
                },
                {
                    value: 'По категориям 2',
                },
                {
                    value: 'По категориям 3'
                }
            ]
        })
    .row.items-list__row
        mixin item(args={})
            .col-12.col-sm-6.col-lg-3
                .item.item--project
                    +lazy-img({
                        img: args.img,
                        placeholder: pixel,
                        img_mod: 'item__img',
                        wrap_mod: 'item__img-wrap',
                        link: true,
                        aria_label: true,
                    })
                    a(href="#").item__title=args.title
                    .item__text=args.text
        +item({
            img: 'images/project3.jpg',
            title:'Компания Лукойл-Информ. Мебель для персонала.',
            text:'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/project4.jpg',
            title: 'Компания Лукойл-Информ. Мебель для персонала.',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/project5.jpg',
            title: 'Компания Лукойл-Информ. Мебель для персонала.',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/project6.jpg',
            title: 'Компания Лукойл-Информ. Мебель для персонала.',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/project7.jpg',
            title: 'Компания Лукойл-Информ. Мебель для персонала.',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/project8.jpg',
            title: 'Компания Лукойл-Информ. Мебель для персонала.',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/project9.jpg',
            title: 'Компания Лукойл-Информ. Мебель для персонала.',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })
        +item({
            img: 'images/project10.jpg',
            title: 'Компания Лукойл-Информ. Мебель для персонала.',
            text: 'Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте',
        })

    include ../../components/pagination/pagination