+include-style('items-list')
+fancy-box()
.content.container.items-list__main
    h1.h1.page-title Отзывы
    .items-list__filters
        +custom-select({
            fg_mod: 'multifilter__select',
            items: [
                {
                    value: 'За последний месяц',
                },
                {
                    value: 'За последний месяц 2',
                },
                {
                    value: 'За последний месяц 3'
                }
            ]
        })
    .row.items-list__custom-row
        mixin item(args={})
            .col-12.col-sm-6.col-md-3.col-xl-custom
                .item.item--comment
                    +lazy-img({
                        img: args.img,
                        placeholder: pixel,
                        img_mod: 'item__img',
                        wrap_mod: 'item__img-wrap',
                        link: true,
                        aria_label: true,
                    })(data-fancybox href=args.img)
                    .item__row
                        .item__date=args.date
                    a(href="#").item__title=args.title
        +item({
            img: 'images/comment1.jpg',
            date: '09.04.2020',
            title:'Лукойл',
        })
        +item({
            img: 'images/comment2.jpg',
            date: '09.04.2020',
            title: 'Валдай',
        })
        +item({
            img: 'images/comment3.jpg',
            date: '09.04.2020',
            title: 'Публичное акционерное общество «Газпром»',
        })
        +item({
            img: 'images/comment4.jpg',
            date: '09.04.2020',
            title: 'Wargaming',
        })
        +item({
            img: 'images/comment5.jpg',
            date: '09.04.2020',
            title: 'Публичное акционерное общество «Газпром»',
        })
        +item({
            img: 'images/comment1.jpg',
            date: '09.04.2020',
            title: 'Лукойл',
        })
        +item({
            img: 'images/comment2.jpg',
            date: '09.04.2020',
            title: 'Валдай',
        })
        +item({
            img: 'images/comment3.jpg',
            date: '09.04.2020',
            title: 'Публичное акционерное общество «Газпром»',
        })
        +item({
            img: 'images/comment4.jpg',
            date: '09.04.2020',
            title: 'Wargaming',
        })
        +item({
            img: 'images/comment5.jpg',
            date: '09.04.2020',
            title: 'Публичное акционерное общество «Газпром»',
        })

        +item({
            img: 'images/comment1.jpg',
            date: '09.04.2020',
            title: 'Лукойл',
        })
        +item({
            img: 'images/comment2.jpg',
            date: '09.04.2020',
            title: 'Валдай',
        })
        +item({
            img: 'images/comment3.jpg',
            date: '09.04.2020',
            title: 'Публичное акционерное общество «Газпром»',
        })
        +item({
            img: 'images/comment4.jpg',
            date: '09.04.2020',
            title: 'Wargaming',
        })
        +item({
            img: 'images/comment5.jpg',
            date: '09.04.2020',
            title: 'Публичное акционерное общество «Газпром»',
        })






    include ../../components/pagination/pagination