@import '../../assets/css/vars_mixins/vars_mixins';

.items-list {
  &__main {
    padding-bottom: 80px;
  }
  &__main--brand {
    padding-bottom: 0;
  }
  &__filters {
    display: flex;
    flex-wrap: wrap;
  }
  &__filters .form-group {
    width: auto;
    margin: 0 15px 15px 0;
  }
  &__row {}
  &__custom-row {
    @media (min-width: $xl) {
      margin-left: -8px;
      margin-right: -8px;
    }
  }
  &__countries {
    display: flex;
    flex-wrap: wrap;
    li {
      margin: 0 30px 20px 0;
    }
    li.active .link {
      color: $c-add;
    }
    .link {
      font-weight: 600;
      color: #353535;
      transition: color ease 0.4s;
      &:hover {
        color: $c-add;
      }
    }
  }
}

.col-xl-custom {
  @media (min-width: $xl) {
    flex: 1 0 20%;
    max-width: 20%;
    padding: 0 6px;
  }
}

.item {
  background: #fff;
  border-radius: 4px;
  padding: 24px;
  margin: 0 0 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.0);
  transition: box-shadow ease 0.4s;
  &__img-wrap {
    display: block;
    position: relative;
    padding-bottom: 53.3%;
    margin: 0 0 17px;
  }
  &__img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-position: center;
    object-fit: contain;
    transition: transform ease 0.4s;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 22px;
    margin: 0 0 8px;
  }
  &__date {
    font-weight: 300;
    font-size: 13px;
    color: #828282;
    margin-right: 10px;
  }
  &__badges {}
  &__title {
    font-weight: 600;
    color: #281F26;
    line-height: 1;

    //переполнение
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 32px;
    overflow: hidden;
  }
  &__text {
    color: #281F26;
    margin: 10px 0 0;

    //переполнение
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 78px;
    overflow: hidden;
  }
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
  }
}

.item.item--project {
  .item {
    &__img-wrap {
      padding-bottom: 48%;
    }
    &__text {
      //переполнение
      -webkit-line-clamp: 6;
      height: 122px;
    }
  }
}

.item.item--comment {
  .item {
    &__img-wrap {
      padding-bottom: 156%;
    }
  }
}

.item.item--brand {
  .item {
    &__img-wrap {
      padding-bottom: 48%;
    }
    &__title {
      //переполнение
      -webkit-line-clamp: 1;
      height: 18px;
    }
  }
}

@media (max-width: $sm - 1) {
  .items-list {
    &__filters {
      padding-bottom: 160px;
      margin-bottom: -160px;
      margin-right: -16px;
      overflow-x: auto;
      flex-wrap: nowrap;
      display: block;
      white-space: nowrap;
      &::-webkit-scrollbar {
        display: none;
      }
      .form-group {
        display: inline-block;
      }
    }
    &__main--brand {
      margin-bottom: 30px;
    }
  }
  .item {
    max-width: 517px;
    margin-left: auto;
    margin-right: auto;
    &__title {
      height: 30px;
    }
    &__text {
      height: 69px;
    }
  }
  .item.item--project {
    .item {
      &__text {
        height: 110px;
      }
    }
  }
}