@import "src/assets/css/vars_mixins/vars_mixins";

.vacancy-card {
	&.active {
		.vacancy-card-content-wrap {
			max-height: 1000px;
		}
		.vacancy-card-tab {
			background: #fff;
		}
		.vacancy-card__trigger {
			transform: translateY(-50%) rotate(180deg);
			&:after {
				filter: grayscale(100%);
			}
		}
	}
	margin-bottom: 24px;
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		text-transform: uppercase;
		width: 50%;
		@media (max-width: $md - 1){
			width: 30%;
		}
	}
	&__employer {
		width: 50%;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: $c-grey;
		@media (max-width: $md - 1){
			width: 70%;
		}
		@media (max-width: $sm - 1){
			margin-top: 8px;
		}
	}
	&__trigger {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: rgba(242, 242, 242, 0.25);
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
		@media (max-width: $sm - 1){
			top: 32px;
		}
		&:after {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			content: "";
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 8.06677L0.499999 1.56677C1.34467 0.7221 2.71415 0.7221 3.55882 1.56677L7 5.00795L10.4412 1.56677C11.2858 0.722099 12.6553 0.722099 13.5 1.56677L7 8.06677Z' fill='%23C1307F'/%3E%3C/svg%3E%0A");
			width: 13px;
			height: 13px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

.vacancy-card-content-top {
	display: flex;
	justify-content: space-between;
	@media (max-width: $sm - 1){
		display: block;
	}
	@media (max-width: $sm - 1){
		align-items: center;
	}
}

.vacancy-card-content-wrap {
	margin-top: 1px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.3s ease;
	border-radius: 4px;
}
.vacancy-card-tab {
	position: relative;
	height: 80px;
	display: flex;
	padding: 28px 24px;
	background: #fafafa;
	border-radius: 4px;
	@media (max-width: $sm - 1){
		display: block;
		height: auto;
	}
	&:hover {
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
		background-color: #fff;
		transition: all 0.3s ease;
		cursor: pointer;
		.vacancy-card {
			&__title {
				color: $c-primary-2;
			}
		}
	}
}
.vacancy-card-content {
	background-color: #fff;
	&__employer {
		font-weight: normal;
		font-size: 36px;
		line-height: 44px;
		color: $c-blue;
		@media (max-width: $sm - 1){
			font-size: 24px;
		}
	}
	&__date {
		color: $c-grey;
	}
	&__city {
		margin-top: 10px;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: $c-text;
		margin-bottom: 24px;
	}
	.list-title {
		display: block;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		margin-top: 24px;
	}
	&.content {
		ul:not(.list-reset) {
			margin-top: 16px;
			margin-bottom: 24px;
		}
	}
	padding: 24px;
	.btn.btn--primary {
		border-radius: 4px;
		margin-top: 24px;
		display: block;
		padding: 16px;
		span {
			text-decoration: underline;
		}
	}
}
