+include-style('insta-section')
+include-script('insta-section')

+b('section').insta-section
	.container
		+e('h2').__title #Veskashop в Instagram
		+swiper({
			wrapper_mod: '',
			container_mod: '',
			pagination_mod: '',
			arrow_prev_mod: 'custom-swiper-btn__prev',
			arrow_next_mod: 'custom-swiper-btn__next',
			pagination: true,
			navigation: true,
		}).insta-section__slider.js-swiper-insta
			//- Слайды
			+b.insta-card.swiper-slide
				+lazy-img-slider({
					img: 'images/insta-01.jpg',
					placeholder: pixel,
					img_mod: 'insta-card__img',
					wrap_mod: 'insta-card__img-wrap',
					link: true,
					aria_label: false,
				})
			+b.insta-card.swiper-slide
				+lazy-img-slider({
					img: 'images/insta-02.jpg',
					placeholder: pixel,
					img_mod: 'insta-card__img',
					wrap_mod: 'insta-card__img-wrap',
					link: true,
					aria_label: false,
				})
			+b.insta-card.swiper-slide
				+lazy-img-slider({
					img: 'images/insta-03.jpg',
					placeholder: pixel,
					img_mod: 'insta-card__img',
					wrap_mod: 'insta-card__img-wrap',
					link: true,
					aria_label: false,
				})
			+b.insta-card.swiper-slide
				+lazy-img-slider({
					img: 'images/insta-04.jpg',
					placeholder: pixel,
					img_mod: 'insta-card__img',
					wrap_mod: 'insta-card__img-wrap',
					link: true,
					aria_label: false,
				})
			+b.insta-card.swiper-slide
				+lazy-img-slider({
					img: 'images/insta-05.jpg',
					placeholder: pixel,
					img_mod: 'insta-card__img',
					wrap_mod: 'insta-card__img-wrap',
					link: true,
					aria_label: false,
				})
			+b.insta-card.swiper-slide
				+lazy-img-slider({
					img: 'images/insta-06.jpg',
					placeholder: pixel,
					img_mod: 'insta-card__img',
					wrap_mod: 'insta-card__img-wrap',
					link: true,
					aria_label: false,
				})
			+b.insta-card.swiper-slide
				+lazy-img-slider({
					img: 'images/insta-06.jpg',
					placeholder: pixel,
					img_mod: 'insta-card__img',
					wrap_mod: 'insta-card__img-wrap',
					link: true,
					aria_label: false,
				})
