+include-style('project-page')

.content.container
    h1.h1.page-title Компания Wargaming. Мебель для персонала, кресла.
    .row
        .col-lg-6
            include ../../components/gallery/gallery-actions
        .col-lg-6
            .project-page__main
                dl
                    dd Название объекта
                    dt Офис компании «Wargaming»
                dl
                    dd Год реализации
                    dt 2020
                dl
                    dd Город
                    dt г. Москва, офис компании WarGaming в Москве
                dl
                    dd Описание проекта
                    dt
                        p Всемирно известная компания наконец-то обзавелась нормальными стульями, столами, шкафчиками и всем таким прочим, что позволит работникам чувствовать себя уютно на рабочем месте.
                        p Поставка рабочих мест для сотрудников Московского офиса Wargaming. Мебельдля персонала Metal Style от Ривамебель (Россия), офисные кресла BK-8 от Метта (Россия).
