@import '../../assets/css/vars_mixins/vars_mixins';

.project-page {
  &__main {
    padding: 20px 0 0 20px;
  }
  &__main dl {
    margin: 0 0 30px;
  }
  &__main dd {
    font-weight: 300;
    line-height: 130%;
    color: #828282;
    margin: 0 0 10px;
  }
  &__main dt {
    font-weight: 300;
    line-height: 130%;
  }
}

@media (max-width: $sm - 1) {
  .project-page {
    &__main {
      padding: 20px 0 0 0;
    }
    &__main dl {
      margin: 0 0 15px;
    }
    &__main dd {
      margin: 0 0 5px;
    }
  }
}