+include-style('catalog-main-landing')
.catalog-main-wrap
	+lazy-bg({
		img: 'images/catalog-bg.jpg',
		wrap_mod: 'catalog-main-wrap__wrap',
		img_mod: 'catalog-main-wrap__img',
	})
	.container
		.catalog-main__header
		.catalog-main__about
			.catalog-main__about-title
				+lazy-img({
					img: '/images/hyper.svg',
					placeholder: pixel
				})
		.catalog-main__devices-wrap
			.catalog-main__devices
				+product-card({
					img: 'images/white-glo/white_device__enamel_white_heater_panel_03.png',
					title: 'glo<sup>tm</sup>  hyper+',
					mod: 'product-card--landing',
					descr: 'Белый',
					price: 'Скоро в продаже',
					landing: true,
				}).product-card--main-catalog(data-initial-frame = '3' data-device-type = 'white')
				+product-card({
					img: 'images/black-glo/black_device__ebony_black_heater_panel_03.png',
					title: 'glo<sup>tm</sup>   hyper+',
					mod: 'product-card--landing',
					descr: 'Черный',
					price: 'Скоро в продаже',
					landing: true,
				}).product-card--main-catalog(data-initial-frame = '3'  data-device-type = 'black')
