@import "src/assets/css/vars_mixins/vars_mixins";

.alert-banner {
  background-color: $c-dark;
  font-weight: 300;
  font-size: 24px;
  line-height: lineheight(24,29);
  color: #fff;
  text-align: center;
  padding: 10px 30px 17px;
  position: relative;
  z-index: 103;

  .container {}

  .close {
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0,-50%);
    &:hover .icon {
      fill: $c-primary;
    }
    .icon {
      display: block;
      height: 14px;
      width: 14px;
      fill: #fff;
    }
  }
}

.header-top {
  height: 44px;
  z-index: 105;
  //background: $bg-main;
  background: #fff;
  &__inner {
    display: flex;
    align-items: center;
    padding: 8px 0 0;
  }
  &__item {
    font-size: 14px;//13
    color: #000;

    display: flex;
    align-items: center;
    margin-right: 40px;
  }
  &__item .icon {
    display: block;
    height: 17px;
    width: 17px;
    fill: $c-dark;
    transition: fill ease 0.4s;
  }

  &__item .anim-mail .icon{
	height: 20px;
	width: 20px;
  }
  &__item .text {
    padding-left: 5px;
  }
  &__item .text--tel {
    font-size: 18px;
    font-weight: 400;
  }
  &__item .time {
    font-weight: 300;
    font-size: 13px;
    color: #828282;
    padding: 3px 0 0 10px;
  }
  &__item-link {
    color: #000;
    display: flex;
    align-items: center;
    transition: color ease 0.4s;
  }
  &__item-link:hover {
    color: $c-add;
  }
  &__item-link:hover .icon {
    fill: $c-add;
  }
  &__nav {
    &.nav {
      margin-left: auto;
    }
    .nav-list {
      display: flex;
      align-items: center;
    }
    .nav-item {
      margin-left: 32px;
    }
    .nav-item.active .nav-link {
      color: $c-add;
    }
    .nav-link {
      display: block;
      padding: 10px 0;
      font-size: 14px;//13
      color: #000;
      transition: color ease 0.4s;
    }
    .nav-link:hover {
      color: $c-add;
      & > .nav-toggle::after {
        transform: rotate(45deg) scale(-1,-1);
      }
      & + .nav-lvl2 {
        opacity: 1;
        visibility: visible;
        transform: translate(0,0);
      }
    }
    .nav-item-name {}

    .nav-item.has-nav {
      position: relative;
    }
    .nav-toggle {
      position: relative;
      &::after {
        display: inline-block;
        position: absolute;
        top: 5px;
        right: -10px;
        content: '';
        height: 5px;
        width: 5px;
        border-right: 1px solid;
        border-bottom: 1px solid;
        transform: rotate(45deg) scale(1,1);
        transition: transform ease 0.4s;
      }
    }
    .nav-lvl2 {
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 2;
      padding: 5px 10px;
      background: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      width: 150px;

      opacity: 0;
      visibility: hidden;
      transform: translate(0,10px);
      transition: opacity ease 0.4s, visibility ease 0.4s, transform ease 0.4s;
      &:hover {
        opacity: 1;
        visibility: visible;
        transform: translate(0,0);
      }
    }
    .nav-lvl2-list {}
    .nav-lvl2-item:not(:last-child) {
      margin-bottom: 4px;
    }
    .nav-lvl2-item.active .nav-lvl2-link {
      color: $c-add;
    }
    .nav-lvl2-link {
      font-weight: 300;
      font-size: 13px;
      color: #000;
      transition: color ease 0.4s;
      &:hover {
        color: $c-add;
      }
    }
    .nav-lvl2-item-name {}
  }
}

.header-middle {
  height: 70px;
  z-index: 104;
  //background: $bg-main;
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 9px 0 12px;
  transition: box-shadow ease 0.4s;
  .container {
    position: relative;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__actions {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 5px 0 0;
  }
}

.header-middle.scroll .header-top__item--middle {
  display: block;
}
.header-top__item--middle {
  display: none;
}

.header-middle.scroll {
  box-shadow: 0 0 15px rgba(0,0,0,0.13);
}

.logo {
  display: block;
  margin-right: 53px;
  &__img {
    display: block;
  }
}
.header-search {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 660px;
  &__input {
    padding: 3px 15px 0;
    height: 40px;
    line-height: 35px;
    width: 100%;
    border-top: 1px solid #E7F0EB;
    border-bottom: 1px solid #E7F0EB;
    background: rgba(0,0,0,0.0);
    color: #000;
    font-size: 16px;
    font-weight: 300;
    transition: border-color ease 0.4s;
    &::placeholder {
      font-weight: 300;
      font-size: 16px;
      color: #828282;
    }
    &:focus {
      border-color: $c-add;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 56px;
    height: 40px;
    background-color: $c-add;
    border-radius: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
    .icon {
      fill: #fff;
      height: 24px;
      width: 24px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $c-add-hover;

      opacity: 0;
      transition: opacity ease 0.4s;
    }
    span {
      position: relative;
      z-index: 1;
    }
    @media (min-width: $lg) {
      &:hover::before {
        opacity: 1;
      }
      &:active {
        background: $c-add;
      }
    }
  }
  &__clear {
    position: absolute;
    top: 0;
    right: 56px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity ease 0.4s, visibility ease 0.4s;

    &.active {
      opacity: 1;
      visibility: visible;
    }
    .icon {
      height: 15px;
      width: 15px;
      fill: $c-dark;
    }
  }
  &__close {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    cursor: pointer;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;//js
    transition: opacity ease 0.4s, visibility ease 0.4s;

    .icon {
      fill: $c-dark;
      height: 18px;
      width: 18px;
      transition: fill ease 0.4s;
    }
    &:hover .icon {
      fill: #828282;
    }
  }

  &__result {}
}

// класс стандартного компонента bitrix
// тянет свои стили(возможно)
.title-search-result {
  display: none;
}

.header-action {
  margin-left: 54px;
  &__title {}
  &__title .icon {
    height: 20px;
    width: 20px;
    fill: $c-dark;
    transition: fill ease 0.4s;
  }
  &__title:hover .icon {
    fill: $c-add;
  }
  &__body {}
}

.header-action.header-action--search {
  margin-left: 0;
  flex: 1;
  .header-action {
    &__title {
      display: none;
    }
    &__body {
      display: flex;
      align-items: center;
    }
    &__catalog-btn {
      height: 40px;
      width: 132px;
      background: $c-primary;
      border-radius: 4px 0 0 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      .text {
        padding-right: 15px;
      }
    }
    &__search-wrap {}
  }
}
.burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  span {
    display: inline-block;
    height: 2px;
    width: 21px;
    background-color: #fff;
    margin: 2px 0;
    transition: transform ease 0.4s;
    &:nth-child(1) {}
    &:nth-child(3) {}
    &:nth-child(2) {
      width: 17px;
    }
    &:nth-child(4) {
      width: 17px;
    }
  }
}
.active .burger {
  span {
    &:nth-child(1) {
      transform: rotate(45deg) translate(7px, 7px);
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translate(1px, -2px);
    }
    &:nth-child(2) {
      transform: rotate(45deg) translate(2px, 4px);
    }
    &:nth-child(4) {
      transform: rotate(-45deg) translate(5px, -8px);
    }
  }
}
.header-action.header-action--tel {
  display: none;
}
.header-action.header-action--profile {
  margin-left: auto;
  position: relative;
  .header-action {
    &__title:hover + .header-action__body {
      opacity: 1;
      visibility: visible;
      transform: translate(0,0);
    }
    &__body {
      position: absolute;
      left: -65px;
      top: 100%;
      z-index: 2;
      padding: 5px 10px;
      background: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      width: 150px;

      opacity: 0;
      visibility: hidden;
      transform: translate(0,10px);
      transition: opacity ease 0.4s, visibility ease 0.4s, transform ease 0.4s;
      &:hover {
        opacity: 1;
        visibility: visible;
        transform: translate(0,0);
      }
      ul {
        li:not(:last-child) {
          margin-bottom: 4px;
        }
        a {
          font-weight: 300;
          font-size: 13px;
          color: #000;
          transition: color ease 0.4s;
          &:hover {
            color: $c-add;
          }
        }
      }
    }
  }
}
.header-action.header-action--cart {
  position: relative;
  .header-action {
    &__title {
      position: relative;
      display: flex;
      align-items: center;
    }
    &__title:hover {
      .count {
        background-color: $c-add;
      }
    }
    &__title:hover + .header-action__body {
      opacity: 1;
      visibility: visible;
    }
    &__title .count {
      position: absolute;
      z-index: 1;
      left: 15px;
      top: 0;
      background: $c-primary;
      height: 18px;
      width: 18px;
      line-height: 16px;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      font-size: 12px;
      transition: background-color ease 0.4s;
    }
    &__title .price {
      font-weight: 300;
      font-size: 16px;
      color: $c-primary;
      padding-left: 29px;
    }
    &__body {
      position: absolute;
      z-index: 109;
      top: calc(100% + 20px);
      right: 0;
      width: 760px;
      background: #FAFAFA;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
      border-radius: 4px;

      opacity: 0;
      visibility: hidden;
      transition: opacity ease 0.4s, visibility ease 0.4s;
      &::before {
        content: '';
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        height: 20px;
      }
      &:hover {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.header-bottom  {
  position: relative;
  height: 52px;
  z-index: 103;
  //background: $bg-main;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
  &__inner {
    display: flex;
    align-items: center;
  }
  &__nav {
    &.nav {}
    .nav-list {
      display: flex;
      align-items: center;
    }
    .nav-item {}
    .nav-item.active .nav-link {
      color: $c-add;
    }
    .nav-link {
      display: block;
      padding: 10px 41px 22px 0;
      font-weight: 300;
      font-size: 16px;
      color: $c-dark;
      transition: color ease 0.4s;
    }
    .nav-link:hover {
      color: $c-add;
    }
    .nav-item-name {}
  }

}

.sale-link {
  display: flex;
  align-items: center;
  padding: 10px 0 22px;
  font-weight: 300;
  font-size: 16px;
  color: $c-primary;
  transition: color ease 0.4s;
  .icon {
    height: 15px;
    width: 15px;
    fill: $c-primary;
  }
  .text {
    padding-left: 10px;
  }
}


.mob-nav-btn {
  display: none;
}
.mob-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 102;
  background: rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: opacity ease 0.4s, visibility ease 0.4s;
  &.active-mob,
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: $xxl - 1) {
  .header-search {
    max-width: 453px;
  }
  .header-top {
    &__item {
      font-size: 13px;
      margin-right: 20px;
    }
    &__nav .nav-link {
      font-size: 13px;
    }
  }
}

@media (max-width: $xl - 1) {
  .header-top__item {
    margin-right: 13px;
    font-size: 12px;
  }
  .header-top__item .text--tel {
    font-size: 16px;
  }
  .header-top__nav .nav-item {
    margin-left: 18px;
    &:first-child {
      margin-left: 0;
    }
  }
  .header-top__nav .nav-link {
    font-size: 12px;
  }

  .header-middle.scroll {
    .logo {
      max-width: 60px;
    }
  }

  .logo {
    margin-right: 30px;
    max-width: 100%;
    overflow: hidden;
  }
  .header-action {
    margin-left: 30px;
  }
  .header-action.header-action--profile {
    margin-left: 30px;
  }

  .header-bottom__nav .nav-link {
      font-size: 15px;
      padding-right: 21px;
  }
}

@media (max-width: $lg - 1) {
  .alert-banner {
    padding: 10px 30px 13px;
    font-size: 18px;
  }
  .header-top,
  .header-bottom {
    display: none;
  }

  .header-action.header-action--search {
    margin-left: auto;
    flex: 0 0 auto;
    .header-action__title {
      display: block;
      position: relative;
      .icon {
        transition: opacity ease 0.4s, visibility ease 0.4s;
      }
      .close {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .header-action__title.active {
      .icon {
        fill: $c-add;
      }
      .open {
        opacity: 0;
        visibility: hidden;
      }
      .close {
        opacity: 1;
        visibility: visible;
      }
    }
    .header-action__catalog-btn {
      display: none;
    }
    .header-action__body {
      position: absolute;
      z-index: 100;
      top: 100%;
      left: 15px;
      right: 15px;
      background: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
      border-radius: 4px;
      opacity: 0;
      visibility: hidden;
      transform: translate(0, 30px);
      transition: opacity ease 0.4s, visibility ease 0.4s, transform ease 0.4s;
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 10px);
      }
    }
  }
  .header-search {
    max-width: 100%;
    &__input {
      border-left: 1px solid #E7F0EB;
      border-radius: 4px 0 0 4px;
      padding: 0 15px;
    }
  }

  .header-action.header-action--tel {
    display: block;
  }
  .header-action.header-action--profile {
    margin-left: 30px;
  }

  .header-middle.scroll {
    .logo {
      max-width: 100%;
    }
  }
  .header-middle.scroll .header-top__item--middle {
    display: none;
  }

  .mob-nav-btn {
    display: block;
    margin-right: 50px;
    .burger {
      span {
        background: $c-dark;
      }
    }
  }
}

@media (max-width: $md - 1) {
  .header-action.header-action--cart {
    .header-action {
      &__body {
        width: 300px;
      }
    }
  }
}

@media (max-width: $sm - 1) {
  .alert-banner {
    font-size: 14px;
  }
  .logo {
    margin-right: 0;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
    &__img {
      width: 141px;
      height: auto;
    }
  }
  .header-middle {
    padding: 12px 0;
    height: 101px;
    &__inner {
      flex-wrap: wrap;
    }
    &__actions {
      padding: 30px 0 0;
      min-width: 100%;
      justify-content: space-between;
    }
  }
  .header-action.header-action--search,
  .header-action.header-action--profile,
  .header-action {
    margin: 0 5px;
  }
  .header-action.header-action--cart .header-action__title .price {
    display: none;
  }
  .burger {
    margin-top: 3px;
    span {
      width: 17px;
      margin: 2px 0 1px;
      &:nth-child(2),
      &:nth-child(4) {
        width: 12px;
      }
    }
  }
}