@import "src/assets/css/vars_mixins/vars_mixins";

.main-page {
	.header-menu-wrap {
		border-bottom: none;
	}
}

body:not(.main-page) {
	.header-bottom {
		border-bottom: 1px solid #000;
	}
}

.header {
	font-family: $f-sec;
	font-weight: 300;
	// position: sticky;
	top: 0;
	z-index: 1000;
	background-color: #fff;
	&__container {
		position: relative;
		width: 100%;
	}
	.header-bottom {
		max-height: 60px;
		.header-menu {
			opacity: 1;
			transition: opacity 0.5s ease;
		}
		transition: max-height 0.3s ease, opacity 0.3s ease;
		background-color: #fff;
	}
	&.sticky {
		.header-bottom {
			.header-menu {
				opacity: 0;
			}
			max-height: 1px;
			overflow: hidden;
		}
	}
}
.header__container.header-fixed {
	background-color: #fff;
	position: fixed;
	z-index: $zindex-fixed;
	top: 0;
	left: 0;
	right: 0;
	.header-main {
		@media (min-width: $lg) {
			border-bottom: 2px solid $c-primary-2;
		}
	}
	.header-bottom {
		display: none;
	}
	@media (min-width: $md) {
		.header-main__inner {
			margin: 0 auto;
		}
	}
}

.header-top {
	padding-top: 25px;
	display: flex;
	position: relative;
	align-items: center;
	margin-bottom: 20px;
	@media (max-width: $sm - 1) {
		justify-content: space-between;
		margin-bottom: 0px;
	}
	@media (max-width: $md - 1) {
		padding-bottom: 6px;
	}
	&__logo {
		.logo {
			position: relative;
			display: block;
			padding-bottom: 18.94%;
			width: 227px;
			@media (max-width: $sm - 1) {
				width: 110px;
			}
			.logo__img {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
			}
		}
		position: relative;
		@media (max-width: $sm - 1) {
			width: 110px;
		}
		&:hover {
			span {
				color: #000;
			}
		}
	}
	&__center {
		display: flex;
		.btn:not(:last-child) {
			margin-right: 8px;
		}
		.btn {
			line-height: 21px;
		}
		@media (max-width: $md - 1) {
			display: none;
		}
	}
	&__download {
		align-self: center;
		margin-left: 15px;
		display: grid;
		margin-right: 24px;
		font-family: "Raleway";
		font-weight: 400;
		a {
			&:hover {
				color: $c-primary-2-hover;
			}
		}
		.data {
			color: $c-grey;
			font-size: 12px;
		}
	}
	&__menu {
		display: flex;
		margin-left: auto;
		align-items: center;
		.burger-icon {
			@media (max-width: $md - 1) {
				display: block;
			}
			margin-left: 32px;
			display: none;
			width: 24px;
			height: 13px;
			position: relative;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: 0.5s ease-in-out;
			-moz-transition: 0.5s ease-in-out;
			-o-transition: 0.5s ease-in-out;
			transition: 0.5s ease-in-out;
			cursor: pointer;
			span {
				display: block;
				position: absolute;
				height: 2px;
				width: 100%;
				background: $c-primary;
				border-radius: 9px;
				opacity: 1;
				left: 0;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: 0.25s ease-in-out;
				-moz-transition: 0.25s ease-in-out;
				-o-transition: 0.25s ease-in-out;
				transition: 0.25s ease-in-out;
				&:nth-child(1) {
					top: 0px;
				}
				&:nth-child(2) {
					top: 6px;
				}
				&:nth-child(3) {
					top: 12px;
				}
				&:nth-child(4) {
				}
			}
			&.active {
				span {
					&:nth-child(1) {
						display: none;
					}
					&:nth-child(2) {
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
					}
					&:nth-child(3) {
						top: 6px;
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
					&:nth-child(4) {
						display: none;
					}
				}
			}
		}
	}
	&__menu__item {
		stroke: $c-primary;
		stroke-width: 2px;
		&:not(:first-child) {
			margin-left: 35px;
			@media (max-width: $lg - 1) {
				margin-left: 15px;
			}
		}
		&:hover {
			stroke: $c-primary-2-hover;
			cursor: pointer;
			span {
				color: $c-primary-2-hover;
			}
		}
		span {
			font-size: 16px;
			color: $c-text2;
			font-weight: 500;
		}
		@media (max-width: $lg - 1) {
		}
		@media (max-width: $md - 1) {
			display: flex;
			align-items: center;
			&:not(:last-child) {
				margin-right: 0;
			}
			&:not(:first-child) {
				margin-left: 32px;
			}
		}
		@media (max-width: $sm - 1) {
			display: none;
		}
	}
	&__mobile-menu-trigger {
		@media (max-width: $sm - 1) {
			display: block;
			height: 26px;
		}
		display: none;
		stroke: $c-link;
	}
}
.header-contact {
	position: relative;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	padding: 0 20px;
	.icon {
		margin: 0 8px 0 0;
		transition: fill 0.3s;
		fill: #fff;
	}
	&:hover,
	&.active {
		.header-contact__link {
			color: $c-primary-hover;
		}
		.icon {
			fill: $c-primary-hover;
		}
	}
	&__link {
		cursor: pointer;
		transition: color 0.3s;
		color: #fff;
	}

	@media (max-width: $xxl - 1) {
		padding: 0 10px;
		&__link {
			font-weight: 300;
		}
	}
	@media (max-width: $xl - 1) {
		&--email {
			display: none;
		}
	}
}

.header-main {
	padding-top: 6px;
	display: flex;
	padding-bottom: 12px;
	&.header-fixed {
		position: fixed;
		top: 0;
		z-index: 100;
		.header-bottom {
			display: none;
		}
	}
	&__phone {
		display: none;
		@media (max-width: $md - 1) {
			display: flex;
			flex: 0 0 auto;
			margin-right: 15px;
		}
		@media (max-width: $sm - 1) {
			margin-right: 0px;
		}
		.icon {
			fill: transparent;
			stroke-width: 2px;
			stroke: #4a4a4a;
		}
	}
	@media (max-width: $sm - 1) {
		display: none;
	}

	&__inner {
		z-index: 2;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		width: 100%;
		@media (max-width: $md - 1) {
			margin: 0px;
			.nav {
				display: none;
			}
		}
		.subscribe {
			@media (max-width: $md - 1) {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 22px;
			}
			@media (max-width: $sm - 1) {
				display: none;
			}
		}
	}
	.sub-text {
		width: auto;
		max-width: 140px;
		margin-left: 35px;
		transition: width 0.5s;
		color: #999;
		line-height: 1.45;
		@media (max-width: 1024px) {
			display: none;
		}
	}

	&__login {
		display: none;
		align-items: center;
		flex-shrink: 0;
		.icon {
			fill: $c-primary-hover;
		}
	}
	&__favourite,
	&__basket {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		margin-left: auto;
		transition: flex-direction 0.5s;
		color: $c-text;
		font-size: 15px;
		position: relative;
		@media (max-width: $sm - 1) {
			margin-left: 0px;
		}
		span {
			transition: color 0.3s;
			color: $c-text;
		}
		.basket-empty {
			display: flex;
			align-items: center;
			span {
				margin-left: 10px;
			}
			&:hover {
				.basket-small {
					opacity: 1;
					visibility: visible;
					top: calc(100% + 30px);
				}
			}
		}
		.basket-full {
			display: flex;
			align-items: center;
			position: relative;
			.icon {
				margin: 0px;
			}
			.qty-basket {
				left: 8px;
				top: 0px;
				color: $c-link;
				font-style: normal;
				font-weight: 550;
				font-size: 14px;
				line-height: 16px;
				position: absolute;
				font-family: $f-main;
			}
			.price {
				margin-left: 10px;
				@media (max-width: $sm - 1) {
					display: none;
				}
			}
		}
	}
	&__contacts {
		@media (max-width: $lg - 1) {
			.contacts-mail {
				display: none;
			}
			.contacts-phone {
				margin-left: 0px;
			}
		}
		@media (max-width: $md - 1) {
			display: none;
			.contacts-phone {
				display: none;
			}
		}
	}
	&__favourite {
		position: relative;
		.qty-favourite {
			position: absolute;
			z-index: 0;
			top: -5px;
			left: 15px;
			padding: 2px 6px;
			color: #fff;
			border-radius: 10px;
			background: $c-primary;
			font-size: 12px;
			line-height: 1;
		}
		&.disabled {
			pointer-events: none;
			.qty-favourite {
				background: #999;
			}
		}
		.icon {
			margin: 3px 12px 3px 3px;
			fill: #fff;

			stroke: #8dc63f;
		}
		&:hover {
			span,
			.price {
				color: $c-primary;
			}
		}
	}
}
.mob-nav-toggle {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 20px;
	height: 16px;
	margin: 10px 15px 10px 0;
	cursor: pointer;
	span {
		width: 20px;
		height: 2px;
		transition: background 0.3s, margin 0.3s ease;
		background: $c-primary;
		&:nth-child(2) {
			margin: 5px 0;
		}
	}
	&.active {
		&:before {
			position: fixed;
			z-index: $zindex-fixed - 1;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			content: "";
			opacity: 0.7;
			background-color: #000;
		}
		span {
			&:nth-child(1) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				display: none;
			}
		}
	}
	@media (min-width: $md) {
		display: none;
	}
	@media (max-width: $xs - 1) {
		span {
			background: $c-primary-hover;
		}
	}
}
.header-menu-wrap {
	position: relative;
	padding: 20px 0px;
	z-index: 11;
	@media (max-width: $sm - 1) {
		display: none;
	}
	&:after {
		position: absolute;
		content: "";
		width: 100%;
		height: 1px;
		background-color: #000;
		left: 0;
		top: 0;
	}
	&.active {
		&:before {
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			background-color: #000;
			left: 0;
			bottom: 0;
			z-index: 20;
		}
	}
}
.header-menu {
	display: flex;
	font-family: $f-main;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	@media (max-width: $xl - 1) {
		justify-content: space-between;
	}
}
.basket-full-wrap {
	@media (min-width: 1024px) {
		&:hover {
			.basket-small {
				opacity: 1;
				visibility: visible;
				top: calc(100% + 30px);
			}
			&:after {
				position: absolute;
				content: "";
				width: 730px;
				top: 100%;
				height: 30px;
				right: 0;
			}
		}
	}
}
.basket-small {
	transition: opacity 0.3s ease, top 0.3s ease;
	top: calc(100% + 20px);
	visibility: hidden;
	position: absolute;
	background-color: #fff;
	z-index: 50;
	padding: 20px 8px 20px 20px;
	right: 0px;
	width: 730px;
	box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
	&.basket-small--empty {
		width: 500px;
		padding: 30px;
	}
	@media (max-width: $sm - 1) {
		display: none;
	}
	&__title {
		font-style: normal;
		font-weight: 300;
		font-size: 32px;
		line-height: 32px;
	}
	&__content {
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		@include lineheight(16, 24);
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&__items {
		overflow-y: auto;
		max-height: 360px;
		padding-right: 28px;
		@include custom-scroll;
	}
	&__footer {
		padding-top: 20px;
		position: relative;
		display: flex;
		padding-right: 36px;
		justify-content: space-between;
		&:before {
			position: absolute;
			content: "";
			width: calc(100% - 36px);
			height: 1px;
			background-color: #e7e7e7;
			top: 0;
			left: 0px;
		}
	}
	&:before {
		position: absolute;
		content: "";
		width: 40px;
		height: 40px;
		transform: translateY(-30%) rotate(-45deg);
		top: calc(100% + 20px);
		background-color: #fff;
		right: 30px;
		top: 0;
		z-index: -1;
	}
}
@media (min-width: $md) {
	.js-header-scroll-top {
		.header-main {
			display: flex !important;
		}
		.header-top {
			display: flex !important;
		}
	}
}
