+include-script('header')
+include-script('mob-menu')
+ajax()

header.header
	.header__container.js-header
		.container
			.header-top
				.header-top__mobile-menu-trigger.js-mobile-menu-trigger(data-slam-ajax="true" data-ajax-src="./components-template/mob-menu/ajax__mob-menu.html" data-ajax-event="click touch" data-ajax-target=".mob-menu-container" data-ajax-reinit="select" data-target=".mob-menu" aria-label="открыть меню")
					+icon('i-burger')(style="width: 24px; height: 24px")
				.header-top__logo
					a.logo(href='/local/templates/html/index.html' aria-label='На главную')
						+picture({
							modClass: 'logo__img',
							imgBig: 'logo.svg',
							imgSmall: 'logo.svg'
						})
				.header-main__search
					.search-toggle.js-btn-toggle(data-target='.header-main__search-form' aria-label='Поиск')
						+icon('i-search')(style='width: 24px; height: 24px;')
					+search({
						mod_class: 'header-main__search-form'
					})
				.header-main__contacts
					include ../contacts/contacts
				.header-main__phone(data-toggle="modal" data-target="#modal-contacts")
					+icon('i-phone-mob')(style='width: 24px; height: 24px;')
				.header-main__basket
					.basket-empty.hidden
						+icon('i-basket-empty')(style='width: 24px; height: 24px;')
						span Нет товаров
						.basket-small.basket-small--empty
							.basket-small__title Ваша корзина пуста
							.basket-small__content Воспользуйтесь поиском, чтобы найти необходимые вам товары. Мы производим более 30 серий мягкой мебели — вы обязательно найдете то, что подойдет вам.
							.basket-small__footer
								a(href="").btn.btn--primary Перейти в каталог
									+icon('i-link')(style="width: 24px; height: 24px")
					.basket-full-wrap
						a(href="/local/templates/html/basket.html" aria-label='Корзина').basket-full
							.qty-basket 22
							+icon('i-basket-full')(style='width: 24px; height: 24px;')
							.price 20 888,52 р.
						.basket-small
							.basket-small__items
								+cart-item({
									title: 'Офисный диван БРИДЖ'
								})
								+cart-item({
									title: 'Офисный диван БРИДЖ'
								})
								+cart-item({
									title: 'Офисный диван БРИДЖ'
								})
								+cart-item({
									title: 'Офисный диван БРИДЖ с высокими боковыми панелями и спинкой'
								})
								+cart-item({
									title: 'Офисный диван БРИДЖ'
								})
								+cart-item({
									title: 'Офисный диван БРИДЖ'
								})
							.basket-small__footer
								button.btn.btn--light.btn--trash.btn--icon Очистить корзину
									+icon('i-close')(style="width: 16px; height: 16px")
								button.btn.btn--primary.btn--icon Перейти в корзину
									+icon('i-link')(style="width: 24px; height: 24px")
		.header-bottom
			.header-menu-wrap
				.container
					.header-menu
						include ../slam-catalog-menu/slam-catalog-menu
						+nav({
							modClass: 'nav--header-main',
							list: [
								{name: 'О нас', link: '#'},
								{name: 'Шоу-рум', link: '#'},
								{name: 'Стать-дилером', link: '#'},
								{name: 'Остатки на складе', link: '#'},
								{name: 'Контакты', link: '/local/templates/html/contacts.html'},
							]
						})
	.mob-menu
		.mob-menu-container