+include-style('brand-preim')

section.brand-preim
    h2.h1.brand-preim__title Преимущества бренда
    .row
        mixin bp-item(args={})
            .col-md-4.bp-item-wrap
                .bp-item
                    .bp-item__num
                        img(src="images/bp-bg.svg" alt=args.num)
                        span=args.num
                    .bp-item__title=args.title
                    .bp-item__text=args.text
        +bp-item({
            num: '1',
            title: 'Натуральные материалы',
            text: 'В производстве применяются только экологически чистые и натуральные материалы'
        })
        +bp-item({
            num: '2',
            title: 'Современный дизайн',
            text: 'Визальный стиль направленный в будущее'
        })
        +bp-item({
            num: '3',
            title: 'Быстрая доставка',
            text: 'У компании имеются парк грузовых автомашин для быстрой доставки товара клиенту'
        })
        +bp-item({
            num: '4',
            title: 'Профессиональная команда',
            text: 'Компания на рынке более 10 лет. Квалифицированные сотрудники являются приоритетом'
        })
        +bp-item({
            num: '5',
            title: 'Гарантия от 1 года',
            text: 'Гарантия на всю продукцию'
        })
