.quick-catalog-wrap
	.container
		.quick-catalog
			+catalog-item({
				title: 'Диваны и кресла',
				img: 'images/quick-catalog-1.jpg'
			})
			+catalog-item({
				mod: 'quick-catalog__item--half',
				title: 'Банкетки и пуфы',
				img: 'images/quick-catalog-2.jpg'
			})
			+catalog-item({
				mod: 'quick-catalog__item--half',
				title: 'Мобильные перегородки',
				img: 'images/quick-catalog-3.jpg'
			})
			+catalog-item({
				mod: '',
				title: 'Хиты продаж',
				img: 'images/quick-catalog-4.jpg'
			})
			+catalog-item({
				mod: '',
				title: 'Новинки',
				img: 'images/quick-catalog-5.jpg'
			})