+include-style('basket-order')
+include-script('basket-order')

.basket-order.js-basket-order
    .basket-order__block
        //для физ лиц
        div(data-field="fiz")
            .row
                .col-md-4
                    +input({
                        label: 'Ваше ФИО',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: 'Ваше ФИО',
                        required: true,
                        pattern: false,
                        validation: {
                            message: 'Обязательное поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
                .col-md-4
                    +input({
                        label: 'Ваш телефон',
                        type: 'tel',
                        name: false,
                        small: false,
                        placeholder: '+7(___)___-__-__',
                        required: true,
                        pattern: phone,
                        validation: {
                            message: 'Обязательное поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
                .col-md-4
                    +input({
                        label: 'Ваш e-mail',
                        type: 'email',
                        name: false,
                        small: false,
                        placeholder: 'Ваш e-mail',
                        required: true,
                        pattern: email,
                        validation: {
                            message: 'Обязательное поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
                .col-md-12
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: true,
                        label_mod: '',
                        label: 'Я хочу получать информацию о новинках, акциях и скидках'
                    })
        //для юр лиц
        div(data-field="ur")
            .row
                .col-md-4
                    +input({
                        label: 'ИНН',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: 'ИНН',
                        required: true,
                        pattern: false,
                        validation: {
                            message: 'Обязательное поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
                .col-md-4
                    +input({
                        label: 'Название компании',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: 'Название компании',
                        required: true,
                        pattern: false,
                        validation: {
                            message: 'Обязательное поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
                .col-md-4
                    +file-upload({
                        label: 'Прикрепить реквизиты'
                    })
                .col-md-4
                    +input({
                        label: 'Контактное лицо',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: 'Контактное лицо',
                        required: true,
                        pattern: false,
                        validation: {
                            message: 'Обязательное поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
                .col-md-4
                    +input({
                        label: 'Ваш телефон',
                        type: 'tel',
                        name: false,
                        small: false,
                        placeholder: '+7(___)___-__-__',
                        required: true,
                        pattern: phone,
                        validation: {
                            message: 'Обязательное поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
                .col-md-4
                    +input({
                        label: 'Ваш e-mail',
                        type: 'email',
                        name: false,
                        small: false,
                        placeholder: 'Ваш e-mail',
                        required: true,
                        pattern: email,
                        validation: {
                            message: 'Обязательное поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
                .col-md-12
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: true,
                        label_mod: '',
                        label: 'Я хочу получать информацию о новинках, акциях и скидках'
                    })
    .basket-order__block
        .h2 Доставка
        .row
            .col-md-6
                .bo-del
                    +radio({
                        wrap_mod: '',
                        class_mod: 'js-delivery',
                        name: 'delivery',
                        checked: true,
                        required: '',
                        label: 'Самовывоз',
                        sublabel:'Бесплатно <br>Москва, Огородный проезд, 20 стр. 21\n<br><a href="#">Показать на карте</a>'
                    })
            .col-md-6
                .bo-del
                    +radio({
                        wrap_mod: '',
                        class_mod: 'js-delivery',
                        name: 'delivery',
                        checked: true,
                        required: '',
                        label: 'Оформить доставку',
                        sublabel: ''
                    })
                    +input({
                        label: 'Адрес доставки',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: 'Адрес доставки',
                        required: false,
                        pattern: false,
                        validation: {
                            message: 'Обязательное поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
                    //-+datapicker({
                        label: 'Дата доставки',
                        required: true,
                        placeholder: '__/__/____',
                        readonly: true
                    //-})

                    .bo-del__options
                        .bo-del__lvl2
                            +radio({
                                wrap_mod: '',
                                class_mod: '',
                                name: 'delivery2',
                                checked: true,
                                required: '',
                                label: 'В пределах МКАД',
                                sublabel: 'Бесплатно при заказе от 70.000 руб'
                            })
                            +radio({
                                wrap_mod: '',
                                class_mod: '',
                                name: 'delivery2',
                                checked: false,
                                required: '',
                                label: 'За пределами МКАД',
                                sublabel: '1000 р. + 35 р/км. <br>При заказе свыше 100 000 р. доставка по МО бесплатно'
                            })
                            +radio({
                                wrap_mod: '',
                                class_mod: '',
                                name: 'delivery2',
                                checked: false,
                                required: '',
                                label: 'Доставка по РФ',
                                sublabel: 'Рассчитывается индвидуально'
                            })
                        .bo-del__lvl3
                            .title Подъем на этаж
                            +radio({
                                wrap_mod: '',
                                class_mod: '',
                                name: 'delivery3',
                                checked: true,
                                required: '',
                                label: 'Не требуется',
                                sublabel: 'о руб'
                            })
                            +radio({
                                wrap_mod: '',
                                class_mod: '',
                                name: 'delivery3',
                                checked: false,
                                required: '',
                                label: 'Есть грузовой лифт',
                                sublabel: '500 руб'
                            })
                            +radio({
                                wrap_mod: '',
                                class_mod: '',
                                name: 'delivery3',
                                checked: false,
                                required: '',
                                label: 'Нет грузового лифта',
                                sublabel: '500 + 200 руб. этаж'
                            })
                        .bo-del__lvl3
                            .title Сборка
                            +checkbox({
                                wrap_mod: '',
                                require: '',
                                input_mod: '',
                                checked: false,
                                label_mod: '',
                                label: 'Стоимость сборки 7% от стоимости заказа, минимум 1000 руб. (Бесплатно по Москве при заказе свыше 100 000 руб.)'
                            })
                        .bo-del__lvl3
                            .title Вывоз упаковки
                            +radio({
                                wrap_mod: '',
                                class_mod: '',
                                name: 'delivery4',
                                checked: true,
                                required: '',
                                label: 'Не требуется',
                                sublabel: '0 руб'
                            })
                            +radio({
                                wrap_mod: '',
                                class_mod: '',
                                name: 'delivery4',
                                checked: false,
                                required: '',
                                label: 'по Москве',
                                sublabel: '5000 руб'
                            })
    .basket-order__block
        .h2 Варианты оплаты
        //для физ лиц
        div(data-field="fiz")
            .row
                .col-md-3
                    .bo-pay
                        +radio({
                            wrap_mod: '',
                            class_mod: 'js-pay',
                            name: 'pay-fiz',
                            checked: true,
                            required: '',
                            label: 'Картами по QR-коду или ссылке',
                            sublabel: ''
                        })
                            img(src="images/pay1.svg" alt="по QR-коду")
                .col-md-3
                    .bo-pay
                        +radio({
                            wrap_mod: '',
                            class_mod: 'js-pay',
                            name: 'pay-fiz',
                            checked: false,
                            required: '',
                            label: 'Безналичный расчет по счету',
                            sublabel: ''
                        })
                            img(src="images/pay2.svg" alt="безналичный расчет")
                .col-md-3
                    .bo-pay
                        +radio({
                            wrap_mod: '',
                            class_mod: 'js-pay',
                            name: 'pay-fiz',
                            checked: false,
                            required: '',
                            label: 'Наличными',
                            sublabel: ''
                        })
                            img(src="images/pay3.svg" alt="наличный расчет")
            .alert.alert--primary-bg
                +icon('i-info')
                .alert__content Для физических лиц обязательна предоплата 100% до момента отгрузки товара.
                    br
                    | Минимальная стоимость для доставки физическим лицам - 15 000 р. по Москве, 30 000 р. по МО
                    br
                    | Минимальная стоимость самовывоза физическим лицам - 15 000 р.
                    br
                    | Возможен самовывоз из пунктов выдачи СДЭК
        //для юр лиц
        div(data-field="ur")
            .row
                .col-md-3
                    .bo-pay
                        +radio({
                            wrap_mod: '',
                            class_mod: 'js-pay',
                            name: 'pay-ur',
                            checked: true,
                            required: '',
                            label: 'Безналичный расчет по счету',
                            sublabel: ''
                        })
                            img(src="images/pay2.svg" alt="безналичный расчет")
                .col-md-3
                    .bo-pay
                        +radio({
                            wrap_mod: '',
                            class_mod: 'js-pay',
                            name: 'pay-ur',
                            checked: false,
                            required: '',
                            label: 'Картой в офисе',
                            sublabel: ''
                        })
                            img(src="images/pay4.svg" alt="наличный расчет")
                .col-md-3
                    .bo-pay
                        +radio({
                            wrap_mod: '',
                            class_mod: 'js-pay',
                            name: 'pay-ur',
                            checked: false,
                            required: '',
                            label: 'Картами по QR-коду или ссылке',
                            sublabel: ''
                        })
                            img(src="images/pay1.svg" alt="по QR-коду")
    .basket-order__block
        .h2 Комментарии к заказу
        .row
            .col-md-9
                +textarea({
                    wrap_mod: '',
                    label: '',
                    required: '',
                    qty_rows: '',
                    placeholder: 'Ваш комментарий',
                    required: '',
                })
        .alert
            +icon('i-info')
            .alert__content Нажимая на кнопку «Оформить заказ», вы соглашаетесь на обработку персональных данных
    .basket-order__block
        .promocode-box.js-promo-box
            .promocode-box__text У меня есть промокод!
            .promocode-box__field
                +input({
                    label: '',
                    type: 'text',
                    name: false,
                    small: false,
                    placeholder: 'Введите номер промокода',
                    required: true,
                    pattern: false,
                    validation: {
                        message: 'Обязательное поле',
                        regexp: 'Неверный формат',
                        emailaddress: ' ',
                        identical: false
                    }
                })
                button.btn.btn--secondary.promocode-box__btn
                    span Ок