@import "src/assets/css/vars_mixins/vars_mixins";

.basket-order {
  &__block {
    margin: 0 0 45px;
  }
  &__block .file {
    margin-top: 35px;
  }
  &__block textarea {
    min-height: 129px;
  }
}

[data-field="ur"] {
  display: none;
}

.bo-del {
  min-height: 160px;
  background: #fff;
  border-radius: 4px;
  padding: 27px 15px 12px;
  margin: 0 0 30px;
  & > .form-group {
    .radio {}
    .radio-label {
      display: flex;
      .text {
        font-weight: 700;
      }
      .sublable {
        display: block;
        padding-left: 25px;
      }
      a {
        color: $c-primary;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .form-group {
    margin: 0 0 15px;
  }
  &__options {
    display: none;
  }
  &__lvl2 {
    margin-top: 30px;
    padding: 30px 15px 0;
    border-top: 1px solid #E3E3E3;
    .form-group .radio-label {
      display: flex;
      .text {
        font-weight: 700;
        max-width: 180px;
        flex: 1 0 180px;
      }
      .sublable {
        display: block;
        padding-left: 25px;
        flex: 1;
      }
    }
  }
  &__lvl3 {
    margin-top: 30px;
    padding: 30px 15px 0;
    border-top: 1px solid #E3E3E3;
    .title {
      font-weight: 600;
      font-size: 20px;
      color: #828282;
      margin: 0 0 15px;
    }
    .form-group .radio-label {
      display: flex;
      justify-content: space-between;
      .text {
        font-weight: 700;
      }
      .sublable {
        display: block;
        padding-left: 25px;
      }
    }
  }
}

.bo-pay {
  padding: 27px 15px 12px;
  border-radius: 4px;
  background: #fff;
  min-height: 129px;
  margin: 0 0 30px;
  .form-group {
    margin: 0;
  }
  .radio-label {
    margin: 50px 0 0;
    display: flex!important;
    flex-direction: column-reverse;
  }
  .text {
    display: block;
    font-weight: 700;
    padding-left: 10px;
  }
  img {
    position: absolute;
    top: -60px;
    left: 43px;
    display: block;
    height: 48px;
    width: 48px;
  }
}

.promocode-box {
  max-width: 300px;
  position: relative;
  &__text {
    border: 1px solid #E3E3E3;
    height: 47px;
    border-radius: 4px;
    color: $c-primary;
    padding: 13px 15px;
    cursor: pointer;
    transition: box-shadow ease 0.4s;
  }
  &__text:hover {
    box-shadow: 0 3px 8px rgba(189, 189, 193, 0.53);
  }
  &__field {
    display: none;
    position: relative;
  }
  &__btn.btn {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 47px;
    min-width: 56px;
    padding: 0;
    border-radius: 0 4px 4px 0;
  }
}

@media (max-width: $xl - 1)  {
  .bo-pay {
    .text {
      font-size: 14px;
    }
  }
}
@media (max-width: $sm - 1) {
  .bo-del {
    min-height: 10px;
  }
  .bo-del__lvl2 {
    padding: 30px 0 0;
  }
  .bo-del > .form-group .radio-label,
  .bo-del__lvl3 .form-group .radio-label,
  .bo-del__lvl2 .form-group .radio-label {
    display: block;
  }
  .bo-del > .form-group .radio-label .sublable,
  .bo-del__lvl3 .form-group .radio-label .sublable,
  .bo-del__lvl2 .form-group .radio-label .sublable {
    padding: 5px 0 0;
  }
}