@import '../../assets/css/vars_mixins/vars_mixins';

.multifilters {
  display: flex;
  flex-wrap: wrap;
  margin: 31px 0 22px;
  &__btns {
    .clear {
      color: $c-dark;
      .icon {
        fill: $c-dark;
        height: 13px;
        width: 13px;
      }
    }
  }
}

.multifilter {
  margin: 0 13px 13px 0;
  cursor: pointer;
  position: relative;

  &__select {
    &.form-group {
      margin-bottom: 0;
    }
    div.custom-select,
    select {
      font-weight: 300;
      font-size: 16px;
      font-family: inherit;
      height: 40px;
      line-height: 38px;
      color: #fff;
      background: $c-add;
      border-radius: 4px;
      border: 1px solid $c-add;
      padding: 0 24px 0 10px;
    }
    .jq-selectbox__select-text {
      height: 40px;
      line-height: 38px;
      color: #fff;
      padding: 0 15px 0 0;
    }
    .jq-selectbox__trigger {
      right: -10px;
    }
  }
  &__head {
    font-weight: 300;
    color: #fff;
    background: $c-add;
    border-radius: 4px;
    padding: 5px 35px 5px 8px;
    position: relative;
  }
  &__head::after {
    content: '';
    position: absolute;
    top: 14px;
    right: 14px;
    height: 8px;
    width: 8px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
  }
  &__head .title {
    display: inline-block;
    padding: 5px;
  }
  &__head b {
    display: none;
    padding: 2px 11px 2px 0;
    font-weight: 300;
    border-right: 1px solid #fff;
  }
  &__head .clear {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity ease 0.4s, visibility ease 0.4s;
  }
  &__head .clear .icon {
    height: 12px;
    width: 12px;
    fill: #fff;
  }
  &__body.sidebar-filter {
    position: absolute;
    top: calc(100% + 4px);
    left: 50%;
    z-index: 40;
    width: 200px;
    transform: translate(-50%,10px);
    opacity: 0;
    visibility: hidden;
    transition: opacity ease 0.4s, visibility ease 0.4s, transform ease 0.4s;

    .sidebar-filter {
      &__item {
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
        margin: 0;
        padding: 7px 0;
        max-height: 250px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 8px;
          background-color: #F9F9F9;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $c-add
        }
      }
      &__head {
        pointer-events: none;
        span::after {
          display: none;
        }
      }
      &__content {
        padding: 10px 15px;
      }
    }
    .form-group {
      margin: 0 0 10px;
    }
    .checkbox label {
      font-size: 14px;
    }
  }
  &.active {
    .multifilter {
      &__head::after {
        display: none;
      }
      &__head b {
        display: inline-block;
      }
      &__head .clear {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &.open {
    .multifilter {
      &__body {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%,0);
      }
    }
  }
}

@media (max-width: $sm - 1) {
  .multifilters {
    justify-content: space-between;
    &__btns {
      width: calc(50% - 5px);
      .btn {
        width: 100%;
        padding: 10px 5px;
        span {
          padding-right: 3px;
        }
      }
      .clear {
        display: none!important;
      }
    }
  }
  .multifilter {
    display: none!important;
    margin: 0;
    width: calc(50% - 5px);
    &:first-child {
      display: block!important;
    }
    &__body {
      &.sidebar-filter {
        transform: translate(0,5px)!important;
        left: 0;
      }
    }

  }
}