+include-script('multifilters')

.multifilters.js-multifilters
    .multifilter
        +custom-select({
            fg_mod: 'multifilter__select',
            items: [
                {
                    value: 'Сначала дорогие',
                },
                {
                    value: 'Сначала дешевые',
                },
                {
                    value: 'Сначала новые'
                }
            ]
        })
    .multifilter.js-multifilter.active
        .multifilter__head
            span.title Цена:
            b 50-500
            span.clear.anim-rotate
                +icon('i-close')
        .multifilter__body.sidebar-filter
            .sidebar-filter__item.form-group
                .sidebar-filter__head
                    span Цена
                .sidebar-filter__content.ajaxfilter-combo.ajaxfilter-filter-property-body.init-more(data-name='all_proizvoditel')
                    p skdfksjnfjs
    .multifilter.js-multifilter
        .multifilter__head
                span.title Бренд:
                b Pointex
                span.clear.anim-rotate
                    +icon('i-close')
        .multifilter__body.sidebar-filter
            .sidebar-filter__item.form-group
                .sidebar-filter__head
                    span Бренд
                .sidebar-filter__content.ajaxfilter-combo.ajaxfilter-filter-property-body.init-more(data-name='all_proizvoditel-23')
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma'
                    })
                        //-span.ajaxfilter-cnt.checkbox-counter 11
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma'
                    })
                        //-span.ajaxfilter-cnt.checkbox-counter 11
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
    .multifilter.js-multifilter
        .multifilter__head
            span.title Страна производитель:
            b Россия
            span.clear.anim-rotate
                +icon('i-close')
        .multifilter__body.sidebar-filter
            .sidebar-filter__item.form-group
                .sidebar-filter__head
                    span Страна производитель
                .sidebar-filter__content.ajaxfilter-combo.ajaxfilter-filter-property-body.init-more(data-name='all_proizvoditel-23')
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma'
                    })
                        //-span.ajaxfilter-cnt.checkbox-counter 11
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
    .multifilter.js-multifilter
        .multifilter__head
            span.title Основной материал:
            b 3
            span.clear.anim-rotate
                +icon('i-close')
        .multifilter__body.sidebar-filter
            .sidebar-filter__item.form-group
                .sidebar-filter__head
                    span Основной материал
                .sidebar-filter__content.ajaxfilter-combo.ajaxfilter-filter-property-body.init-more(data-name='all_proizvoditel-23')
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma'
                    })
                        //-span.ajaxfilter-cnt.checkbox-counter 11
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
                    +checkbox({
                        wrap_mod: '',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Acqua di parma 2'
                    })
    .multifilter.js-multifilter
        .multifilter__head
            span.title Цвет:
            b 3
            span.clear.anim-rotate
                +icon('i-close')
        .multifilter__body.sidebar-filter
            .sidebar-filter__item.form-group
                .sidebar-filter__head
                    span Цвет
                .sidebar-filter__content.ajaxfilter-combo.ajaxfilter-filter-property-body.init-more(data-name='all_proizvoditel-23')
                    +checkbox({
                        wrap_mod: 'checkbox--color',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Серый'
                    })
                        span.color(style="background-color: #C4C4C4;")
                    +checkbox({
                        wrap_mod: 'checkbox--color',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Зеленый'
                    })
                        span.color(style="background-color: #3ED25E;")
                    +checkbox({
                        wrap_mod: 'checkbox--color',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Желтый'
                    })
                        span.color(style="background-color: #FFEB39;")
                    +checkbox({
                        wrap_mod: 'checkbox--color',
                        require: '',
                        input_mod: '',
                        checked: '',
                        label_mod: '',
                        label: 'Синий'
                    })
                        span.color(style="background-color: #00ABE1;")
    .multifilters__btns
        a(href="javascript:;" data-target=".sidebar-filter-wrap").btn.btn--icon.btn--primary.js-btn-toggle.js-open-filters
            span Все фильтры (3)
            +icon('i-arr-r')
        a(href="javascript:;").btn.btn--icon.clear.js-clear-filters.anim-rotate
            span Очистить фильтр
            +icon('i-close')