.technology
	.container
		.container-custom
			+presection-title-main({
				title: 'Индукционная Технология нагревания Табака'
			})
			//- .technology__descr.h26 Встречайте glo, умное, но простое устройство которое нагревает табак, а не сжигает его, создавая пар менее токсичным на 95% , чем сигареты.
			.technology__advantages
				.advantage__title.technology__advantages-mob 
				+advantage({
					img: 'images/fire.png',
					title:"Без горения*",

				})
				+advantage({
					img: 'images/smell.png',
					title:"Меньше запаха*",
				})