+include-style('basket-sticky')
//- +include-script('basket-sticky')

.basket-sticky-btns
    +file-download({
        mod_class:'file-download--xls',
        icon: 'XLS',
        name: 'Скачать xls'
    })
    +file-download({
        mod_class:'file-download--pdf',
        icon: 'PDF',
        name: 'Скачать pdf'
    })
+b.basket-sticky(id="basket-sticky")
    +e.__inner
        +e.__block
            dl
                dt Товаров:
                dd 3 шт.
            dl
                dt Вес
                dd 210 кг.
            dl
                dt Объём
                dd 1,2 м<sup>3</sup>
        +e.__block
            dl
                dt Скидка
                dd 50 000 ₽
                    .sale -25%
            dl
                dt
                    a(href="#") Доставка
                dd Курьером 500  ₽
            dl
                dt
                    a(href="#") Тип оплаты
                dd Картой при доставке
        +e.__block
            dl
                dt Итого
                dd
                    span.price <b>200 000</b>₽
        +e.__block
            +checkbox({
                wrap_mod: '',
                require: '',
                input_mod: '',
                checked: true,
                label_mod: '',
                label: 'Я согласен <a href="#">с условиями договора</a>'
            })
            button.btn.btn--primary
                span Оформить заказ
