@import "src/assets/css/vars_mixins/vars_mixins";
.basket-sticky-btns {
  display: flex;
  align-items: center;
  margin-left: 70px;
  transform: translate(3px, -45px);
  height: 0;
  .file-download:not(:last-child) {
    margin-right: 50px;
  }
}
.basket-sticky {
  position: sticky;
  left: 0;
  right: 0;
  top: 100px;
  &__inner {
    margin-left: 70px;
    background: #fff;
    box-shadow: 0 3px 8px rgba(189, 189, 193, 0.53);
    border-radius: 4px;
  }
  &__block {
    padding: 25px 25px;
  }
  &__block:not(:first-child) {
    border-top: 1px solid #E3E3E3;
  }
  &__block a {
    color: $c-primary;
    border-bottom: 1px dashed;
    transition: border-color ease 0.4s;
  }
  &__block a:hover {
    border-color: rgba(0,0,0,0.0);
  }
  &__block .sale {
    margin-left: 5px;
    transform: translate(0, -2px);
  }
  &__block .price {
    font-weight: 700;
  }
  &__block .price b {
    font-size: 36px;
  }
  &__block dl {
    display: flex;
    align-items: baseline;
  }
  &__block dl:not(:last-child) {
    margin: 0 0 18px;
  }
  &__block dt {
    flex: 1 0 50%;
    max-width: 50%;
  }
  &__block dd {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

.basket-sticky-btns--mobile {
  display: none;
}

@media (max-width: $xxl - 1) {
  .basket-sticky-btns {
    margin-left: 0;
  }
  .basket-sticky {
    &__inner {
      margin-left: 0;
    }
  }
}
@media (max-width: $xl - 1) {
  .basket-sticky-btns {
    .file-download:not(:last-child) {
      margin-right: 25px;
    }
  }
  .backet-sticky__block {
    padding: 20px 15px;
    .price b {
      font-size: 24px;
    }
  }
}
@media (max-width: $lg - 1) {
  .basket-sticky-btns {
    display: none;
    height: auto;
    transform: translate(3px, 0);
    margin: 0 0 20px;
  }
  .basket-sticky {
    position: static;
    &__inner {
      max-width: 500px;
    }
  }
  .basket-sticky-btns--mobile {
    display: flex;
  }
}
@media (max-width: $xs - 1) {
  .basket-sticky {
    padding-left: 0;
    padding-right: 0;
    margin-left: -16px;
    margin-right: -16px;
    &__inner {
      max-width: 100%;
      border-radius: 0;
    }
    &__block .price b {
      font-size: 24px;
    }
  }
}