+modal({
	id: 'modal-noposted',
	mod: 'modal-noposted one-click-buy',
	title: 'Данные товары из вашего заказа не могут быть отправлены по почте',
	header: true,
	dialog_mod: '',
})
	.modal-noposted__body
		.modal-noposted__list-wrap
			.modal-noposted__list
				+product-card({
					src: '../images/prod-05.jpg',
					status: true,
					code: 'Код: 4744481010818',
					title: 'Амарант, зеленая гречка, киноа и другие крупы, миндальная мука, оливки и маслины, соусы и тапенады, кофе и чай, специи, натуральные масла и уксус',
				})
				+product-card({
					src: '../images/prod-01.jpg',
					status: true,
					code: 'Код: 4744481010818',
					title: 'Консервы пастеризованные. Бульон куриный жидкий., 350мл',
				})
				+product-card({
					src: '../images/prod-02.jpg',
					status: true,
					code: 'Код: 4744481010818',
					title: 'потребность в HR-менеджере возникает, когда компания начинает расти',
				})
				+product-card({
					src: '../images/prod-03.jpg',
					status: true,
					code: 'Код: 4744481010818',
					title: 'существуют и работают некие понятные системы',
				})
				+product-card({
					src: '../images/prod-04.jpg',
					status: true,
					code: 'Код: 4744481010818',
					title: 'Бульон куриный жидкий., 350мл',
				})
		p Для того, чтобы оформить заказ, вам необходимо изменить состав заказа или способ доставки.
		a(href="#" aria-label="Изменить заказ").btn.btn--primary Изменить заказ
