@import '../../assets/css/vars_mixins/vars_mixins';

.contact-form {
  margin: 0 0 65px;
  &__inner {
    padding: 40px 0;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: translate(-120px,0);
    margin: 0 0 15px;
  }
  &__img-wrap {
    width: 90px;
    min-width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  &__img {
    max-width: 100%;
  }
  &__title {
    padding-left: 30px;
    margin: 0!important;
  }
  &__checkbox {
    .text {
      font-weight: 300;
      font-size: 13px;
      line-height: 130%;
      color: #828282;
      a {
        color: $c-primary;
      }
    }
  }
  &__info {
    .title {
      display: block;
      margin: 0 0 5px;
      user-select: none;
      font-weight: 300;
      font-size: 13px;
      line-height: 130%;
      color: #828282;
    }
    .link {
      display: block;
      font-size: 17px;
      color: $c-text;
      margin: 0 0 20px;
      transition: color ease 0.4s;
      &:hover {
        border-color: rgba(0,0,0,0.0);
        color: $c-primary;
      }
    }
  }
}

.contact-form.contact-form--big {
  margin-top: 65px;
  .contact-form {
    &__inner {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

@media (max-width: $xl - 1) {
  .contact-form {
    &__header {
      transform: translate(-105px,0);
    }
    &__title {
      padding-left: 15px;
    }
  }
}
@media (max-width: $md - 1) {
  .contact-form {
    &__inner {
      padding: 30px 15px;
    }
    &__header {
      transform: translate(0,0);
    }
  }

  .contact-form.contact-form--big {
    margin-top: 40px;
    .contact-form {
      &__inner {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}