+include-style('room-about')
.room-about-wrap
	.container
		.room-about
			.room-about__left Шоу-рум — демонстрационный зал, где представлены образцы мебели из коллекций, которые мы производим. Здесь можно получить информацию о товаре, и договориться о закупке. <br>В нашем шоу-руме площадью более 200 м2 вы можете посмотреть и опробовать выбранную вами мебель. Шоу-рум располагается на территории фабрики, что также позволяет посетить и ознакомиться со всеми этапами производства. 
			.room-about__right
				.room-about__address-title Адрес шоу-рума:
				.room-about__address Домодедово, микрорайон «Западный», Промзона Текстильщик, с12
				a(href="#").btn.btn--light.btn--margin-right Схема проезда
				a(href="#").btn.btn--light Показать на карте