+include-style('where-to-buy-landing')
.where-to-buy-wrap
	+lazy-img({
		img_mod: 'where-to-buy-wrap__bg-img', 
		img: 'images/where-to-buy-bg-mobile.jpg',
		placeholder: pixel
	}).where-to-buy-wrap__bg
	.container
		.container-custom
			+presection-title-main({
				title: 'Скоро в продаже'
			})
	.where-to-buy(style="background-image: url('/local/templates/html/images/where-to-buy-bg.jpg'")
		.container
			.where-to-buy__shops
				.where-to-buy__offline
					+lazy-img({
						img: 'images/offline-shop.png',
						placeholder: pixel
					})
					.where-to-buy__content.where-to-buy__content--online
						.where-to-buy__title В магазинах
				.where-to-buy__online
					+lazy-img({
						img: 'images/online-shop.png',
						placeholder: pixel
					})
					.where-to-buy__content.where-to-buy__content--offline
						.where-to-buy__title В интернет-магазине