+b.features
    .container
        .features__inner
            mixin feature(args={})
                +b.feature
                    +e.__icon-wrap
                        img.feature__icon(src=args.icon alt="icon" width="48" height="48")
                    +e.__title!=args.title
                    +e.__text=args.text
            +feature({
                icon: 'images/f1.svg',
                title: 'Цены <br>от производителя',
                text: 'Мы даем лучшую цену на рынке',
            })
            +feature({
                icon: 'images/f2.svg',
                title: 'Доставка <br>от 1 дня',
                text: 'Доставляем, поднимаем, собираем',
            })
            +feature({
                icon: 'images/f3.svg',
                title: 'Гарантия <br>от 1 года',
                text: 'Гарантия на всю продукцию',
            })
            +feature({
                icon: 'images/f4.svg',
                title: 'Любая <br>форма оплаты',
                text: 'Платите, как удобнее',
            })
            +feature({
                icon: 'images/f5.svg',
                title: 'Зачет <br>20% НДС для юрлиц',
                text: 'Платите, как удобнее',
            })
            +feature({
                icon: 'images/f6.svg',
                title: 'Опыт работы <br>20 лет',
                text: 'На рынке с 2001 года',
            })