+include-style('footer')
+include-script('footer')
footer.footer
	.footer-top
		.container
			.subscribe
				.header-top__logo.header-top__logo--footer
					a.logo(href='/local/templates/html/index.html' aria-label='На главную')
						+picture({
							modClass: 'logo__img',
							imgBig: 'logo.svg',
							imgSmall: 'logo.svg'
						})
				.subscribe__title Подпишись на рассылку
				form.bv-form.subscribe-form
					+input({
						type: 'email',
						name: 'email',
						small: false,
						placeholder: 'Ваш e-mail',
						required: true,
						pattern: false,
						validation: {
							message: 'Обязательное поле',
							regexp: 'Неверный формат',
							emailaddress: ' ',
							identical: false
						}
					})
					button.btn.btn--primary(data-submit="true")
						span Подписаться
						+icon('i-email')(style="width: 24px; height: 24px")

	.footer-center
		.container
			.footer-nav
				.footer-col
					+nav(
						{	modClass: 'nav--footer',
						big_nav: '',
						list_hidden: '',
						list: [
							{   name: 'Компания',
								span: true,
								list: [
									{ name: 'Политика конфиденциальности'},
									{ name: 'О персональный данных'},
									{ name: 'Новости'},
									{ name: 'Статьи'},
									{ name: 'Доставка и оплата'},
									{ name: 'Проекты'},
									{ name: '3D-планировщик'},
								]
							}
						]
					}
					)
				.footer-col
					+nav(
						{	modClass: 'nav--footer',
						big_nav: '',
						list_hidden: '',
						list: [
							{   name: 'Скачать материалы',
								span: true,
								list: [
									{ name: '3D-модели'},
									{ name: 'Обивки'},
									{ name: 'Тех.листы'},
									{ name: 'Схемы'},
									{ name: 'Инструкции по сборке'},
									{ name: 'Изображения'},
									{ name: 'Фотографии'},
									{ name: 'Сертификаты'},
									{ name: 'Бланк рекламации'},
									{ name: 'Рекламные материалы'},
								]
							}
						]
					}
					)
				.footer-col
					+nav(
						{	modClass: 'nav--footer',
						big_nav: '',
						list_hidden: '',
						list: [
							{   name: 'Каталог',
								span: true,
								list: [
									{ name: 'Диваны и кресла'},
									{ name: 'Банкетки и пуфы'},
									{ name: 'Мобильные перегородки'},
								]
							}
						]
					}
					)
					+nav(
						{	modClass: 'nav--footer',
						big_nav: '',
						list_hidden: '',
						list: [
							{   name: 'Партнерам',
								span: true,
								list: [
									{ name: 'Дилерам'},
									{ name: 'Дизайнерам'},
									{ name: 'Поставщикам'},
								]
							}
						]
					}
					)
				.footer-col
					+nav(
						{	modClass: 'nav--footer',
						big_nav: '',
						list_hidden: '',
						list: [
							{   name: 'Информация',
								span: true,
								list: [
									{ name: 'Новинки'},
									{ name: 'Остатки на складе'},
									{ name: 'Шоу-рум'},
									{ name: 'Прайс'},
								]
							}
						]
					}
					)
				.footer-col
					.footer-contacts
						.footer-contacts__title Контакты
						.footer-contacts__descr Склад, офис, производство, шоу-рум находятся по адресу:
						.footer-contacts__address Домодедово, Промзона Текстильщик, с12
						a(href="#").btn.btn--light Схема проезда
						.footer-contacts__time
							span.time__icon
								+icon('i-timer')(style='width: 24px; height: 24px;')
							span.time__period Пн–Пт  9:00–18:00
						include ../contacts/contacts
						.btn.btn--light(data-target="#modal-feedback" data-toggle="modal") Обратный звонок
	.footer-bottom
		.container
			a(href='#').footer-dev
				+icon('i-slam')(style="width:14px; height: 14px")
				span Разработка сайта - SLAM
			a(href="#").footer-map Карта сайта
			.footer-copyright 2020 © Fabrika MVK