+include-style('footer')
+include-script('footer')

footer.footer
    +b.footer-top
        .container
            .row
                .col-md-6.col-xl-4
                    +e.__title.js-f-title Каталог
                        span.arr
                    +nav({
                        modClass: 'footer-top__nav footer-top__nav--cols',
                        list: [
                            {name: 'Мебель для персонала'},
                            {name: 'Кабинеты руководителя', active: true},
                            {name: 'Стойки ресепшн'},
                            {name: 'Переговорные', link: ''},
                            {name: 'Офисные кресла'},
                            {name: 'Офисные стулья', link: ''},
                            {name: 'Офисные диваны', link: ''},
                            {name: 'Распродажа', link: ''},
                        ]
                    })
                .col-md-3.col-xl-2.footer-top__borders
                    +e.__title.js-f-title Покупателям
                        span.arr
                    +nav({
                        modClass: 'footer-top__nav',
                        list: [
                            {name: 'О нас'},
                            {name: 'Оплата', active: true},
                            {name: 'Политика безопасности данных'},
                            {name: 'Дизайн проект', link: ''},
                            {name: 'Доставка и сборка'},
                        ]
                    })
                .col-md-3.col-xl-2
                    +e.__title Контакты
                    +e.__contacts
                        +e.__contact.anim-map
                            +icon("i-map")
                            span.text Бизнес-центр „Сириус Парк“ Москва, Каширское ш. 3, корп. 2, стр. 2
                        +e.__contact
                            +e('a').__contact-link.anim-mail(href="mailto:info@mavikom.ru")
                                +icon("anim-i-mail-top").anim-mail-top
                                +icon("anim-i-mail-bottom")
                                span.text info@mavikom.ru
                        +e.__contact
                            +e('a').__contact-link.anim-ding(href="tel:+74996488477")
                                +icon("i-tel")
                                span.text +7(499) 648-84-77
                        +e.__contact
                            +icon("i-time")
                            span.text Будние дни с 9.00 до 18.00
                .col-md-12.col-xl-4
                    +e.__info
                        +lazy-img({
                            img: 'images/footer.jpg',
                            placeholder: pixel,
                            img_mod: '',
                            wrap_mod: 'footer-top__img-wrap',
                            link: false,
                            aria_label: false,
                        })
                        +e.__info-p Все права защищены, копирование, публикация материалов без разрешения владельцев домена запрещены
                        .subscribe
                            .subscribe__title Подписаться на рассылку
                            form.subscribe__form
                                +input({
                                    label: '',
                                    type: 'email',
                                    name: false,
                                    small: false,
                                    placeholder: 'Ваша электронная почта',
                                    required: true,
                                    pattern: 'email',
                                    validation: {
                                        message: 'Обязательное поле',
                                        regexp: 'Неверный формат',
                                        emailaddress: ' ',
                                        identical: false
                                    }
                                })
                                button.btn.subscribe__submit(type='submit' aria-label='Подписаться')
                                    +icon('i-subscribe')
    +b.footer-bottom
        .container
            .row
                .col-md-3.col-xl-4
                    a(href="https://slam.by/").slam
                        +icon('i-slam')
                        span Разработка сайта — SLAM
                .col-md-3.col-xl-4
                    .pay
                        +lazy-img({
                            img: 'images/visa.svg',
                            placeholder: pixel,
                            img_mod: '',
                            wrap_mod: 'pay__img-wrap',
                            link: false,
                            aria_label: false,
                        })
                        +lazy-img({
                            img: 'images/mastercard.svg',
                            placeholder: pixel,
                            img_mod: '',
                            wrap_mod: 'pay__img-wrap',
                            link: false,
                            aria_label: false,
                        })
                .col-md-6.col-xl-4
                    +e.__right
                        a(href="#").sitemap Карта сайта
                        .copyright © 2001—2021 ООО «Мавиком-офис»
