+nav({
    modClass: 'personal-nav',
    list: [
        {name: 'Профиль пользователя',link: ''},
        {name: 'Заказы', link: '',},
        {name: 'Корзина'},
        {name: 'Избранное', active: true},
    ]
})
