@import "../../assets/css/vars_mixins/vars_mixins";

.file {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	letter-spacing: normal;
	font-size: 15px;
	line-height: 1.2;
	&:hover {
		.icon {
			fill: $c-primary;
		}
		label {
			color: $c-primary;
		}
	}
	.icon {
		margin-right: 5px;
		transition: fill 0.4s;
		fill: $c-text;
	}
	span,
	label {
		cursor: pointer;
		transition: color 0.4s;
		color: $c-text;
		font-weight: 300;
		line-height: 1.2;
		border-bottom: 1px dashed;
	}
}
input[type="file"] {
	position: absolute;
	z-index: 0;
	opacity: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

.file-download--xls,
.file-download {
	display: flex;
	align-items: center;
	.icon {
		display: block;
		text-align: center;
		width: 28px;
		min-width: 28px;
		height: 32px;
		line-height: 24px;
		background: rgba(31,114,70,0.5);
		position: relative;
		padding: 0 3px 3px 0;
		transition: padding ease 0.4s;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(31,114,70,0.8);
			transform: translate(-3px,-3px);
			transition: transform ease 0.4s;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(31,114,70,0.3);
			transform: translate(3px,3px);
			transition: transform ease 0.4s;
		}
		span {
			position: relative;
			z-index: 1;
			font-weight: 600;
			font-size: 10px;
			color: #fff;
		}
	}
	.name {
		font-size: 13px;
		padding-left: 10px;
	}
	&:hover {
		.icon {
			padding: 0 5px 5px 0;
		}
		.icon:before {
			transform: translate(-5px,-3px);
		}
		.icon:after {
			transform: translate(5px,3px);
		}
	}
}

//все расцветки по макету
.file-download--mkv {
	.icon {
		background: rgba(7,130,225,0.5);
		&::before {
			background: rgba(7,130,225,0.8);
		}
		&::after {
			background: rgba(7,130,225,0.3);
		}
	}
}
.file-download--mp3 {
	.icon {
		background: rgba(26,6,127,0.5);
		&::before {
			background: rgba(26,6,127,0.8);
		}
		&::after {
			background: rgba(26,6,127,0.3);
		}
	}
}
.file-download--ogg {
	.icon {
		background: rgba(201,60,0,0.5);
		&::before {
			background: rgba(201,60,0,0.8);
		}
		&::after {
			background: rgba(201,60,0,0.3);
		}
	}
}
.file-download--pdf {
	.icon {
		background: rgba(245,0,0,0.5);
		&::before {
			background: rgba(245,0,0,0.8);
		}
		&::after {
			background: rgba(245,0,0,0.3);
		}
	}
}
.file-download--png {
	.icon {
		background: rgba(89,139,8,0.5);
		&::before {
			background: rgba(89,139,8,0.8);
		}
		&::after {
			background: rgba(89,139,8,0.3);
		}
	}
}
.file-download--ppt {
	.icon {
		background: rgba(246,171,24,0.5);
		&::before {
			background: rgba(246,171,24,0.8);
		}
		&::after {
			background: rgba(246,171,24,0.3);
		}
	}
}
.file-download--rar {
	.icon {
		background: rgba(113,0,104,0.5);
		&::before {
			background: rgba(113,0,104,0.8);
		}
		&::after {
			background: rgba(113,0,104,0.3);
		}
	}
}
.file-download--tif {
	.icon {
		background: rgba(86,17,140,0.5);
		&::before {
			background: rgba(86,17,140,0.8);
		}
		&::after {
			background: rgba(86,17,140,0.3);
		}
	}
}
.file-download--txt {
	.icon {
		background: rgba(68,103,129,0.5);
		&::before {
			background: rgba(68,103,129,0.8);
		}
		&::after {
			background: rgba(68,103,129,0.3);
		}
	}
}
.file-download--waw {
	.icon {
		background: rgba(40,183,244,0.5);
		&::before {
			background: rgba(40,183,244,0.8);
		}
		&::after {
			background: rgba(40,183,244,0.3);
		}
	}
}
.file-download--wma {
	.icon {
		background: rgba(0,69,122,0.5);
		&::before {
			background: rgba(0,69,122,0.8);
		}
		&::after {
			background: rgba(0,69,122,0.3);
		}
	}
}
//по умолчанию
.file-download--xls {}
.file-download--7z {
	.icon {
		background: rgba(25,25,25,0.5);
		&::before {
			background: rgba(25,25,25,0.8);
		}
		&::after {
			background: rgba(25,25,25,0.3);
		}
	}
}
.file-download--ai {
	.icon {
		background: rgba(255,156,40,0.5);
		&::before {
			background: rgba(255,156,40,0.8);
		}
		&::after {
			background: rgba(255,156,40,0.3);
		}
	}
}
.file-download--avi {
	.icon {
		background: rgba(72,116,151,0.5);
		&::before {
			background: rgba(72,116,151,0.8);
		}
		&::after {
			background: rgba(72,116,151,0.3);
		}
	}
}
.file-download--bmp {
	.icon {
		background: rgba(127,147,127,0.5);
		&::before {
			background: rgba(127,147,127,0.8);
		}
		&::after {
			background: rgba(127,147,127,0.3);
		}
	}
}
.file-download--crd {
	.icon {
		background: rgba(0,148,95,0.5);
		&::before {
			background: rgba(0,148,95,0.8);
		}
		&::after {
			background: rgba(0,148,95,0.3);
		}
	}
}
.file-download--doc {
	.icon {
		background: rgba(0,108,191,0.5);
		&::before {
			background: rgba(0,108,191,0.8);
		}
		&::after {
			background: rgba(0,108,191,0.3);
		}
	}
}
.file-download--eps {
	.icon {
		background: rgba(206,111,0,0.5);
		&::before {
			background: rgba(206,111,0,0.8);
		}
		&::after {
			background: rgba(206,111,0,0.3);
		}
	}
}
.file-download--gif {
	.icon {
		background: rgba(32,182,102,0.5);
		&::before {
			background: rgba(32,182,102,0.8);
		}
		&::after {
			background: rgba(32,182,102,0.3);
		}
	}
}
.file-download--jpg {
	.icon {
		background: rgba(129,185,39,0.5);
		&::before {
			background: rgba(129,185,39,0.8);
		}
		&::after {
			background: rgba(129,185,39,0.3);
		}
	}
}
.file-download--zip {
	.icon {
		background: rgba(155,109,54,0.5);
		&::before {
			background: rgba(155,109,54,0.8);
		}
		&::after {
			background: rgba(155,109,54,0.3);
		}
	}
}
.file-download--wmp {
	.icon {
		background: rgba(92,92,92,0.5);
		&::before {
			background: rgba(92,92,92,0.8);
		}
		&::after {
			background: rgba(92,92,92,0.3);
		}
	}
}