mixin card-slide(args={})
	+include-style('card-slide')
	if args.link
		+b('a').card-slide(href=args.href || '#' aria-label=args.title class=args.class)
			+lazy-img-slider({
				img: args.img_src,
				placeholder: pixel,
				img_mod: 'card-slide__img',
				wrap_mod: 'card-slide__img-wrap',
				link: false,
				aria_label: false,
			})
			+e.__descr
				+e.__descr-title=args.title
				block
	else
		+b.card-slide(class=args.class)
			+lazy-img-slider({
				img: args.img_src,
				placeholder: pixel,
				img_mod: 'card-slide__img',
				wrap_mod: 'card-slide__img-wrap',
				link: false,
				aria_label: false,
			})
			+e.__descr
				+e.__descr-title=args.title
				block
