+modal({
	id: 'archive-card',
	mod: 'archive-modal-card',
	title: '#14 от 23 февраля 2021 года',
	header: true,
	dialog_mod: ''
})
	+include-style('content')
	.archive-modal-card-content
		.archive-modal-card-includes.content
			.archive-modal-card-includes__title Содержание номера:
			.archive-modal-card-includes-list
				a(href="#").archive-modal-card-includes-list__item Чистая страна, надежная, небольшая. Находится возле Европы…
				a(href="#").archive-modal-card-includes-list__item Чистая страна, надежная, небольшая. Находится возле Европы…
				a(href="#").archive-modal-card-includes-list__item Чистая страна, надежная, небольшая. Находится возле Европы…
				a(href="#").archive-modal-card-includes-list__item Чистая страна, надежная, небольшая. Находится возле Европы…
				a(href="#").archive-modal-card-includes-list__item Чистая страна, надежная, небольшая. Находится возле Европы…
				a(href="#").archive-modal-card-includes-list__item Чистая страна, надежная, небольшая. Находится возле Европы…
				a(href="#").archive-modal-card-includes-list__item Чистая страна, надежная, небольшая. Находится возле Европы…
				a(href="#").archive-modal-card-includes-list__item Чистая страна, надежная, небольшая. Находится возле Европы…
				a(href="#").archive-modal-card-includes-list__item Чистая страна, надежная, небольшая. Находится возле Европы…
				a(href="#").archive-modal-card-includes-list__item Чистая страна, надежная, небольшая. Находится возле Европы…
				a(href="#").archive-modal-card-includes-list__item Чистая страна, надежная, небольшая. Находится возле Европы…
		.archive-modal-card-get-number
			.archive-modal-card-get-number__img
				img(src='../images/archive-modal.jpg')
			.archive-modal-card-get-number__title Какой-нибудь главный заголовок газеты. Желательно краткий
			a(href="#").btn.btn--primary.btn--download Скачать номер в PDF
			.archive-modal-card-get-number__pay Пожалуйста, купите <a href="#">подписку</a>, чтобы скачать номер