extends ../../layout/layout

block vars
	- var pageTitle = 'Доставка и оплата'
	- var pageBodyClass = ''
	- var dir = './'


block premain

	include ../../components/basket-step-2/basket-step-2

block main
	.no-critical.no-critical--preloader

block pageModal
	include ../../components/modal/modal-success/modal-success

block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
