@import 'src/assets/css/vars_mixins/vars_mixins';

.how-work {
  margin: 0 0 65px;
  &__inner {
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    padding: 46px 0;
  }
  &__title {
    margin: 0 0 25px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.hw-item-col {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 20%;
  flex: 1 0 20%;
  &:last-child {
    .hw-item__arr {
      display: none;
    }
  }
}
.hw-item {
  &__header {
    display: flex;
    align-items: center;
    margin: 0 0 8px;
  }
  &__num {
    color: $c-primary;
    height: 64px;
    width: 64px;
    min-width: 64px;
    border-radius: 50%;
    border: 2px solid $c-primary;
    font-weight: 300;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    margin-right: 10px;
  }
  &__arr {
    position: relative;
    width: 100%;
    height: 8px;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='182' height='8' viewBox='0 0 182 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M181.354 4.35354C181.549 4.15828 181.549 3.84169 181.354 3.64643L178.172 0.464451C177.976 0.269188 177.66 0.269188 177.464 0.464451C177.269 0.659713 177.269 0.976295 177.464 1.17156L180.293 3.99998L177.464 6.82841C177.269 7.02367 177.269 7.34026 177.464 7.53552C177.66 7.73078 177.976 7.73078 178.172 7.53552L181.354 4.35354ZM4.37114e-08 4.5L181 4.49998L181 3.49998L-4.37114e-08 3.5L4.37114e-08 4.5Z' fill='%23E4411D'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__text {
    font-weight: 300;
  }
}

@media (max-width: $lg - 1) {
  .hw-item-col {
    max-width: 33.3333%;
    flex: 1 0 33.3333%;
  }
}

@media (max-width: $md - 1) {
  .how-work {
    &__inner {
      padding: 30px 15px;
    }
  }
}

@media (max-width: $sm - 1) {
  .hw-item-col {
    max-width: 100%;
    flex: 1 0 100%;
    &:last-child {
      .hw-item {
        margin: 0;
        &__text::after {
          display: none;
        }
      }
    }
  }
  .hw-item {
    margin: 0 0 90px;

    &__header {
      flex-direction: column;
    }
    &__arr {
      display: none;
      &::after {
        display: none;
      }
    }
    &__text {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: calc(50% - 4px);
        background-image: url("data:image/svg+xml,%3Csvg width='182' height='8' viewBox='0 0 182 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M181.354 4.35354C181.549 4.15828 181.549 3.84169 181.354 3.64643L178.172 0.464451C177.976 0.269188 177.66 0.269188 177.464 0.464451C177.269 0.659713 177.269 0.976295 177.464 1.17156L180.293 3.99998L177.464 6.82841C177.269 7.02367 177.269 7.34026 177.464 7.53552C177.66 7.73078 177.976 7.73078 178.172 7.53552L181.354 4.35354ZM4.37114e-08 4.5L181 4.49998L181 3.49998L-4.37114e-08 3.5L4.37114e-08 4.5Z' fill='%23E4411D'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 65px;
        height: 8px;
        transform: rotate(90deg) translate(15px,-50%);
        transform-origin: 0 0;
      }
    }
  }
}