+include-style('control')
.control
	.container
		.container-custom
			+presection-title-main({
				title: 'Преимущества <span>glo™ hyper+</span>'
			})
			.technology__advantages
				.advantage__title.technology__advantages-mob Технология нагревания табака это:
				+advantage({
					img: '/images/boost.png',
					title:"Функция BOOST",
					descr:"Ускоренный нагрев устройства <br> за 15 секунд",
				})
				+advantage({
					img: '/images/power.png',
					title:"До 20 сессий на одном заряде***",
					descr:"Одна зарядка обеспечивает до 20 сеансов <br> использования",
					sub: "***При использовании режима BOOST и при условии полной зарядки устройства. Количество сессий может варьироваться в зависимости от потребления."
				})