extends ../../layout/layout

block componentsStyles
	+style-includer()

block vars
	- var bodyClass = 'no-transition not-found-page'
	- var pageTitle = '404'
	- var dir = './'


block premain
	include ../../components/404/404

block main
	.no-critical.no-critical--preloader
		.container


block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()


block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/masonry.min.js" defer)

