+include-style('category')
.category-wrap
	.container
		include ../filter-section-search/filter-section-search
		+include-style('model-row')
		.model-row-wrap
			.model-row
				.model-row__list
					+product-card({
						price: 'от 202 280 ₽',
						mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card({
						price: 'от 202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card({
						price: 'от 202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card({
						price: 'от 202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card({
						price: 'от 202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card({
						price: 'от 202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card({
						price: 'от 202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card({
						price: 'от 202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card({
						price: 'от 202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card({
						price: 'от 202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card({
						price: 'от 202 280 ₽',
							mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
					+product-card({
						price: 'от 202 280 ₽',
						mod: 'product-card--buy',
						title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
					})
			include ../pagination/pagination