mixin fs-slide(args= {})
	+include-style('fs-slide')

	.fs-slide(class=args.mod_class)
		if(args.noLazy)
			+picture({
				source: [
					{
						img: 'images/fs-slide-' + args.count + '-xl.jpg',
						media: 415
					}, {
						img: 'images/fs-slide-' + args.count + '-sm.jpg 1x',
						media: 250
					}
				],
				link: true,
				link_class: 'fs-slide__link',
				img: 'images/fs-slide-' + args.count + '-xl.jpg',
				img_mod: 'fs-slide__img',
				wrap_mod: 'fs-slide__img-wrap'
			})
		else
			+lazy-picture-slider({
				source: [
					{
						img: 'images/fs-slide-' + args.count +'-xl.jpg',
						placeholder: pixel,
						media: 415
					}, {
						img: 'images/fs-slide-' + args.count +'-sm.jpg 1x',
						placeholder: pixel,
						media: 250
					}
				],
				link: true,
				link_class: 'fs-slide__link',
				img: 'images/fs-slide-' + args.count +'-xl.jpg',
				placeholder: 'images/fs-slide-' + args.count +'-xl.jpg' ,
				img_mod: 'fs-slide__img',
				wrap_mod: 'fs-slide__img-wrap'
			})