include ../../utility/bemto-setting
include ../../utility/_globalVars
include ../../utility/_mixins
include ../../utility/_functions

+include-style-ajax('header-mob-drop')

.header-mob-drop__inner
    .header-mob-drop__nav-btn
        span.text Меню
        span.close.js-close-mob-nav
            +icon('i-close')
    .header-mob-drop__scroll
        .header-mob-drop__catalog-btn.js-mob-catalog-btn
            span.text Каталог
            span.arr
        +nav({
            modClass: 'header-mob-drop__catalog-nav',
				img:false,
            list: [
                {
                    img: 'images/nav1.svg',
                    name: 'Мебель для персонала',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2 последний пункт',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav2.svg',
                    name: 'Кабинеты руководителя',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели последний пункт',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav3.svg',
                    name: 'Мебель для переговорных',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2 последний пункт',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav4.svg',
                    name: 'Мягкая мебель для офиса',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2 последний пункт',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav5.svg',
                    name: 'Стойки ресепшн',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2 последний пункт',
                            link: '',
                        },
                    ]
                },

                {
                    img: 'images/nav1.svg',
                    name: 'Офисные столы',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2 последний пункт',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav2.svg',
                    name: 'Офисные шкафы',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2 последний пункт',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav3.svg',
                    name: 'Столы для переговоров',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2 последний пункт',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav4.svg',
                    name: 'Офисные диваны',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav5.svg',
                    name: 'Офисные кресла',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                    ]
                },

                {
                    img: 'images/nav1.svg',
                    name: 'Офисные стулья',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav2.svg',
                    name: 'Офисные кухни',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav3.svg',
                    name: 'Офисные перегородки',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav4.svg',
                    name: 'Журнальные столы',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav5.svg',
                    name: 'Офисные вешалки',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                    ]
                },

                {
                    img: 'images/nav1.svg',
                    name: 'Металлическая мебель',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav2.svg',
                    name: 'Сейфы',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav3.svg',
                    name: 'Аксессуары для кресел',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                    ]
                },
                {
                    img: 'images/nav4.svg',
                    name: 'Распродажа офисной мебели',
                    link: '',
                    noflex_nav: true,
                    list: [
                        {
                            name: 'Журнальные столы 2',
                            link: '',
                        },
                        {
                            name: 'Офисные вешалки 2',
                            link: '',
                        },

                        {
                            name: 'Металлическая мебель 2',
                            link: '',
                        },
                        {
                            name: 'Сейфы 2',
                            link: '',
                        },
                        {
                            name: 'Аксессуары для кресел 2',
                            link: '',
                        },
                        {
                            name: 'Распродажа офисной мебели 2',
                            link: '',
                        },
                    ]
                },

            ]
        })
        a(href="#").sale-link.anim-clone-rotate
            +icon('i-star-fill').main
            +icon('i-star-fill').clone
            span.text Распродажа
        +nav({
            modClass: 'header-mob-drop__sec-nav',
            list: [
                {name: 'О компании',link: './about.html'},
                {
                    name: 'Покупателям', link: '',
                    list: [
                        {name: 'Дизайн-проект', link: ''},
                        {name: 'Доставка и сборка', active: true, span: true},
                        {name: 'Доставка'},
                        {name: 'Оплата'},
                    ]
                },
                {name: 'Дизайнерам'},
                {name: 'Шоу-рум', active: true},
                {name: 'Проекты', link: ''},
                {name: 'Контакты', link: ''},
            ]
        })
        .mob-contacts
            .mob-contacts__item.anim-map
                +icon("i-map")
                span.text Бизнес-центр „Сириус Парк“ Москва, Каширское ш. 3, корп. 2, стр. 2
            .mob-contacts__item
                a.mob-contacts__link.anim-mail(href="mailto:info@mavikom.ru")
                    +icon("anim-i-mail-top").anim-mail-top
                    +icon("anim-i-mail-bottom")
                    span.text info@mavikom.ru
            .mob-contacts__item
                a.mob-contacts__link.anim-ding(href="tel:+74996488477")
                    +icon("i-tel")
                    span.text.text--tel +7(499) 648-84-77
            .mob-contacts__item
                +icon("i-time")
                span.text Будние дни с 9.00 до 18.00
