@import "src/assets/css/vars_mixins/vars_mixins";

.header-mob-drop {
  &__inner {}
  &__scroll {
    overflow-y: auto;
    height: calc(100vh - 38px);
  }
  &__nav-btn {
    background: $c-primary;
    padding: 7px 15px;
    min-height: 38px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
      font-size: 18px;
      font-weight: 500;
    }
    .close {
      display: block;
    }
    .close .icon {
      height: 15px;
      width: 15px;
      fill: #fff;
    }
  }
  &__catalog-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 7px 15px;
    min-height: 38px;
    color: $c-primary;
    border-bottom: 1px solid $c-primary;
    .text {
      font-size: 18px;
      font-weight: 500;
    }
    .arr {
      position: relative;
      display: block;
      height: 12px;
      width: 12px;
      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 12px;
        width: 12px;
        border-right: 1px solid $c-primary;
        border-top: 1px solid $c-primary;
        transform: rotate(45deg);
      }
    }
  }
  &__catalog-btn.active {
    .arr::before {
      transform: rotate(135deg);
    }
  }

  //меню каталога
  &__catalog-nav {
    display: none;
    //max-height: 0;
    //visibility: hidden;
    //transition: max-height ease 0.4s, visibility ease 0.4s;
    .nav-link {
      position: relative;
      display: flex;
      align-items: center;
      color: $c-dark;
      padding: 7px 15px;
      font-weight: 600;
    }
    .nav-item.has-nav .nav-link::before {
      content: '';
      position: absolute;
      right: 18px;
      top: 50%;
      height: 8px;
      width: 8px;
      border-right: 1px solid $c-add;
      border-bottom: 1px solid $c-add;
      transform: rotate(45deg) translate(0,-5px);
      transform-origin: 50% 0;
    }
    .nav-item.has-nav .nav-link.open::before {
      transform: rotate(225deg) translate(0,-5px);
    }

    .nav-item-img-wrap {
      display: block;
    }
    .nav-item-img {
      width: 47px;
    }
    .nav-item-name {
      padding-left: 10px;
    }
    .nav-lvl2 {
      display: none;
      //max-height: 0;
      //visibility: hidden;
      //transition: max-height ease 0.4s, visibility ease 0.4s;
    }
    .nav-lvl2.open {
      display: block;
      //max-height: 9999999px;
      //visibility: visible;
    }
    .nav-lvl2-list {
      // display: flex;
      // flex-wrap: wrap;
    }
    .nav-lvl2-item {
      // max-width: 50%;
      // flex: 1 0 50%;
    }
    .nav-lvl2-link {
      display: block;
      padding: 5px 15px;
    }
  }
  &__catalog-nav.active {
    //max-height: 9999999px;
    //visibility: visible;
    display: block;
  }
  .sale-link {
    padding: 20px 15px 10px;
    display: inline-flex;
  }

  //дополнительное меню
  &__sec-nav {
    .nav-link {
      display: block;
      padding: 10px 15px;
      font-weight: 600;
      color: #000;
      position: relative;
    }
    .nav-item.has-nav .nav-link::before {
      content: '';
      position: absolute;
      right: 18px;
      top: 50%;
      height: 8px;
      width: 8px;
      border-right: 1px solid $c-primary;
      border-bottom: 1px solid $c-primary;
      transform: rotate(45deg) translate(0,-5px);
      transform-origin: 50% 0;
    }
    .nav-item.has-nav .nav-link.open::before {
      transform: rotate(225deg) translate(0,-5px);
    }
    .nav-lvl2 {
      display: none;
    }
    .nav-lvl2.open {
      display: block;
    }
    .nav-lvl2-list {
      padding: 0 0 5px;
    }
    .nav-lvl2-link {
      display: block;
      padding: 4px 15px 4px 30px;
    }
  }
}

.mob-contacts {
  padding: 20px 15px;
  &__item {
    font-weight: 300;
    display: flex;
    align-items: center;
    color: #000;
    &:not(:last-child) {
      margin: 0 0 15px;
    }
    .icon {
      height: 20px;
      width: 20px;
      min-width: 20px;
      fill: $c-primary;
    }
    .text {
      padding-left: 10px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
  }
}