+include-style('model-row')
.model-row-wrap
	.container
		.model-row
			+presection({
				title: 'Модельный ряд коллекции Бридж'
			})
			.model-row__list
				+product-card({
					price: 'от 202 280 ₽',
					mod: 'product-card--buy',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой',
					available: true
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой',
					labels: [
						{
							mod: 'product-label--discount',
							title: 'Скидка 25%',
						},
						{
							mod: 'product-label--new',
							title: 'Новинка',
						},
						{
							mod: 'product-label--recommend',
							title: 'Рекомендуем',
						},
					],
					order: true
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой',
					labels: [
						{
							mod: 'product-label--new',
							title: 'Новинка',
						},
						{
							mod: 'product-label--recommend',
							title: 'Рекомендуем',
						},
						{
							mod: 'product-label--custom',
							title: 'Кастом лейбл',
						},
					],
					disabled: true
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой',
					disabled: true
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой',
					available: true
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой',
					order: true
				})
				+product-card({
					price: 'от 202 280 ₽',
					mod: 'product-card--buy',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой',
					available: true
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой',
					labels: [
						{
							mod: 'product-label--discount',
							title: 'Скидка 25%',
						},
						{
							mod: 'product-label--new',
							title: 'Новинка',
						},
						{
							mod: 'product-label--recommend',
							title: 'Рекомендуем',
						},
					],
					order: true
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой',
					labels: [
						{
							mod: 'product-label--new',
							title: 'Новинка',
						},
						{
							mod: 'product-label--recommend',
							title: 'Рекомендуем',
						},
						{
							mod: 'product-label--custom',
							title: 'Кастом лейбл',
						},
					],
					disabled: true
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой',
					disabled: true
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой',
					available: true
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой',
					order: true
				})