+include-style('model-row')
.model-row-wrap
	.container
		.model-row
			+presection({
				title: 'Модельный ряд коллекции Бридж'
			})
			.model-row__list
				+product-card({
					price: 'от 202 280 ₽',
					mod: 'product-card--buy',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
				})
				+product-card({
					price: 'от 202 280 ₽',
					title: 'Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой'
				})