+include-style('room-cards')
.room-cards-wrap
	.container
		.room-cards
			.room-card
				a(href='#').room-card__img
					+lazy-img({
						img: 'images/room-card-1.jpg',
					})
				a(href='#').room-card__link
					span.room-card__title Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой 
					span.room-card__code  Артикул: Brd3HL
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')
			.room-card.half-width-card 
				a(href='#').room-card__img
					+lazy-img({
						img: 'images/room-card-2.jpg',
					})
				a(href='#').room-card__link
					span.room-card__title Офисный диван БРИДЖ
					span.room-card__code Артикул: Brd3HL
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')
			.room-card.half-width-card
				a(href='#').room-card__img
					+lazy-img({
						img: 'images/room-card-3.jpg',
					})
				a(href='#').room-card__link
					span.room-card__title Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой
					span.room-card__code  Артикул: Brd3HR
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')
			.room-card
				a(href='#').room-card__img
					+lazy-img({
						img: 'images/room-card-4.jpg',
					})
				a(href='#').room-card__link
					span.room-card__title Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой 
					span.room-card__code  Артикул: Brd3HL
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')
			.room-card
				a(href='#').room-card__img
					+lazy-img({
						img: 'images/room-card-5.jpg',
					})
				a(href='#').room-card__link
					span.room-card__title Офисный диван БРИДЖ
					span.room-card__code Артикул: Brd3HL 
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')
			.room-card
				a(href='#').room-card__img
					+lazy-img({
						img: 'images/room-card-6.jpg',
					})
				a(href='#').room-card__link
					span.room-card__title Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой
					span.room-card__code  Артикул: Brd3HR
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')
			.room-card
				a(href='#').room-card__img
					+lazy-img({
						img: 'images/room-card-7.jpg',
					})
				a(href='#').room-card__link
					span.room-card__title Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой 
					span.room-card__code  Артикул: Brd3HL
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')
			.room-card
				a(href='#').room-card__img
					+lazy-img({
						img: 'images/room-card-8.jpg',
					})
				a(href='#').room-card__link
					span.room-card__title Офисный диван БРИДЖ
					span.room-card__code Артикул: Brd3HL 
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')
			.room-card.half-width-card
				a(href='#').room-card__img
					+lazy-img({
						img: 'images/room-card-9.jpg',
					})
				a(href='#').room-card__link
					span.room-card__title Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой
					span.room-card__code  Артикул: Brd3HR
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')
			.room-card.half-width-card
				a(href='#').room-card__img
					+lazy-img({
						img: 'images/room-card-10.jpg',
					})
				a(href='#').room-card__link
					span.room-card__title Офисный диван БРИДЖ с высокими  боковыми панелями и спинкой 
					span.room-card__code  Артикул: Brd3HL
					span.room-card__arrow
						+icon('i-link')(style='width: 14px; height: 14px')