mixin shop(args={})
	+include-style('mixin__shop')
	.shop
		.shop__header
			.shop__distance
				.shop__img
					+lazy-img({
						img:'images/glo-shop.png',
						placeholder: pixel
					})
				.shop__value 180 м.
			.shop__location
				.shop__title= args.title
				.shop__adress= args.adress
		.shop__footer
			.shop__type Устройства
			.shop__type Cтики neo <sup>tm</sup>