+include-style('news')
.news-wrap
	.container
		.news
			+news-card({
				img: 'images/news-card-1.jpg',
				type: 'Новость',
				mod: 'news-card--news-page',
				title: 'Международная выставка IMM Cologne 2014',
				descr: 'В первых числах января 2014 года в Кельне пройдет долгожданная выставка IMM Cologne 2014'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				type: 'Акция',
				title: 'Расширенная гарантия на 3 года',
				descr: 'Расширенная гарантия на 3 года'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				type: 'Новость',
				title: 'Современная перевозочная компания',
				descr: 'Удобство и стиль – главные критерии подбора мебели в компании «СПК».'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				type: 'Акция',
				title: 'Современная перевозочная компания',
				descr: 'Удобство и стиль – главные критерии подбора мебели в компании «СПК».'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				title: 'Международная выставка IMM Cologne 2014',
				descr: 'В первых числах января 2014 года в Кельне пройдет долгожданная выставка IMM Cologne 2014'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				title: 'Расширенная гарантия на 3 года',
				descr: 'Расширенная гарантия на 3 года'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				title: 'Современная перевозочная компания',
				descr: 'Удобство и стиль – главные критерии подбора мебели в компании «СПК».'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				title: 'Современная перевозочная компания',
				descr: 'Удобство и стиль – главные критерии подбора мебели в компании «СПК».'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				title: 'Международная выставка IMM Cologne 2014',
				descr: 'В первых числах января 2014 года в Кельне пройдет долгожданная выставка IMM Cologne 2014'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--product-page',
				title: 'Расширенная гарантия на 3 года',
				descr: 'Расширенная гарантия на 3 года'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				title: 'Современная перевозочная компания',
				descr: 'Удобство и стиль – главные критерии подбора мебели в компании «СПК».'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				title: 'Современная перевозочная компания',
				descr: 'Удобство и стиль – главные критерии подбора мебели в компании «СПК».'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				title: 'Международная выставка IMM Cologne 2014',
				descr: 'В первых числах января 2014 года в Кельне пройдет долгожданная выставка IMM Cologne 2014'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				title: 'Расширенная гарантия на 3 года',
				descr: 'Расширенная гарантия на 3 года'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				title: 'Современная перевозочная компания',
				descr: 'Удобство и стиль – главные критерии подбора мебели в компании «СПК».'
			})
			+news-card({
				img: 'images/news-card-1.jpg',
				mod: 'news-card--news-page',
				title: 'Современная перевозочная компания',
				descr: 'Удобство и стиль – главные критерии подбора мебели в компании «СПК».'
			})
		include ../pagination/pagination