+modal({
	id: 'modal-success',
	mod: 'modal-success',
	dialog_mod: '',
	header: true,
})
	.modal-success-body
		.modal-success-body__title.h36 Спасибо!
		.modal-success-body__check.h32 Заказ №003682 сформирован
		.modal-success-body__descr.h26 В ближайшее время с вами свяжется наш <br> менеджер для подтверждения заказа!
		.modal-success-body__order.order-info
			.order-info__title.h16 glo™ hyper+ белый 
			.order-info__field
				.order-info__prop Количество
				.order-info__val.h16 1шт.
			.order-info__field
				.order-info__prop Цена
				.order-info__val.h16 990 руб.
			.order-info__submit.btn.btn--black.btn--wide.btn--green Перейти к оплате
