+include-style('catalog-start')
+include-script('catalog-start')

mixin catalog-aitem(args)
	-args = args || {}
	.catalog-aitem-wrap.js-mass-item
		+b.catalog-aitem
			+e.__head
				if args.src
					+lazy-img({
						img: args.src,
						placeholder: pixel,
						img_mod: 'catalog-aitem__img',
						wrap_mod: 'catalog-aitem__img-wrap',
						link: false,
						aria_label: false,
					})
				+e.__title=args.head
			+e.__body
				block

.catalog-accordeon.js-mass-wrap
	+catalog-aitem({
		head: 'Кровля',
		src: "images/catalog-01.jpg"
	})
		+nav({
			compress: false,
			list: [
				{
					name: 'Водосточная система',
					link: '/local/templates/html/catalog.html',
					active: true,
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Наплавляемая кровля',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Праймеры',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Пленки',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Мастики',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Рубероид',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Гибкая черепица DÖCKE (Дёке)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софит ПВХ комплектующие',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софиты DÖCKE (РФ)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Шифер',
					link: '/local/templates/html/catalog.html',
				},
			]
		})
	+catalog-aitem({
		head: 'Теплоизоляция',
		src: "images/catalog-02.jpg"
	})
		+nav({
			compress: false,
			list: [
				{
					name: 'Водосточная система',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Наплавляемая кровля',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Праймеры',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Пленки',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Мастики',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Рубероид',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Гибкая черепица DÖCKE (Дёке)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софит ПВХ комплектующие',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софиты DÖCKE (РФ)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Шифер',
					link: '/local/templates/html/catalog.html',
				},
			]
		})
	+catalog-aitem({
		head: 'Краска, лаки и пропитки',
		src: "images/catalog-03.jpg"
	})
		+nav({
			compress: false,
			list: [
				{
					name: 'Водосточная система',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Наплавляемая кровля',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Праймеры',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Пленки',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Мастики',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Рубероид',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Гибкая черепица DÖCKE (Дёке)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софит ПВХ комплектующие',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софиты DÖCKE (РФ)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Шифер',
					link: '/local/templates/html/catalog.html',
				},
			]
		})
	+catalog-aitem({
		head: 'Сухие смеси',
		src: "images/catalog-04.jpg"
	})
		+nav({
			compress: false,
			list: [
				{
					name: 'Водосточная система',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Наплавляемая кровля',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Праймеры',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Пленки',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Мастики',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Рубероид',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Гибкая черепица DÖCKE (Дёке)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софит ПВХ комплектующие',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софиты DÖCKE (РФ)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Шифер',
					link: '/local/templates/html/catalog.html',
				},
			]
		})
	+catalog-aitem({
		head: 'Кровля',
		src: "images/catalog-01.jpg"
	})
		+nav({
			compress: false,
			list: [
				{
					name: 'Водосточная система',
					link: '/local/templates/html/catalog.html',
					active: true,
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Наплавляемая кровля',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Праймеры',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Пленки',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Мастики',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Рубероид',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Гибкая черепица DÖCKE (Дёке)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софит ПВХ комплектующие',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софиты DÖCKE (РФ)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Шифер',
					link: '/local/templates/html/catalog.html',
				},
			]
		})
	+catalog-aitem({
		head: 'Теплоизоляция',
		src: "catalog-02.jpg"
	})
		+nav({
			compress: false,
			list: [
				{
					name: 'Водосточная система',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Наплавляемая кровля',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Праймеры',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Пленки',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Мастики',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Рубероид',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Гибкая черепица DÖCKE (Дёке)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софит ПВХ комплектующие',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софиты DÖCKE (РФ)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Шифер',
					link: '/local/templates/html/catalog.html',
				},
			]
		})
	+catalog-aitem({
		head: 'Краска, лаки и пропитки',
		src: "catalog-03.jpg"
	})
		+nav({
			compress: false,
			list: [
				{
					name: 'Водосточная система',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Наплавляемая кровля',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Праймеры',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Пленки',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Мастики',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Рубероид',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Гибкая черепица DÖCKE (Дёке)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софит ПВХ комплектующие',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софиты DÖCKE (РФ)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Шифер',
					link: '/local/templates/html/catalog.html',
				},
			]
		})
	+catalog-aitem({
		head: 'Сухие смеси',
		src: "catalog-04.jpg"
	})
		+nav({
			compress: false,
			list: [
				{
					name: 'Водосточная система',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Наплавляемая кровля',
					link: '/local/templates/html/catalog.html',
					list: [
						{
							name: 'Водосточная система GALECO D110/80',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D130/100',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система GALECO D90/50',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (цвет пломбир)',
							link: '/local/templates/html/catalog.html',
						},
						{
							name: 'Водосточная система DEKE стандарт (шоколад)',
							link: '/local/templates/html/catalog.html',
						},
					]
				},
				{
					name: 'Праймеры',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Пленки',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Мастики',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Рубероид',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Гибкая черепица DÖCKE (Дёке)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софит ПВХ комплектующие',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Софиты DÖCKE (РФ)',
					link: '/local/templates/html/catalog.html',
				},
				{
					name: 'Шифер',
					link: '/local/templates/html/catalog.html',
				},
			]
		})