+include-style('system')
.system-wrap
	+lazy-bg({
		img: 'images/system-bg.png',
		wrap_mod: 'system-wrap__wrap',
		img_mod: 'system-wrap__img',
	})
	.container
		.container-custom.container-custom-mobile
			.system
				.system__top
					.system__side.system__about
						.system__title.h36
							.system__title-linear Нагревание,
							.system__title-ususal а не горение*
						+divider({
							mod: 'divider--orange'
						})
						.system__descr.h20 Внутри устройства находится цилиндрическая камера, в которую вставляется табачный стик**. <br> При включении устройства стик нагревается при температуре 260 С°. <br> В результате образуется насыщенный никотином пар. При нагревании полностью отсутствует процесс горения, а значит токсичных веществ выделяется меньше*.
							.system__bottom
								.system-bottom__descr.h16 *По сравнению с курением обычных сигарет. Это необязательно означает, что данная продукция менее вредная, чем другая продукция из табака.
								.system-bottom__descr.h16 **Стик – некурительное табачное изделие, предназначенное для использования в системах для потребления табака.
					.system__side.system__tempretures
						.system-tempterature
							.system-tempterature__view
								+lazy-img({
									img: '/images/260C.png',
									wrap_mod: '.system-tempterature__img',
									placeholder: pixel
								})
						.system-tempterature__descr-list
							.system-tempterature__descr.system-tempterature__descr--green Температура нагревания <br> табака в устройствах glo™