+include-style('contacts')
.page-wrap
	.container
		.container-custom-mobile
			+presection-title({
				title: 'Мы на связи 24/7'
			})
			.contacts
				.contacts__descr Ты можешь связаться с нами любым удобным способом круглосуточно и без выходных 
	.contacts__content
		.container
			.container-custom-mobile
				.row
					.col-24.col-lg-14.offset-lg-5
						.contacts__phone
							a(href="tel:+37529606060").btn.btn--primary.btn--wide +375 (29) 606-60-60
								+icon('i-phone')(style="width: 23px; height: 23px")
						.contacts__free Бесплатно по всей Беларуси
						.contacts__info Ты можешь найти ответы в разделе FAQ или связаться с нами по электронной почте, в соцсетях или через форму 
						.contacts-links
							.contacts-links__item
								.contacts-links__item-image
									img(src="images/contacts-faq.png")
								a(href="/local/templates/html/faq.html").contacts-links__item-link Вопросы и ответы
							.contacts-links__item
								.contacts-links__item-image
									img(src="images/contacts-mail.png")
								a(href="mailto:info@myglo.by").contacts-links__item-link info@myglo.by					
							.contacts-links__item
								.contacts-links__item-image
									img(src="images/contacts-inst.png")
								a(href="#").contacts-links__item-link Инстаграм					
							.contacts-links__item
								.contacts-links__item-image
									img(src="images/contacts-vk.png")
								a(href="#").contacts-links__item-link Вконтакте
	form.bv-form.contacts-form
		.contacts-form__title Отправь нам сообщение
		.contacts-form__fields
			.container
				.container-custom-mobile
					.row
						.col-24.col-md-12.col-lg-10.offset-lg-2.contacts-form__fields-first
							+input({
								type: 'text',
								fg_mod: 'form-control--margin form-group--common form-group--help-bottom',
								mod: 'form-control--common',
								name: false,
								label: 'Имя*',
								small: true,
								placeholder: 'Введите имя',
								required: true,
								pattern: true,
								validation: {
									message: 'Заполните поле',
									regexp: 'Неверный формат',
									emailaddress: '',
									identical: false
								}
							})
							.contacts-form__require-descr Обязательное поле для заполнения*
							+input({
								type: 'tel',
								fg_mod: 'form-control--margin form-group--common form-group--help-bottom',
								mod: 'form-control--common',
								name: false,
								label: 'Телефон*',
								small: true,
								placeholder: '',
								required: true,
								pattern: true,
								validation: {
									message: 'Заполните поле',
									regexp: 'Неверный формат',
									emailaddress: '',
									identical: false
								}
							})
							+input({
								type: 'email',
								fg_mod: 'form-control--margin form-group--common form-group--help-bottom',
								mod: 'form-control--common',
								name: false,
								label: 'Адрес электронной почты (e-mail)*',
								small: true,
								placeholder: 'info@myglo.by',
								required: true,
								pattern: true,
								validation: {
									message: 'Заполните поле',
									regexp: 'Неверный формат',
									emailaddress: '',
									identical: false
								}
							})
						.col-24.col-md-12.col-lg-10
							+textarea({
								type: 'text',
								fg_mod: 'form-control--margin form-group--common form-group--help-bottom',
								mod: 'form-control--common',
								name: false,
								label: 'Чем можем помочь?',
								placeholder: 'Напиши нам',
							})(rows="6")
							+checkbox({
								require: true,
								fg_mod: 'subscribe-form-footer__checkbox registration--checkbox',
								input_mod: '',
								policy: true
								})(data-bv-message="Примите соглашение")
					.contacts-form__submit
						button.btn.btn--black.btn--wide(type="submit") Отправить