mixin product-card(args={})
	+include-script('3dView')
	+include-style('mixin__product-card')
	+include-script('mixin__product-card')
	.product-card&attributes(attributes)(class= args.mod).js-3d-view
		.product-card__image
			+lazy-img({
				img: args.img,
				wrap_mod: 'product-card__image-img',
				placeholder: pixel
			})
		.product-card__icons
			.product-card__rotate
				+icon('i-rotate')(style="width: 55px; height: 32px")
			if (args.cartIcon)
				.product-card__cart
					+icon('i-cart')(style="width: 40px; height: 40px")
					.header-cart__total 1
		.product-card__content
			.product-card__title!= args.title
			.product-card__descr= args.descr
			if (args.sku)
				.product-card__price-wrap.product-card__price-wrap--sku
					form.product-card__sku
						+radio({
							name: 'color',
							wrap_mod: 'color-picker-wrap',
							class_mod: 'color-picker color-1',
							checked: true,
						})
						+radio({
							name: 'color',
							wrap_mod: 'color-picker-wrap',
							class_mod: 'color-picker color-2',
						})
					if (args.mod == 'cart')
						+counter({
							max_value: 10,
							min_value: 1,
							baseStep: 1,
							step: 1,
							value: 1,
							})
				.product-card__price= args.price
			else
				.product-card__price-wrap
					.product-card__price= args.price
					if (args.mod == 'cart')
						+counter({
							max_value: 10,
							min_value: 1,
							baseStep: 1,
							step: 1,
							value: 1,
							})
		if (!args.landing)
			a(href="#").product-card__more
				if (args.mod == 'cart')
					.btn.btn--black В корзину
						+icon('i-cart')(style="width: 28px; height: 28px")
				else
					.btn.btn--primary Узнать больше