@import "src/assets/css/vars_mixins/vars_mixins";

.product-card {
	padding: 30px;
	display: flex;
	flex-direction: column;
	// margin-left: -1px;
	@media (max-width: $sm - 1) {
		padding: 0px;
		margin-bottom: 30px;
	}
	border: 1px solid transparent;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	margin: 0 -1px 0 0px;
	position: relative;
	@media (max-width: $sm - 1){
		border-left: 0px;
		border-right: 0px;
	}
	// &:nth-child(3n){
	// 	&:after{
	// 		position: absolute;
	// 		content: '';
	// 		width: 1px;
	// 		height: 100%;
	// 		background-color: #000;
	// 		z-index: 10;
	// 		top: 0;
	// 		left: 0;
	// 	}
	// }
	@media (min-width: 1024px){
		&:hover {
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;
			border-left: 1px solid #000;
			border-right: 1px solid #000;
			background-color: rgba(0, 0, 0, 0.009);
		}
	}
	&__img-wrap{
		@media (max-width: $sm - 1){
			max-width: 300px;
			width: 100%;
			margin: auto;
		}
	}
	&__labels{
		position: absolute;
		top: 5px;
		right: 0;
		display: flex;
		justify-content: flex-end;
		padding: 0px 10px;
		z-index: 10;
		flex-wrap: wrap;
		gap: 3px;
	}
	&__img {
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 300px;
		padding-bottom: 100%;
		position: relative;

		.lazy-img-wrap{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				margin: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
	&__code {
		font-size: 14px;
		@include lineheight(14, 21);
		font-weight: 300;
	}
	&__title {
		color: #000;
		font-weight: 400;
		font-size: 16px;
		display: block;
		@include lineheight(16, 24);
		margin-bottom: 12px;
		height: 48px;
		overflow: hidden;
	}
	&__sku-item {
		height: 24px;
		align-items: center;
		position: relative;
		&.available{
			
			color: #7DCA00;
			.product-card__sku-property{
				font-weight: 500;
				color: #7DCA00;
			}
			.product-card__sku-value{
				font-weight: 500;
			}
		}
		&.order{
			color: #0782E1;
			.product-card__sku-property{
				font-weight: 500;
				color: #0782E1;
			}
			.product-card__sku-value{
				font-weight: 500;
			}
		}
		&.disabled{
			color: #82828275;
			.product-card__sku-property{
				font-weight: 500;
				color: #82828275;
			}
			.product-card__sku-value{
				font-weight: 500;
			}
		}
	}
	&__sku-property {
		color: #828282;
		font-weight: 300;
		font-size: 14px;
		@include lineheight(14, 21);
	}
	&__sku-value {
		font-weight: 300;
		font-size: 14px;
		@include lineheight(14, 21);
		display: flex;
		align-items: center;
	}
	&__sku-value-color {
		width: 24px;
		height: 24px;
		background-color: #9d8c87;
		right: 0;
		margin-left: 15px;
	}
	&__sku-wrap{
		// height: 120px;
	}
	&__sku {
		margin-bottom: 18px;
		overflow: hidden;
	}
	&__price {
		font-size: 32px;
		line-height: 1.2;
		font-weight: 400;
		margin-bottom: 12px;
		height: 38px;
		overflow: hidden;
	}
	&__footer{
		margin-top: auto;
	}
	&__choose {
		width: 100%;
	}
	&__order {
		display: flex;
	}
	&__counter{
		@media (max-width: $sm - 1){
			width: 100%;
		}
		.counter-input{
			width: 100%;
			max-width: none;
		}
	}
	.btn.btn--primary.product-card__buy {
		width: 100%;
		margin-left: 8px;
		padding: 9px 20px;
		height: 44px;
		.icon {
			stroke: none;
		}
		@media (max-width: $sm - 1){
			width: auto;
			padding: 0px;
			width: 44px;
			height: 44px;
			min-width: auto;
			flex: 0 0 auto;
			.icon{
				margin-left: 0px;
			}
		}
	}
	.product-card__buy-title{
		@media (max-width: $sm - 1){
			display: none;
		}
	}
}
.product-card.slider-card {
	@media (max-width: $sm - 1) {
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
	}
}
