+include-style('collections-slider')
+include-script('collections-slider')
.collections-slider
	+swiper({
		wrapper_mod: '',
		container_mod: '',
		pagination_mod: '',
		arrow_prev_mod: '',
		arrow_next_mod: '',
		pagination: false,
		navigation: true,
	}).collections-slider.js-collections-slider
		.swiper-slide
			.collections-slider__item
				a(href="#").collections-slider__item-title Бридж
				.collections-slider__item-descr Новая большая серия офисных диванов БРИДЖ включает в себя модели с высокими и низкими боковыми панелями и спинками.
				a(href="#").collections-slider__item-img
					+lazy-img-slider({
						img: 'images/collections-slider-1.jpg',
						placeholder: pixel,
						link: false,
					})
		.swiper-slide
			.collections-slider__item
				a(href="#").collections-slider__item-title Дакар
				.collections-slider__item-descr Строгий стильный диван ДАКАР сочетает в себе брутальный внешний вид с эффектом легкости.
				a(href="#").collections-slider__item-img
					+lazy-img-slider({
						img: 'images/collections-slider-2.jpg',
						placeholder: pixel,
						link: false,
					})
		.swiper-slide
			.collections-slider__item
				a(href="#").collections-slider__item-title Домино
				.collections-slider__item-descr Диваны из коллекции РАЙТ созданы по итальянским образцам. В них соединились стиль и эргономика. Диваны очень удобны и практичны.
				a(href="#").collections-slider__item-img
					+lazy-img-slider({
						img: 'images/collections-slider-3.jpg',
						placeholder: pixel,
						link: false,
					})
		.swiper-slide
			.collections-slider__item
				a(href="#").collections-slider__item-title Молекула
				.collections-slider__item-descr Серия «Молекула» разработана специально для просторных холлов, больших залов торговых комплексов.
				a(href="#").collections-slider__item-img
					+lazy-img-slider({
						img: 'images/collections-slider-4.jpg',
						placeholder: pixel,
						link: false,
					})
		.swiper-slide
			.collections-slider__item
				a(href="#").collections-slider__item-title Молекула
				.collections-slider__item-descr Серия «Молекула» разработана специально для просторных холлов, больших залов торговых комплексов.
				a(href="#").collections-slider__item-img
					+lazy-img-slider({
						img: 'images/collections-slider-1.jpg',
											placeholder: pixel,
															link: false,
					})
		.swiper-slide
			.collections-slider__item
				a(href="#").collections-slider__item-title Молекула
				.collections-slider__item-descr Серия «Молекула» разработана специально для просторных холлов, больших залов торговых комплексов.
				a(href="#").collections-slider__item-img
					+lazy-img-slider({
						img: 'images/collections-slider-2.jpg',
											placeholder: pixel,
											link: false,
					})
		.swiper-slide
			.collections-slider__item
				a(href="#").collections-slider__item-title Молекула
				.collections-slider__item-descr Серия «Молекула» разработана специально для просторных холлов, больших залов торговых комплексов.
				a(href="#").collections-slider__item-img
					+lazy-img-slider({
						img: 'images/collections-slider-3.jpg',
											placeholder: pixel,
															link: false,
					})
