@import "src/assets/css/vars_mixins/vars_mixins";

.comments-section {
  padding: 20px 0 45px;
  &__header {
    align-items: flex-end;
  }
  &__title {}
  &__link {
    margin-bottom: 5px;
  }
  &__slider {
    margin: 0 -10px;
  }

  .swiper-container {
    margin: -10px 0;
    padding: 10px 10px;
  }
}

.comment-item {
  &__img-wrap {
    transition: box-shadow ease 0.4s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  }
  &__img {
    max-width: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  &:hover {
    .comment-item {
      &__img-wrap {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
      }
    }
  }
}

@media (max-width: $sm - 1) {
  .comments-section {
    padding: 20px 0;
    &__slider {
      margin: 0 -16px;
    }
    .swiper-container {
      padding: 10px 16px;
    }
    .swiper-slide {
      width: 211px;
    }
  }
}