mixin input-file(args={})
	+include-style('mixin__input-file')
	+include-script('mixin__input-file')
	.input-file-group
		.form-group
			input(type="file" name="input__file" id="input__file" class="input__file form-control" multiple="multiple" required="true")
		.choosen-files-wrap
			.choosen-file
				.choosen-file__item Файл не выбран
			label(for="input__file" class="label-input-file")
				span.input__file-icon 
					+icon('i-swip')(style="width: 23px; height: 23px")
				//- span.input__file-button.empty 
				//- 	span= args.title
				//- 	+icon('i-plus')(style="width:16px; height: 16px")
				//- span.input__file-choosen 