@import "src/assets/css/vars_mixins/vars_mixins";


.choosen-file {
	height: 58px;
	background-color: #F6F6F6;
	width: 100%;
	display: flex;
	align-items: center;
	@media (max-width: $sm - 1){
		height: 45px;
	}

	&__item {
		padding: 11px 16px;
		background-color: #f9f9f9;
		border-radius: 50px;
		font-weight: normal;
		font-size: 16px;
		@include lineheight(16, 24);
		color: #6A6A6A;
		// margin-bottom: 16px;
		// margin-right: 16px;
		display: flex;
		align-items: center;
		.icon{
			flex: 0 0 auto;
			margin-right: 15px;
		}
		@media (max-width: $xs - 1){
			font-size: 12px;
		}
	}
	&__item-img{
		width: 15px;
		height: 20px;
		margin-right: 6px;
	}
}
.choosen-files-wrap{
	display: flex;
	&.active{
		.choosen-file{
			border: 1px solid $green;
		}
		.label-input-file {
			background-color: #8E8E8E;
		}
	}
}
.label-input-file{
	width: 54px;
	height: 58px;
	background-color: $c-primary;
	display: flex;
	align-items: center;
	justify-content: center;
	.icon{
		fill: #fff;
	}
	&:hover{
		cursor: pointer;
	}
	@media (max-width: $sm - 1){
		height: 45px;
	}
}

input[name="input__file"] { 
	display: none;
}
.input__file-icon {
	stroke: $c-link;
}
.input__file-button {
	color: $c-link;
	margin-left: 11px;
	display: inline-flex;
	align-items: center;
	.icon {
		stroke: $c-link;
		margin-left: 12px;
	}

	&.empty {
		text-decoration: underline;
		.icon {
			stroke: transparent;
		}
	}
}