+include-style('registration')
.page-wrap
	.container
		.container-custom-mobile
			+presection-title({
				title: 'Создание учетной записи'
			})
			.row
				.col-sm-24.col-md-16.col-xl-10
					.registration__descr.h26 Регистрируй свой glo  и будь вкурсе интересных новинок, а так же получай информацию первым
					.authorization__title.document-check__title Авторизация
					a(href="/local/templates/html/authorization.html").authorization__link.h18 У вас уже есть аккаунт?
					form.bv-form.document-check
						.document-check__title Проверка документа
						.document-check__label Фотография паспорта
						.document-check__filed
							+input-file({
								title: 'Выбрать файл'
							})
						.document-check__points
							.document-check__point Тип файла: jpg, jpEg, jpe, jfif, jp2, pcx, pdf, bmp, png, gif, tif, tiff.
							.document-check__point Размер файла: до 15 мб
							.document-check__point Разрешение: более 300 dpi, рекомендованный формат 600 х 600 пикселей
							.document-check__point Изображения должны быть цветными, без бликов, сделаные при хорошем освещении, без теней и фильтров, не размытые
						.document-check__instruction Инструкция по загрузке документа
						+checkbox({
							require: true,
							fg_mod: 'subscribe-form-footer__checkbox registration--checkbox',
							input_mod: '',
							policy: true
							})(data-bv-message="Примите соглашение")
						.document-check__control
							button.document-check__submit.btn.btn--primary.btn--wide(data-submit="true" type="submit") Создать
							button.document-check__submit.btn.btn--grey.btn--wide Отменить
					form.bv-form.profile-form
						.document-check__title Мои данные
						.profile-form__title Заполни все поля ниже
						//- +input({
						//- 	type: 'text',
						//- 	fg_mod: 'form-control--margin form-group--common',
						//- 	mod: 'form-control--common',
						//- 	name: false,
						//- 	label: 'Имя',
						//- 	small: true,
						//- 	placeholder: 'Как в загруженном документе, например Иван',
						//- 	required: true,
						//- 	pattern: true,
						//- 	validation: {
						//- 		message: 'Заполните поле',
						//- 		regexp: 'Неверный формат',
						//- 		emailaddress: '',
						//- 		identical: false
						//- 	}
						//- })
						//- +input({
						//- 	type: 'text',
						//- 	fg_mod: 'form-control--margin form-group--common',
						//- 	mod: 'form-control--common',
						//- 	name: false,
						//- 	label: 'Фамилия',
						//- 	small: true,
						//- 	placeholder: 'Как в загруженном документе, например Иванов',
						//- 	required: true,
						//- 	pattern: true,
						//- 	validation: {
						//- 		message: 'Заполните поле',
						//- 		regexp: 'Неверный формат',
						//- 		emailaddress: '',
						//- 		identical: false
						//- 	}
						//- })
						//- +custom-select({
						//- 	label: "Пол",
						//- 	fg_mod: 'form-control--margin form-group--common',
						//- 	mod: 'form-control--common',
						//- 	items: [
						//- 		{value: 'Муж.'},
						//- 		{value: 'Жен.'}
						//- 	]
						//- })
						//- +datapicker({
						//- 	mod: 'form-control--margin',
						//- 	label: 'Дата рождения',
						//- })
						//- //- .profile-form__birthday
						//- //- 	+custom-select({
						//- //- 		label: "Дата рождения",
						//- //- 		mod: 'form-control--common',
						//- //- 		items: [
						//- //- 		{value: ''},
						//- //- 		{value: '1'},
						//- //- 		{value: '2'},
						//- //- 		{value: '3'},
						//- //- 		{value: '4'},
						//- //- 		{value: '5'},
						//- //- 		{value: '6'},
						//- //- 		{value: '7'},
						//- //- 		{value: '8'},
						//- //- 		{value: '9'},
						//- //- 		{value: '10'},
						//- //- 		{value: '11'},
						//- //- 		{value: '12'},
						//- //- 		{value: '13'},
						//- //- 		{value: '14'},
						//- //- 		{value: '15'},
						//- //- 		{value: '16'},
						//- //- 		{value: '17'},
						//- //- 		{value: '18'},
						//- //- 		{value: '19'},
						//- //- 		{value: '20'},
						//- //- 		{value: '21'},
						//- //- 		{value: '22'},
						//- //- 		{value: '23'},
						//- //- 		{value: '24'},
						//- //- 		{value: '25'},
						//- //- 		{value: '26'},
						//- //- 		{value: '27'},
						//- //- 		{value: '28'},
						//- //- 		{value: '29'},
						//- //- 		{value: '30'},
						//- //- 		]
						//- //- 	})(data-placeholder='День')
						//- //- 	+custom-select({
						//- //- 		mod: 'form-control--common',
						//- //- 		items: [
						//- //- 		{value: ''},
						//- //- 		{value: 'Январь'},
						//- //- 		{value: 'Февраль'},
						//- //- 		{value: 'Март'},
						//- //- 		{value: 'Апрель'},
						//- //- 		{value: 'Май'},
						//- //- 		{value: 'Июнь'},
						//- //- 		{value: 'Июль'},
						//- //- 		{value: 'Август'},
						//- //- 		{value: 'Сентябрь'},
						//- //- 		{value: 'Октябрь'},
						//- //- 		{value: 'Ноябрь'},
						//- //- 		{value: 'Декабрь'},
						//- //- 		]
						//- //- 	})(data-placeholder='Месяц')
						//- //- 	+custom-select({
						//- //- 		fg_mod: '',
						//- //- 		mod: 'form-control--common',
						//- //- 		items: [
						//- //- 		{value: ''},
						//- //- 		{value: '2020'},
						//- //- 		{value: '2019'},
						//- //- 		{value: '2018'},
						//- //- 		{value: '2017'},
						//- //- 		{value: '2016'},
						//- //- 		{value: '2015'},
						//- //- 		{value: '2014'},
						//- //- 		{value: '2013'},
						//- //- 		{value: '2012'},
						//- //- 		{value: '2011'},
						//- //- 		{value: '2010'},
						//- //- 		{value: '2009'},
						//- //- 		]
						//- //- 	})(data-placeholder='Год')
						//- +input({
						//- 	type: 'tel',
						//- 	fg_mod: '',
						//- 	mod: 'form-control--common ',
						//- 	fg_mod: 'form-control--margin form-group--common',
						//- 	label: 'Телефон',
						//- 	name: false,
						//- 	small: true,
						//- 	placeholder: 'Введите адрес электронной почты',
						//- 	required: true,
						//- 	pattern: true,
						//- 	validation: {
						//- 		message: 'Заполните поле',
						//- 		regexp: 'Неверный формат',
						//- 		emailaddress: '',
						//- 		identical: false
						//- 	}
						//- })
						//- +input({
						//- 	type: 'email',
						//- 	fg_mod: '',
						//- 	mod: 'form-control--common',
						//- 	fg_mod: 'form-control--margin form-group--common',
						//- 	label: 'Электронная почта',
						//- 	name: false,
						//- 	small: true,
						//- 	placeholder: 'E-mail',
						//- 	required: true,
						//- 	pattern: true,
						//- 	validation: {
						//- 		message: 'Заполните поле',
						//- 		regexp: 'Неверный формат',
						//- 		emailaddress: '',
						//- 		identical: false
						//- 	}
						//- })
						.profile-form__password
							+input({
								label: '*Пароль',
								type: 'password',
								mod: 'form-control--common',
								fg_mod: 'form-control--margin form-group--common',
								name: false,
								small: false,
								placeholder: '',
								required: true,
								pattern: false,
								validation: {
									message: 'Заполните поле',
									regexp: 'Неверный формат',
									emailaddress: ' ',
									identical: false,
									callback: {
										message: `Пароль должен быть не менее 10 символов длиной.
Пароль должен содержать латинские символы верхнего регистра (A-Z).
Пароль должен содержать латинские символы нижнего регистра (a-z).
Пароль должен содержать знаки пунктуации (,.<>/?;:'"[]{}\|~!@#$%^&*()_+=-).`
	}
		}
							})(data-password="password")
								.show-pass.js-show-pass
							+input({
								label: '*Повторите пароль',
								type: 'password',
								mod: 'form-control--common',
								fg_mod: 'form-control--margin form-group--common',
								name: false,
								small: false,
								placeholder: '',
								required: true,
								pattern: false,
								validation: {
									message: 'Заполните поле',
									regexp: 'Неверный формат',
									emailaddress: ' ',
									identical: false,
																		callback: {
										message: `Пароли не совпадают`
	}
								} 
							})(data-password="password-identical")
								.show-pass.js-show-pass
						button.profile-form__submit.btn.btn--primary.btn--wide(data-submit="true" type="submit") Сохранить
include ../modal/modal-login/modal-login